<section class="employment-page-about-us">
    <h2 class="section-title">About Golden Gate Manor Inc.</h2>
    <p class="mission-statement section-text">
        Our Mission:
        PEOPLE WHO VALUE THEIR QUALITY OF LIFE CAN DEPEND ON US.
        At Golden Gate Manor, Our Mission Is Simple:
        To Improve The Quality of Life Each and Every Day.
    </p>
    <p class="section-text">Welcome to Golden Gate Manor! We are a family-owned and 
        operated facility that offers highly personalized, compassionate, and direct 
        care to members of our community in Pueblo, CO. Our services include assisted 
        living, medical and non-medical transportation services, and medical supply 
        sales.
    </p>
    <a href="/about-us" class="cta-button"><span class="read-more-plus">+ </span>Learn More</span></a>
</section>