<section class="employment-page-section about-us page-content">
    <h2 class="employment-page section-title">About Golden Gate Manor Inc.</h2>
    <p class="mission-statement section-text">
        PEOPLE WHO VALUE THEIR QUALITY OF LIFE CAN DEPEND ON US.
    </p>
    <p class="section-text">Welcome to Golden Gate Manor! Here at Golden Gate Manor, Our 
        Mission Is Simple: To Improve The Quality of Life Each and Every Day. We 
        are a family-owned and operated facility that offers highly personalized, 
        compassionate, and direct care to members of our community in Pueblo, CO. 
        Our services include assisted living, medical and non-medical transportation 
        services, and medical supply sales.
    </p>
    <h2 class="employment-page section-title">Our Team</h2>
    <p class="section-text">The management team at Golden Gate Manor brings over 35 years 
    of experience in caring and providing for older adults, individuals with mental illness, 
    and overseeing transportation operations. Our mission is to foster a welcoming and relaxing 
    environment, whether someone is living in our assisted living or utilizing our transportation services. 
    Fostering this environment is part of our standard of care and this is an expectation from all employees 
    working at Golden Gate Manor.</p>
    <a href="/about-us" class="cta-button"><span class="read-more-plus">+ </span>Learn More</span></a>
</section>