<section class="employment-page-section cta">
    <h2 class="employment-page section-title cta">Explore Career Opportunities</h2>
    <p class="employement-page section-text cta">
        We're always on the lookout for passionate individuals to join our diverse team! 
        As our company expands, new opportunities arise across our different businesses. 
        Discover where you can make an impact!
    </p>
    <a href="/about-us/employment/apply?select=other" class="secondary-button">Join Our Team</a>
</section>