<section class="employment-page-hero-shot">
    <div class="employement-hero-shot-wrapper">
        <h1 class="employment-page-title">
            <span class="employement-page-title-span employment-page-top-title">Looking for work?</span>
            <span class="employement-page-title-span employment-page-bottom-title">
                We are looking for potential employees who are:
                <ul class="employment-page-what-we-want">
                    <li class="employment-page-want-item">Reliable and punctual</li>
                    <li class="employment-page-want-item">Solution oriented</li>
                    <li class="employment-page-want-item">Friendly to customers and associates</li>
                    <li class="employment-page-want-item">Team oriented</li>
                    <li class="employment-page-want-item">Eager to learn</li>
                </ul>
            </span>
        </h1>
        <a href="/about-us/employment/apply?select=other" class="cta-button employement-opportunity-button">Apply Now!</a>
    </div>
</section>