<section class="employment-page-opportunities">
    <h2 class="employment-page section-title opportunities">Job Opportunities</h2>
    <div class="employment-page-opportunity-cards-container">
        <div class="employment-page-opportunity-card transportation">
            <div class="opportunity-card-front transportion">
                <h2 class="opportunity-card-title">Transportation</h2>
                <p class="opportunity-card-description">Join our team of dedicated drivers and dispatchers</p>
            </div>
            <div class="opportunity-card-back transportation">
                <h2 class="job-opportunity-list-title">Transportation Positions</h2>
                <div class="department-positions">
                    <h3 class="opportunity-card-title">City Cab</h3>
                    <ul class="job-opportunity-list-items">
                        <li class="job-opportunity-list-item">Dispatcher</li>
                        <li class="job-opportunity-list-item">Driver</li>
                        <li class="job-opportunity-list-item">Office Admin</li>
                    </ul>
                </div>
                <div class="department-positions">
                    <h3 class="opportunity-card-title">Non-Emergency</h3>
                    <ul class="job-opportunity-list-items">
                        <li class="job-opportunity-list-item">Customer Service</li>
                        <li class="job-opportunity-list-item">Driver</li>
                        <li class="job-opportunity-list-item">Office Admin</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="employment-page-opportunity-card assisted-living">
            <div class="opportunity-card-front assisted-living">
                <h2 class="opportunity-card-title">Assisted Living</h2>
                <p class="opportunity-card-description">Care for our community with compassion</p>
            </div>
            <div class="opportunity-card-back assisted-living">
                <h2 class="job-opportunity-list-title">Assisted Living Positions</h2>
                <div class="department-positions">
                    <h3 class="opportunity-card-title">Assisted Care Facility</h3>
                    <ul class="job-opportunity-list-items">
                        <li class="job-opportunity-list-item">QMAP</li>
                        <li class="job-opportunity-list-item">Caregiver</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="employment-page-opportunity-card medical-supply-store">
            <div class="opportunity-card-front medical-supply-store">
                <h2 class="opportunity-card-title">Medical Supply</h2>
                <p class="opportunity-card-description">Support our community's health and well-being</p>
            </div>
            <div class="opportunity-card-back medical-supply-store">
                <h2 class="job-opportunity-list-title">Medical Supply Positions</h2>
                <div class="department-positions">
                    <h3 class="opportunity-card-title">DME Store</h3>
                    <ul class="job-opportunity-list-items">
                        <li class="job-opportunity-list-item">DME Specialist</li>
                        <li class="job-opportunity-list-item">Delivery Technician</li>
                        <li class="job-opportunity-list-item">Inventory Technician</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="employment-page-opportunity-card gas-station">
            <div class="opportunity-card-front gas-station">
                <h2 class="opportunity-card-title">Gas Station</h2>
                <p class="opportunity-card-description">Join us on our newest adventure</p>
            </div>
            <div class="opportunity-card-back gas-station">
                <h2 class="job-opportunity-list-title">Gas Station Positions</h2>
                <div class="department-positions">
                    <h3 class="opportunity-card-title">Convenience Store</h3>
                    <ul class="job-opportunity-list-items">
                        <li class="job-opportunity-list-item">Store Manager</li>
                        <li class="job-opportunity-list-item">Assistant Store Manager</li>
                        <li class="job-opportunity-list-item">Store Attendant</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>