<section class="employment-page-opportunities">
    <h2 class="employment-page section-title opportunities">Job Opportunities</h2>
    <div class="employment-page-opportunity-cards-container">
        <div class="employment-page-opportunity-card transportation">
            <div class="opportunity-card-front transportion">
                <h2 class="opportunity-card-title">Transportation</h2>
                <p class="opportunity-card-description">Join our team of dedicated drivers and dispatchers</p>
            </div>
            <div class="opportunity-card-back">
                <p class="job-opportunity-list-text">
                    Transportation Positions:
                </p>
                <ul class="job-opportunity-list-items">
                    <li class="job-opportunity-list-item">
                        City Cab
                        <ul class="job-opportunity-sublist-items">
                            <li class="job-opportunity-sublist-item">Dispatchers</li>
                            <li class="job-opportunity-sublist-item">Public Transportation Drivers</li>
                            <li class="job-opportunity-sublist-item">Office Administration</li>
                        </ul>
                    </li>
                    <li class="job-opportunity-list-item">
                        Golden Gate Manor Transportation
                        <ul class="job-opportunity-sublist-items">
                            <li class="job-opportunity-sublist-item">Customer Service Representatives</li>
                            <li class="job-opportunity-sublist-item">Non-Emergency Transportation Drivers</li>
                            <li class="job-opportunity-sublist-item">Office Administration</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="employment-page-opportunity-card assisted-living">
            <div class="opportunity-card-front assisted-living">
                <h2 class="opportunity-card-title">Assisted Living</h2>
                <p class="opportunity-card-description">Care for our community with compassion</p>
            </div>
            <div class="opportunity-card-back">

            </div>
        </div>
        <div class="employment-page-opportunity-card medical-supply-store">
            <div class="opportunity-card-front medical-supply-store">
                <h2 class="opportunity-card-title">Medical Supply</h2>
                <p class="opportunity-card-description">Support our community's health and well-being</p>
            </div>
            <div class="opportunity-card-back">

            </div>
        </div>
        <div class="employment-page-opportunity-card gas-station">
            <div class="opportunity-card-front gas-station">
                <h2 class="opportunity-card-title">Gas Station</h2>
                <p class="opportunity-card-description">Join us on our newest adventure</p>
            </div>
            <div class="opportunity-card-back">

            </div>
        </div>
    </div>
</section>