<section class="application-page-section page-content">
    <form action="">
        <div class="form-component-container">
            <label for="job-position">Position</label>
            <select name="job-position" id="job-position" data-select>
                <optgroup label="Transportation">
                    <option value="transportation">Transportation - General</option>
                </optgroup>
                <optgroup label="City Cab Positions">
                    <option value="dispatcher">Dispatcher</option>
                    <option value="cc-driver">City Cab Driver</option>
                    <option value="cc-office-staff">City Cab Office</option>
                </optgroup>
                <optgroup label="NEMT Positions">
                    <option value="csr">Customer Service Representative</option>
                    <option value="nemt-driver">NEMT Driver</option>
                </optgroup>
                <optgroup label="Assisted Living Positions">
                    <option value="assisted-living">Assisted Living - General</option>
                    <option value="qmap">Assisted Living - QMAP</option>
                    <option value="pcp">Assisted Living - PCP</option>
                </optgroup>
                <optgroup label="Medical Supply Positions">
                    <option value="medical-supply">Medical Supply - General</option>
                    <option value="dme-specialist">DME Specialist</option>
                    <option value="dme-delivery">DME Delivery Technician</option>
                    <option value="dme-inventory">DME Inventory Technician</option>
                </optgroup>
                <optgroup label="Gas Station Positions">
                    <option value="gas-station">Gas Station - General</option>
                    <option value="c-store-manager">Gas Station Manager</option>
                    <option value="c-assistant-manager">Gas Station Assistant Manager</option>
                    <option value="c-attendant">Gas Station Attendant</option>
                </optgroup>
            </select>
        </div>
    </form>
</section>