<section class="application-page-section page-content">
    <form action="">
        <div class="form-component-container">
            <label for="job-position">Position</label>
            <select name="job-position" id="job-position" data-select>
                <optgroup label="Transportation">
                    <option value="transportation" data-company="ggmt-cc">Transportation - General</option>
                </optgroup>
                <optgroup label="City Cab Positions">
                    <option value="dispatcher" data-company="cc">Dispatcher</option>
                    <option value="cc-driver" data-company="cc">City Cab Driver</option>
                    <option value="cc-office-staff" data-company="cc">City Cab Office</option>
                </optgroup>
                <optgroup label="NEMT Positions">
                    <option value="csr" data-company="ggmt">Customer Service Representative</option>
                    <option value="nemt-driver" data-company="ggmt">NEMT Driver</option>
                </optgroup>
                <optgroup label="Assisted Living Positions">
                    <option value="assisted-living" data-company="acf">Assisted Living - General</option>
                    <option value="qmap" data-company="acf">Assisted Living - QMAP</option>
                    <option value="pcp" data-company="acf">Assisted Living - PCP</option>
                </optgroup>
                <optgroup label="Medical Supply Positions">
                    <option value="medical-supply" data-company="ggms">Medical Supply - General</option>
                    <option value="dme-specialist" data-company="ggms">DME Specialist</option>
                    <option value="dme-delivery" data-company="ggms">DME Delivery Technician</option>
                    <option value="dme-inventory" data-company="ggms">DME Inventory Technician</option>
                </optgroup>
                <optgroup label="Gas Station Positions">
                    <option value="gas-station" data-company="ggmc"></option>>Gas Station - General</option>
                    <option value="c-store-manager" data-company="ggmc">Gas Station Manager</option>
                    <option value="c-assistant-manager" data-company="ggmc">Gas Station Assistant Manager</option>
                    <option value="c-attendant" data-company="ggmc">Gas Station Attendant</option>
                </optgroup>
                <optgroup label="Other">
                    <option value="other" data-company="ggm">General Application</option>
                </optgroup>
            </select>
        </div>
        <div class="form-component-container">
            <div class="input-two-container">
                <label for="first_name">First Name</label>
                <input type="text" name="first_name" id="first_name">
            </div>
            <div class="input-two-container">
                <label for="last_name">Last Name</label>
                <input type="text" name="last_name" id="last_name">
            </div>
        </div>
        <div class="form-component-container">
            <div class="input-one-container">
                <label for="address">Address</label>
                <input type="text" name="address" id="address">
            </div>
        </div>
        <div class="form-component-container">
            <div class="input-half-container">
                <label for="telephone">Phone Number</label>
                <input type="text" name="telephone" id="telephone">
            </div>
        </div>
        <div class="hidden-form-components">
            <input type="hidden" name="date" data-form-date>
            <input type="hidden" name="position" data-form-position>
        </div>
    </form>
</section>