<section class="application-page-section page-content">
    <div class="application-form-container">
        <form action="" method="post" enctype="multipart/form-data" class="application-form">
            <section class="personal-form-section">
                <h2 class="form-title">Personal Information</h2>
                <div class="form-component-container selector">
                    <label for="job-position">Position</label>
                    <select name="job-position" id="job-position" data-select onfocus='this.size=10;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
                        <optgroup label="Transportation">
                            <option value="transportation" data-company="ggmt-cc" data-job-type="driver">Transportation - General</option>
                        </optgroup>
                        <optgroup label="City Cab Positions">
                            <option value="dispatcher" data-company="cc">Dispatcher</option>
                            <option value="cc-driver" data-company="cc" data-job-type="driver">City Cab Driver</option>
                            <option value="cc-office-staff" data-company="cc">City Cab Office</option>
                        </optgroup>
                        <optgroup label="NEMT Positions">
                            <option value="csr" data-company="ggmt">Customer Service Representative</option>
                            <option value="nemt-driver" data-company="ggmt" data-job-type="driver">NEMT Driver</option>
                        </optgroup>
                        <optgroup label="Assisted Living Positions">
                            <option value="assisted-living" data-company="acf">Assisted Living - General</option>
                            <option value="qmap" data-company="acf">Assisted Living - QMAP</option>
                            <option value="pcp" data-company="acf">Assisted Living - PCP</option>
                        </optgroup>
                        <optgroup label="Medical Supply Positions">
                            <option value="medical-supply" data-company="ggms">Medical Supply - General</option>
                            <option value="dme-specialist" data-company="ggms">DME Specialist</option>
                            <option value="dme-delivery" data-company="ggms" data-job-type="driver">DME Delivery Technician</option>
                            <option value="dme-inventory" data-company="ggms" data-job-type="driver">DME Inventory Technician</option>
                        </optgroup>
                        <optgroup label="Gas Station Positions">
                            <option value="gas-station" data-company="ggmc">Gas Station - General</option>
                            <option value="c-store-manager" data-company="ggmc">Gas Station Manager</option>
                            <option value="c-assistant-manager" data-company="ggmc">Gas Station Assistant Manager</option>
                            <option value="c-attendant" data-company="ggmc">Gas Station Attendant</option>
                        </optgroup>
                        <optgroup label="Other">
                            <option value="other" data-company="ggm">General Application</option>
                        </optgroup>
                    </select>
                </div>
                <div class="form-component-container two-input">
                    <div class="input-two-container">
                        <label for="first_name">First Name</label>
                        <input type="text" name="first_name" id="first_name">
                    </div>
                    <div class="input-two-container">
                        <label for="last_name">Last Name</label>
                        <input type="text" name="last_name" id="last_name">
                    </div>
                </div>
                <div class="form-component-container one-input">
                    <div class="input-one-container">
                        <label for="address">Address</label>
                        <input type="text" name="address" id="address">
                    </div>
                </div>
                <div class="form-component-container one-input">
                    <div class="input-half-container">
                        <label for="telephone">Phone Number</label>
                        <input type="text" name="telephone" id="telephone">
                    </div>
                </div>
                <div class="form-component-container radio-inputs">
                    <fieldset class="input-radio-container">
                        <legend>Are you over the age of 18?</legend>
                        <div class="radio-inputs-container">
                            <div class="input-one-container">
                                <input type="radio" name="18_radio" id="18_yes">
                                <label class="radio-label" for="18_yes">Yes</label>
                            </div>
                            <div class="input-one-container">
                                <input type="radio" name="18_radio" id="18_no" checked>
                                <label class="radio-label" for="18_no">No</label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="form-component-container radio-inputs">
                    <fieldset class="input-radio-container">
                        <legend>Are you a citizen of the U.S. or Otherwise authorized to work in the U.S. on an unrestricted basis?</legend>
                        <div class="radio-inputs-container">
                            <div class="input-one-container">
                                <input type="radio" name="us-citizen_radio" id="us-citizen_yes">
                                <label class="radio-label" for="us-citizen_yes">Yes</label>
                            </div>
                            <div class="input-one-container">
                                <input type="radio" name="us-citizen_radio" id="us-citizen_no" checked>
                                <label class="radio-label" for="us-citizen_no">No</label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="form-component-container radio-inputs" data-parent-container="felony">
                    <fieldset class="input-radio-container">
                        <legend>Have you ever been charged with a felony?</legend>
                        <div class="radio-inputs-container">
                            <div class="input-one-container">
                                <input type="radio" name="felony_radio" id="felony_yes" data-dynamic-radio="felony">
                                <label class="radio-label" for="felony_yes">Yes</label>
                            </div>
                            <div class="input-one-container">
                                <input type="radio" name="felony_radio" id="felony_no" data-dynamic-radio="felony" checked>
                                <label class="radio-label" for="felony_no">No</label>
                            </div>
                        </div>
                        <div class="radio-inputs-container extra-input hidden">
                            <div class="input-half-container">
                                <label for="availability">Describe conviction conditions:</label>
                                <textarea name="availability" id="availability" rows="5" maxlength="100"></textarea>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </section>
            <section class="driving-form-section hidden" data-driving-section>
                <h2 class="form-title">Driving Information</h2>
                <div class="form-component-container radio-inputs" data-parent-container="endorsement">
                    <div class="form-component-container">
                        <fieldset class="input-radio-container">
                            <legend>Do you have any additional driving endorsements?</legend>
                            <div class="radio-inputs-container">
                                <div class="input-one-container">
                                    <input type="radio" name="endorsements_radio" id="endorsements_yes" data-dynamic-radio="endorsement">
                                    <label class="radio-label" for="endorsements_yes">Yes</label>
                                </div>
                                <div class="input-one-container">
                                    <input type="radio" name="endorsements_radio" id="endorsements_no" data-dynamic-radio="endorsement" checked>
                                    <label class="radio-label" for="endorsements_no">No</label>
                                </div>
                            </div>
                            <div class="radio-inputs-container extra-input hidden">
                                <div class="input-half-container">
                                    <label for="availability">Describe conviction conditions:</label>
                                    <textarea name="availability" id="availability" rows="5" maxlength="100"></textarea>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="form-component-container radio-inputs" data-parent-container="traffic-accident">
                    <div class="form-component-container">
                        <fieldset class="input-radio-container">
                            <legend>Have you had a traffic accident in the past 3 years?</legend>
                            <div class="radio-inputs-container">
                                <div class="input-one-container">
                                    <input type="radio" name="traffic-accidents_radio" id="traffic-accidents_yes" data-dynamic-radio="traffic-accident">
                                    <label class="radio-label" for="traffic-accidents_yes">Yes</label>
                                </div>
                                <div class="input-one-container">
                                    <input type="radio" name="traffic-accidents_radio" id="traffic-accidents_no" data-dynamic-radio="traffic-accident" checked>
                                    <label class="radio-label" for="traffic-accidents_no">No</label>
                                </div>
                            </div>
                            <div class="radio-inputs-container extra-input hidden">
                                <div class="input-half-container">
                                    <label for="availability">Please explain the traffic accidents:</label>
                                    <textarea name="availability" id="availability" rows="5" maxlength="100"></textarea>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="form-component-container radio-inputs" data-parent-container="traffic-conviction">
                    <div class="form-component-container">
                        <fieldset class="input-radio-container">
                            <legend>Have you had any traffic convictions in the past 3 years (besides parking violations)?</legend>
                            <div class="radio-inputs-container">
                                <div class="input-one-container">
                                    <input type="radio" name="traffic-convictions_radio" id="traffic-convictions_yes" data-dynamic-radio="traffic-conviction">
                                    <label class="radio-label" for="traffic-convictions_yes">Yes</label>
                                </div>
                                <div class="input-one-container">
                                    <input type="radio" name="traffic-convictions_radio" id="traffic-convictions_no" data-dynamic-radio="traffic-conviction" checked>
                                    <label class="radio-label" for="traffic-convictions_no">No</label>
                                </div>
                            </div>
                            <div class="radio-inputs-container extra-input hidden">
                                <div class="input-half-container">
                                    <label for="availability">Please explain the traffic convictions:</label>
                                    <textarea name="availability" id="availability" rows="5" maxlength="100"></textarea>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="form-component-container radio-inputs" data-parent-container="mvr">
                    <div class="form-component-container">
                        <fieldset class="input-radio-container">
                            <legend>Do you have a recent Motor Vehicle Record (MVR) from within the last 30 days?</legend>
                            <div class="radio-inputs-container">
                                <div class="input-one-container">
                                    <input type="radio" name="mvr_radio" id="mvr_yes" data-dynamic-radio="mvr">
                                    <label class="radio-label" for="mvr_yes">Yes</label>
                                </div>
                                <div class="input-one-container">
                                    <input type="radio" name="mvr_radio" id="mvr_no" data-dynamic-radio="mvr" checked>
                                    <label class="radio-label" for="mvr_no">No</label>
                                </div>
                            </div>
                            <div class="radio-inputs-container extra-input hidden">
                                <div class="input-form-container">
                                    <label>Attach Your MVR (in PDF format)</label>
                                    <input type="file" name="mvr" id="mvr">
                                    <label class="choose-file-label" for="mvr">Choose File</label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="form-component-container upload-input">
                    <div class="input-form-container">
                        <label>Attach Your Driver's License</label>
                        <input type="file" name="drivers-license" id="drivers-license">
                        <label class="choose-file-label" for="drivers-license">Choose File</label>
                    </div>
                </div>
            </section>
            <section class="work-form-section">
                <h2 class="form-title">Work Information</h2>
                <div class="form-component-container selector">
                    <label for="how-did-you-hear">How did you learn about us?</label>
                    <select name="how-did-you-hear" id="how-did-you-hear" data-select onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
                        <option value="indeed" selected>Indeed</option>
                        <option value="facebook">Facebook</option>
                        <option value="word-of-mouth">Word of Mouth</option>
                        <option value="website">Your Website</option>
                        <option value="email">Email</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <div class="form-component-container radio-inputs">
                    <fieldset class="input-radio-container">
                        <legend>Have you ever worked for Golden Gate Manor Inc. before?</legend>
                        <div class="radio-inputs-container">
                            <div class="input-one-container">
                                <input type="radio" name="worked-ggm_radio" id="worked-ggm_yes">
                                <label class="radio-label" class="radio-label" for="worked-ggm_yes">Yes</label>
                            </div>
                            <div class="input-one-container">
                                <input type="radio" name="worked-ggm_radio" id="worked-ggm_no" checked>
                                <label class="radio-label" class="radio-label" for="worked-ggm_no">No</label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="form-component-container radio-inputs">
                    <fieldset class="input-radio-container">
                        <legend>What kind of employment are you looking for?</legend>
                        <div class="radio-inputs-container">
                            <div class="input-one-container">
                                <input type="radio" name="employment-type_radio" id="employment-type_full-time" checked>
                                <label class="radio-label" for="employment-type_full-time">Full-Time</label>
                            </div>
                            <div class="input-one-container">
                                <input type="radio" name="employment-type_radio" id="employment-type_part-time">
                                <label class="radio-label" for="employment-type_part-time">Part-Time</label>
                            </div>
                        </div>
                        <div class="radio-inputs-container extra-input">
                            <div class="input-half-container">
                                <label for="specify-availability">Specify Availability (days and hours if part-time):</label>
                                <textarea name="availability" id="availability" rows="5" maxlength="100"></textarea>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="form-component-container radio-inputs">
                    <fieldset class="input-radio-container">
                        <legend>Are you willing to work overtime as required?</legend>
                        <div class="radio-inputs-container">
                            <div class="input-one-container">
                                <input type="radio" name="overtime_radio" id="overtime_yes">
                                <label class="radio-label" for="overtime_yes">Yes</label>
                            </div>
                            <div class="input-one-container">
                                <input type="radio" name="overtime_radio" id="overtime_no" checked>
                                <label class="radio-label" for="overtime_no">No</label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="form-component-container one-input">
                    <div class="input-half-container">
                        <label for="pay-rate">What is your preferable pay rate? (Hourly)</label>
                        <input type="text" name="pay-rate" id="pay-rate">
                    </div>
                </div>
                <div class="form-component-container one-input date-field">
                    <div class="input-half-container">
                        <fieldset class="date-input-container">
                            <legend>If your application is considered favorably, what date would you be available to start work?</legend>
                            <input type="date" name="start-date" id="start-date">
                        </fieldset>
                    </div>
                </div>
                <div class="form-component-container upload-input">
                    <div class="input-form-container">
                        <label>Attach Your Resume</label>
                        <input type="file" name="resume" id="resume">
                        <label class="choose-file-label" for="resume">Choose File</label>
                    </div>
                </div>
            </section>
            <button class="primary-button application-page" type="submit">Submit Application</button>
            <div class="hidden-form-components">
                <input type="hidden" name="date" data-form-date>
                <input type="hidden" name="position" data-form-position>
            </div>
        </form>
    </div>
</section>