<main class="accessibility-page main-content">
    <%- include('./snippets/title-breadcrumb', { breadcrumb: config.pages.accessibility.breadcrumb }) %>
    <%- include('./snippets/policies/accessibility') %>
</main>