<section class="accessible-vans main-content">
    <%- include('./snippets/title-breadcrumb', { breadcrumb: config.pages.accessible_vans.breadcrumb, helper: helper })
        %>
        <%- include('./snippets/accessible-vans/top-page', { company: config.company }) %>
            <%- include('./snippets/accessible-vans/bottom-page') %>
</section>