<section class="job-application-page main-content">
    <%- include('./snippets/title-breadcrumb', { breadcrumb: config.pages.employment_application.breadcrumb, helper:
        helper }) %>
        <%- include('./snippets/employment/application/application-form') %>
            <%- include('./snippets/employment/application/application-modal') %>
                <script src="/scripts/application.js"></script>
                <script
                    src="https://www.google.com/recaptcha/api.js?render=6LeZz0UqAAAAACaVm35S2EemtZ1XGc_T1GV4o0wf"></script>
                <script src="/scripts/recaptcha.js"></script>
</section>