<main class="job-application-page main-content">
    <%- include('./snippets/title-breadcrumb', { breadcrumb: config.pages.employment_application.breadcrumb, helper: helper }) %>
    <%- include('./snippets/employment/application/application-form') %>
    <%- include('./snippets/employment/application/application-modal') %>
    <script src="/scripts/application.js"></script>
</main>