<main class="assisted-living-main-content page-content">
    <%- include('./snippets/title-breadcrumb', { breadcrumb: config.pages.assisted_living.breadcrumb }) %>
    <%- include('./snippets/assisted-living/top-page', { page: config.pages.assisted_living }) %>
</main>