<main class="assisted-living-main-content">
    <%- include('./snippets/title-breadcrumb', { breadcrumb: config.pages.assisted_living.breadcrumb, helper: helper }) %>
    <%- include('./snippets/assisted-living/top-page', { page: config.pages.assisted_living }) %>
    <%- include('./snippets/components/slider-carousel-houses', { page: config.pages.assisted_living, links: config.links }) %>
    <%- include('./snippets/assisted-living/bottom-page', { page: config.pages.assisted_living, links: config.links }) %>
</main>