<section class="community-outreach main-content">
    <%- include('./snippets/title-breadcrumb', { breadcrumb: config.pages.community.breadcrumb, helper: helper }) %>
        <%- include('./snippets/about-us/community/top-page', { outreachImages: outreachImages, helper: helper }) %>
            <%- include('./snippets/about-us/community/events', { events: config.events }) %>
                <script src="/scripts/community-page.js"></script>
</section>