<main class="employement-page main-content">
    <%- include('./snippets/employment/hero-shot') %>
    <%- include('./snippets/employment/opportunities') %>
    <script src="/scripts/job-description.js"></script>
    <%- include('./snippets/employment/cta-section') %>
    <%- include('./snippets/employment/about-us') %>
</main>