<section class="gas-station-page main-content">
    <%- include('./snippets/title-breadcrumb', { breadcrumb: config.pages.gas_station.breadcrumb, helper: helper }) %>
        <%- include('./snippets/gas-stations/top-page') %>
            <%- include('./snippets/gas-stations/information') %>
                <%- include('./snippets/gas-stations/community-commitment') %>
</section>