<main class="location-main-content">
    <%- include('./snippets/title-breadcrumb', { breadcrumb: config.pages.location.breadcrumb, helper: helper }) %>
    <%- include('./snippets/location/top-map') %>
    <%- include('./snippets/location/business-information', { company: config.company }) %>
</main>