<main class="privacy-policy main-content">
    <%- include('./snippets/title-breadcrumb', { breadcrumb: config.pages.privacy_policy.breadcrumb, helper: helper }) %>
    <%- include('./snippets/policies/privacy-policy', { company: config.company }) %>
</main>