<main class="site-map-page main-content">
    <%- include('./snippets/title-breadcrumb', { breadcrumb: config.pages.site_map.breadcrumb }) %>
    <%- include('./snippets/site-map/web-links', { pages: config.pages }) %>
</main>