<section class="bad-page-main-section page-content">
    <div class="bad-page-main-section-wrapper">
        <div class="main-section">
            <p class="main-section-text">
                4<%- include('../../svg/flat-tire') %>4
            </p>
            <h2 class="section-title">
                Page not found
            </h2>
            <p class="section-text">
                Uh oh, we seem to have ran into a problem trying 
                to locate the page you're looking for. Try going 
                to the <button type="button" class="previous-page-button" data-previous-page-btn>
                previous page</button> or check out our 
                <a href="/site-map">site map</a> to 
                see what pages are available.
            </p>
        </div>
    </div>
</section>