<script src="https://cdn02.jotfor.ms/static/prototype.forms.js?v=3.3.54626" type="text/javascript"></script>
<script src="https://cdn03.jotfor.ms/static/jotform.forms.js?v=3.3.54626" type="text/javascript"></script>
<script src="https://cdn01.jotfor.ms/js/vendor/maskedinput_5.0.9.min.js?v=3.3.54626" type="text/javascript"></script>
<script src="https://cdn02.jotfor.ms/js/punycode-1.4.1.min.js?v=3.3.54626" type="text/javascript" defer></script>
<script src="https://cdn01.jotfor.ms/s/umd/b0be8483bdf/for-widgets-server.js?v=3.3.54626" type="text/javascript"></script>
<script src="https://cdn01.jotfor.ms/s/umd/b0be8483bdf/for-appointment-field.js?v=3.3.54626" type="text/javascript"></script>
<script src="https://cdn03.jotfor.ms/js/vendor/smoothscroll.min.js?v=3.3.54626" type="text/javascript"></script>
<script src="https://cdn01.jotfor.ms/js/errorNavigation.js?v=3.3.54626" type="text/javascript"></script>
<script type="text/javascript">	JotForm.newDefaultTheme = true;
	JotForm.extendsNewTheme = false;
	JotForm.singleProduct = false;
	JotForm.newPaymentUIForNewCreatedForms = true;
	JotForm.texts = {"confirmEmail":"E-mail does not match","pleaseWait":"Please wait...","validateEmail":"You need to validate this e-mail","confirmClearForm":"Are you sure you want to clear the form","lessThan":"Your score should be less than or equal to","incompleteFields":"There are incomplete required fields. Please complete them.","required":"This field is required.","requireOne":"At least one field required.","requireEveryRow":"Every row is required.","requireEveryCell":"Every cell is required.","email":"Enter a valid e-mail address","alphabetic":"This field can only contain letters","numeric":"This field can only contain numeric values","alphanumeric":"This field can only contain letters and numbers.","cyrillic":"This field can only contain cyrillic characters","url":"This field can only contain a valid URL","currency":"This field can only contain currency values.","fillMask":"Field value must fill mask.","uploadExtensions":"You can only upload following files:","noUploadExtensions":"File has no extension file type (e.g. .txt, .png, .jpeg)","uploadFilesize":"File size cannot be bigger than:","uploadFilesizemin":"File size cannot be smaller than:","gradingScoreError":"Score total should only be less than or equal to","inputCarretErrorA":"Input should not be less than the minimum value:","inputCarretErrorB":"Input should not be greater than the maximum value:","maxDigitsError":"The maximum digits allowed is","minCharactersError":"The number of characters should not be less than the minimum value:","maxCharactersError":"The number of characters should not be more than the maximum value:","freeEmailError":"Free email accounts are not allowed","minSelectionsError":"The minimum required number of selections is ","maxSelectionsError":"The maximum number of selections allowed is ","pastDatesDisallowed":"Date must not be in the past.","dateLimited":"This date is unavailable.","dateInvalid":"This date is not valid. The date format is {format}","dateInvalidSeparate":"This date is not valid. Enter a valid {element}.","ageVerificationError":"You must be older than {minAge} years old to submit this form.","multipleFileUploads_typeError":"{file} has invalid extension. Only {extensions} are allowed.","multipleFileUploads_sizeError":"{file} is too large, maximum file size is {sizeLimit}.","multipleFileUploads_minSizeError":"{file} is too small, minimum file size is {minSizeLimit}.","multipleFileUploads_emptyError":"{file} is empty, please select files again without it.","multipleFileUploads_uploadFailed":"File upload failed, please remove it and upload the file again.","multipleFileUploads_onLeave":"The files are being uploaded, if you leave now the upload will be cancelled.","multipleFileUploads_fileLimitError":"Only {fileLimit} file uploads allowed.","dragAndDropFilesHere_infoMessage":"Drag and drop files here","chooseAFile_infoMessage":"Choose a file","maxFileSize_infoMessage":"Max. file size","generalError":"There are errors on the form. Please fix them before continuing.","generalPageError":"There are errors on this page. Please fix them before continuing.","wordLimitError":"Too many words. The limit is","wordMinLimitError":"Too few words.  The minimum is","characterLimitError":"Too many Characters.  The limit is","characterMinLimitError":"Too few characters. The minimum is","ccInvalidNumber":"Credit Card Number is invalid.","ccInvalidCVC":"CVC number is invalid.","ccInvalidExpireDate":"Expire date is invalid.","ccInvalidExpireMonth":"Expiration month is invalid.","ccInvalidExpireYear":"Expiration year is invalid.","ccMissingDetails":"Please fill up the credit card details.","ccMissingProduct":"Please select at least one product.","ccMissingDonation":"Please enter numeric values for donation amount.","disallowDecimals":"Please enter a whole number.","restrictedDomain":"This domain is not allowed","ccDonationMinLimitError":"Minimum amount is {minAmount} {currency}","requiredLegend":"All fields marked with * are required and must be filled.","geoPermissionTitle":"Permission Denied","geoPermissionDesc":"Check your browser's privacy settings.","geoNotAvailableTitle":"Position Unavailable","geoNotAvailableDesc":"Location provider not available. Please enter the address manually.","geoTimeoutTitle":"Timeout","geoTimeoutDesc":"Please check your internet connection and try again.","selectedTime":"Selected Time","formerSelectedTime":"Former Time","cancelAppointment":"Cancel Appointment","cancelSelection":"Cancel Selection","noSlotsAvailable":"No slots available","slotUnavailable":"{time} on {date} has been selected is unavailable. Please select another slot.","multipleError":"There are {count} errors on this page. Please correct them before moving on.","oneError":"There is {count} error on this page. Please correct it before moving on.","doneMessage":"Well done! All errors are fixed.","invalidTime":"Enter a valid time","doneButton":"Done","reviewSubmitText":"Review and Submit","nextButtonText":"Next","prevButtonText":"Previous","seeErrorsButton":"See Errors","notEnoughStock":"Not enough stock for the current selection","notEnoughStock_remainedItems":"Not enough stock for the current selection ({count} items left)","soldOut":"Sold Out","justSoldOut":"Just Sold Out","selectionSoldOut":"Selection Sold Out","subProductItemsLeft":"({count} items left)","startButtonText":"START","submitButtonText":"Submit","submissionLimit":"Sorry! Only one entry is allowed. Multiple submissions are disabled for this form.","reviewBackText":"Back to Form","seeAllText":"See All","progressMiddleText":"of","fieldError":"field has an error.","error":"Error"};
	JotForm.newPaymentUI = true;
	JotForm.replaceTagTest = true;
	JotForm.clearFieldOnHide="disable";
	JotForm.submitError="jumpToFirstError";
	window.addEventListener('DOMContentLoaded',function(){});	JotForm.isFullSource = true;

	JotForm.init(function(){
	/*INIT-START*/

 JotForm.calendarMonths = ["January","February","March","April","May","June","July","August","September","October","November","December"];
 if (!JotForm.calenderViewMonths) JotForm.calenderViewMonths = {};  JotForm.calenderViewMonths[4] = ["January","February","March","April","May","June","July","August","September","October","November","December"];
 if (!JotForm.calenderViewDays) JotForm.calenderViewDays = {};  JotForm.calenderViewDays[4] = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"];
 JotForm.calendarDays = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"];
 JotForm.calendarOther = {"today":"Today"};
 var languageOptions = document.querySelectorAll('#langList li'); 
 for(var langIndex = 0; langIndex < languageOptions.length; langIndex++) { 
   languageOptions[langIndex].on('click', function(e) { setTimeout(function(){ JotForm.setCalendar("4", false, {"days":{"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"sunday":true},"future":true,"past":true,"custom":false,"ranges":false,"start":"","end":"","countSelectedDaysOnly":false}); }, 0); });
 } 
 JotForm.onTranslationsFetch(function() { JotForm.setCalendar("4", false, {"days":{"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"sunday":true},"future":true,"past":true,"custom":false,"ranges":false,"start":"","end":"","countSelectedDaysOnly":false}); });
      JotForm.setPhoneMaskingValidator( 'input_5_full', '\u0028\u0023\u0023\u0023\u0029 \u0023\u0023\u0023\u002d\u0023\u0023\u0023\u0023' );
if (window.JotForm && JotForm.accessible) $('input_8').setAttribute('tabindex',0);

    JotForm.calendarMonths = ["January","February","March","April","May","June","July","August","September","October","November","December"];
    JotForm.appointmentCalendarMonths = ["January","February","March","April","May","June","July","August","September","October","November","December"];
    JotForm.appointmentCalendarDays = ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"];
    JotForm.calendarOther = "Today";
    window.initializeAppointment({"text":{"text":"Question","value":"Appointment Date and Time"},"labelAlign":{"text":"Label Align","value":"Top","dropdown":[["Auto","Auto"],["Left","Left"],["Right","Right"],["Top","Top"]]},"required":{"text":"Required","value":"Yes","dropdown":[["No","No"],["Yes","Yes"]]},"description":{"text":"Hover Text","value":"","textarea":true},"slotDuration":{"text":"Slot Duration","value":"30","dropdown":[[15,"15 min"],[30,"30 min"],[45,"45 min"],[60,"60 min"],["custom","Custom min"]],"hint":"Select how long each slot will be."},"startDate":{"text":"Start Date","value":""},"endDate":{"text":"End Date","value":""},"intervals":{"text":"Intervals","value":[{"from":"0:0","to":"0:00","days":["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]}],"hint":"The hours will be applied to the selected days and repeated."},"useBlockout":{"text":"Blockout Custom Dates","value":"No","dropdown":[["No","No"],["Yes","Yes"]],"hint":"Disable certain date(s) in the calendar."},"blockoutDates":{"text":"Blockout dates","value":[{"startDate":"","endDate":""}]},"useLunchBreak":{"text":"Lunch Time","value":"No","dropdown":[["No","No"],["Yes","Yes"]],"hint":"Enable lunchtime in the calendar."},"lunchBreak":{"text":"Lunchtime hours","value":[{"from":"12:00","to":"14:00"}]},"timezone":{"text":"Timezone","value":"America\u002FDenver (GMT-06:00)"},"timeFormat":{"text":"Time Format","value":"AM\u002FPM","dropdown":[["24 Hour","24 Hour"],["AM\u002FPM","AM\u002FPM"]],"icon":"images\u002Fblank.gif","iconClassName":"toolbar-time_format_24"},"months":{"value":["January","February","March","April","May","June","July","August","September","October","November","December"],"hidden":true},"days":{"value":["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"],"hidden":true},"startWeekOn":{"text":"Start Week On","value":"Sunday","dropdown":[["Monday","Monday"],["Sunday","Sunday"]],"toolbar":false},"rollingDays":{"text":"Rolling Days","value":"","toolbar":false},"prevMonthButtonText":{"text":"Previous month","value":""},"nextMonthButtonText":{"text":"Next month","value":""},"prevYearButtonText":{"text":"Previous year","value":""},"nextYearButtonText":{"text":"Next year","value":""},"prevDayButtonText":{"text":"Previous day","value":""},"nextDayButtonText":{"text":"Next day","value":""},"appointmentType":{"hidden":true,"value":"single"},"autoDetectTimezone":{"hidden":true,"value":"No"},"dateFormat":{"hidden":true,"value":"mm\u002Fdd\u002Fyyyy"},"maxAttendee":{"hidden":true,"value":"5"},"maxEvents":{"hidden":true,"value":""},"minScheduleNotice":{"hidden":true,"value":"3"},"name":{"hidden":true,"value":"appointmentDate"},"order":{"hidden":true,"value":"11"},"qid":{"toolbar":false,"value":"input_11"},"reminderEmails":{"hidden":true,"value":{"schedule":[{"value":"2","unit":"hour"}],"emailSettings":{"PDFPassword":"","attachPDF":"false","updateEmail":"true","type":"APPOINTMENT_REMINDER","to":[{"id":"6","value":"{email}","name":"Email","text":"Email","isValid":"true","isQuestion":"true"}],"subject":"Reminder: Your appointment is on {appointmentDate}","content":"\u003Ctable width=\"100%\" bgcolor=\"#ecedf2\" cellSpacing=\"0\" cellPadding=\"0\"\u003E\u003Ctbody\u003E\u003Ctr\u003E\u003Ctd width=\"32\" style=\"width:32px;min-width:32px\"\u003E \u003C\u002Ftd\u003E\u003Ctd\u003E\u003Ctable class=\"jmTable-wrapper\" style=\"width:100%\" cellSpacing=\"0\" cellPadding=\"0\"\u003E\u003Ctbody\u003E\u003Ctr\u003E\u003Ctd height=\"36\" style=\"min-height:36px\"\u003E \u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003Ctr\u003E\u003Ctd align=\"center\"\u003E\u003Ctable class=\"jmTable\" style=\"min-width:480px;max-width:720px;width:100%;background-color:transparent;text-align:center\" cellSpacing=\"0\" cellPadding=\"0\" width=\"100%\" id=\"jmLogo-container\"\u003E\u003Ctbody\u003E\u003Ctr\u003E\u003Ctd style=\"width:100%;max-width:100%;min-width:100%\"\u003E\u003Cimg src=\"https:\u002F\u002Fcdn.jotfor.ms\u002Fassets\u002Fimg\u002Flogo2021\u002Fjotform-logo.png\" height=\"40\" alt=\"Jotform Logo\"\u002F\u003E\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003C\u002Ftbody\u003E\u003C\u002Ftable\u003E\u003Cbr\u002F\u003E\u003Ctable class=\"jmTable\" style=\"min-width:480px;max-width:720px;width:100%;background-color:transparent\" cellSpacing=\"0\" cellPadding=\"0\" width=\"100%\" id=\"jmOutcome-container\"\u003E\u003Ctbody\u003E\u003Ctr\u003E\u003Ctd style=\"width:100%;max-width:100%;min-width:100%\"\u003E\u003Ctable cellPadding=\"0\" cellSpacing=\"0\" width=\"100%\"\u003E\u003Ctbody\u003E\u003Ctr height=\"26\" style=\"min-height:26px;background-color:#fff\"\u003E\u003Ctd colSpan=\"3\"\u003E \u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003Ctr style=\"background-color:#fff\"\u003E\u003Ctd width=\"40\" style=\"min-width:40px\"\u003E\u003C\u002Ftd\u003E\u003Ctd id=\"jmButton-container\"\u003E\u003Cspan id=\"jmOutcomeHeader-container\" style=\"font-size:17px;font-weight:500\"\u003E\u003Ctable class=\"jmTable\" style=\"min-width:480px;max-width:720px;width:100%;background-color:#fff;font-weight:300\" cellSpacing=\"0\" cellPadding=\"0\" width=\"100%\"\u003E\u003Ctbody\u003E\u003Ctr\u003E\u003Ctd style=\"width:100%;max-width:100%;min-width:100%\"\u003E\u003Ctable width=\"100%\" cellPadding=\"0\" cellSpacing=\"0\"\u003E\u003Ctbody\u003E\u003Ctr\u003E\u003Ctd\u003E\u003Ctable class=\"jmTable\" style=\"min-width:480px;max-width:720px;width:100%;background-color:#fff;text-align:left;color:#0A1551;font-size:18px;font-weight:700;line-height:28px\" cellSpacing=\"0\" cellPadding=\"0\" width=\"100%\"\u003E\u003Ctbody\u003E\u003Ctr\u003E\u003Ctd style=\"width:100%;max-width:100%;min-width:100%\"\u003EHere is a friendly reminder email of your appointment\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003C\u002Ftbody\u003E\u003C\u002Ftable\u003E\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003Ctr\u003E\u003Ctd height=\"18\"\u003E\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003Ctr\u003E\u003Ctd\u003E\u003Ctable class=\"jmTable\" style=\"min-width:100%;max-width:100%;width:100%;background-color:rgba(233, 236, 249, 0.4);text-align:center;border-radius:4px;overflow:hidden\" cellSpacing=\"0\" cellPadding=\"0\" width=\"100%\"\u003E\u003Ctbody\u003E\u003Ctr\u003E\u003Ctd style=\"width:100%;max-width:100%;min-width:100%\"\u003E\u003Ccenter\u003E\u003Ctable cellPadding=\"0\" cellSpacing=\"0\" style=\"width:auto;max-width:100%;padding:15px 0\"\u003E\u003Ctbody\u003E\u003Ctr style=\"vertical-align:text-top\"\u003E\u003Ctd\u003E\u003Cimg src=\"https:\u002F\u002Femails.jotform.com\u002Fimg\u002Fappointment\u002Fdate.png?v=1.0\" alt=\"appointment icon\" width=\"14\" style=\"margin-right:5px\"\u002F\u003E\u003C\u002Ftd\u003E\u003Ctd\u003E\u003Ctable\u003E\u003Ctbody\u003E\u003Ctr\u003E\u003Ctd\u003E\u003Cspan style=\"color:#A5A8B3;font-size:12px;font-weight:400;line-height:20px\"\u003EAppointment\u003C\u002Fspan\u003E\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003Ctr\u003E\u003Ctd\u003E\u003Cspan style=\"color:#2B3245;font-size:14px;font-weight:400;line-height:20px\"\u003E{appointmentDate:date}\u003C\u002Fspan\u003E\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003C\u002Ftbody\u003E\u003C\u002Ftable\u003E\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003Ctr style=\"vertical-align:text-top\"\u003E\u003Ctd\u003E\u003Cimg src=\"https:\u002F\u002Femails.jotform.com\u002Fimg\u002Fappointment\u002Fduration.png?v=1.0\" alt=\"appointment icon\" width=\"14\" style=\"margin-right:5px\"\u002F\u003E\u003C\u002Ftd\u003E\u003Ctd\u003E\u003Ctable\u003E\u003Ctbody\u003E\u003Ctr\u003E\u003Ctd\u003E\u003Cspan style=\"color:#A5A8B3;font-size:12px;font-weight:400;line-height:20px\"\u003EDuration\u003C\u002Fspan\u003E\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003Ctr\u003E\u003Ctd\u003E\u003Cspan style=\"color:#2B3245;font-size:14px;font-weight:400;line-height:20px\"\u003E{appointmentDate:duration}\u003C\u002Fspan\u003E\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003C\u002Ftbody\u003E\u003C\u002Ftable\u003E\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003Ctr style=\"vertical-align:text-top\"\u003E\u003Ctd\u003E\u003Cimg src=\"https:\u002F\u002Femails.jotform.com\u002Fimg\u002Fappointment\u002Ftimezone.png?v=1.0\" alt=\"appointment icon\" width=\"14\" style=\"margin-right:5px\"\u002F\u003E\u003C\u002Ftd\u003E\u003Ctd\u003E\u003Ctable\u003E\u003Ctbody\u003E\u003Ctr\u003E\u003Ctd\u003E\u003Cspan style=\"color:#A5A8B3;font-size:12px;font-weight:400;line-height:20px\"\u003ETimezone\u003C\u002Fspan\u003E\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003Ctr\u003E\u003Ctd\u003E\u003Cspan style=\"color:#2B3245;font-size:14px;font-weight:400;line-height:20px\"\u003E{appointmentDate:timezone}\u003C\u002Fspan\u003E\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003C\u002Ftbody\u003E\u003C\u002Ftable\u003E\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003C\u002Ftbody\u003E\u003C\u002Ftable\u003E\u003C\u002Fcenter\u003E\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003C\u002Ftbody\u003E\u003C\u002Ftable\u003E\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003Ctr\u003E\u003Ctd height=\"18\"\u003E\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003Ctr\u003E\u003Ctd\u003E\u003Ctable class=\"jmTable\" style=\"min-width:480px;max-width:720px;width:100%;background-color:#fff;text-align:center;font-size:14px;line-height:16px\" cellSpacing=\"0\" cellPadding=\"0\" width=\"100%\"\u003E\u003Ctbody\u003E\u003Ctr\u003E\u003Ctd style=\"width:100%;max-width:100%;min-width:100%\"\u003E\r\n    Add to&nbsp;\r\n    \u003Ca style={{ textDecoration: 'none', color: '#0A1551' }} href=\"{googleCalendarLink:appointmentDate}\"\u003EGoogle\u003C\u002Fa\u003E\r\n    &nbsp;&bull;&nbsp;\r\n    \u003Ca style={{ textDecoration: 'none', color: '#0A1551' }} href=\"{outlookLink:appointmentDate}\"\u003EOutlook\u003C\u002Fa\u003E\r\n    &nbsp;&bull;&nbsp;\r\n    \u003Ca style={{ textDecoration: 'none', color: '#0A1551' }} href=\"{icalLink:appointmentDate}\"\u003EiCal\u003C\u002Fa\u003E\r\n  \u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003C\u002Ftbody\u003E\u003C\u002Ftable\u003E\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003Ctr\u003E\u003Ctd height=\"18\"\u003E\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003Ctr\u003E\u003Ctd\u003E\u003Ctable class=\"jmTable\" style=\"min-width:480px;max-width:720px;width:100%;background-color:#fff;text-align:center\" cellSpacing=\"0\" cellPadding=\"0\" width=\"100%\"\u003E\u003Ctbody\u003E\u003Ctr\u003E\u003Ctd style=\"width:100%;max-width:100%;min-width:100%\"\u003E\r\n  \u003Ca style=\"min-width: 64px; background-color: #FF6100; color: #fff; border-radius: 4px; font-size: 20px; font-weight: bold; line-height: 23px; text-align: center; padding: 16px 26px; display: inline-block; text-decoration: none; margin-top: 8px;\" href=\"{edit_link_v2}\"\u003E&nbsp;Reschedule or Cancel Appointment&nbsp;\u003C\u002Fa\u003E\r\n  \u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003C\u002Ftbody\u003E\u003C\u002Ftable\u003E\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003C\u002Ftbody\u003E\u003C\u002Ftable\u003E\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003C\u002Ftbody\u003E\u003C\u002Ftable\u003E\u003C\u002Fspan\u003E\u003C\u002Ftd\u003E\u003Ctd width=\"40\" style=\"min-width:40px\"\u003E\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003Ctr height=\"26\" style=\"min-height:26px;background-color:#fff\"\u003E\u003Ctd colSpan=\"3\"\u003E \u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003C\u002Ftbody\u003E\u003C\u002Ftable\u003E\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003C\u002Ftbody\u003E\u003C\u002Ftable\u003E\u003Cbr\u002F\u003E\u003Ctable class=\"jmTable-wrapper\" style=\"width:100%\" cellSpacing=\"0\" cellPadding=\"0\"\u003E\u003Ctbody\u003E\u003Ctr style=\"display:none\"\u003E\u003Ctd height=\"64\" style=\"min-height:64px\"\u003E \u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003Ctr\u003E\u003Ctd align=\"center\"\u003E\u003Ctable width=\"100%\" cellPadding=\"0\" cellSpacing=\"0\" style=\"max-width:720px\"\u003E\u003Ctbody\u003E\u003Ctr\u003E\u003Ctd height=\"8\" bgcolor=\"#FF6100\" style=\"line-height:0;font-size:0;border-radius:4px 4px 0 0\"\u003E \u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003C\u002Ftbody\u003E\u003C\u002Ftable\u003E\u003Ctable class=\"jmTable\" style=\"min-width:480px;max-width:720px;width:100%;background-color:#fff\" cellSpacing=\"0\" cellPadding=\"0\" width=\"100%\"\u003E\u003Ctbody\u003E\u003Ctr\u003E\u003Ctd style=\"width:100%;max-width:100%;min-width:100%\"\u003E\u003Ctable width=\"100%\" cellPadding=\"0\" cellSpacing=\"0\"\u003E\u003Ctbody\u003E\u003Ctr height=\"24\" style=\"min-height:24px\"\u003E\u003Ctd colSpan=\"3\"\u003E \u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003Ctr\u003E\u003Ctd width=\"40\" style=\"min-width:40px\"\u003E\u003C\u002Ftd\u003E\u003Ctd\u003E\u003Cspan style=\"font-size:18px;font-weight:700;color:#0A1551\" id=\"jmTitle-container\"\u003E{form_title}\u003C\u002Fspan\u003E\u003C\u002Ftd\u003E\u003Ctd width=\"40\" style=\"min-width:40px\"\u003E\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003Ctr height=\"16\" style=\"min-height:16px\"\u003E\u003Ctd width=\"40\" style=\"min-width:40px\"\u003E\u003C\u002Ftd\u003E\u003Ctd style=\"border-bottom:1px solid #ECEDF2\"\u003E\u003C\u002Ftd\u003E\u003Ctd width=\"40\" style=\"min-width:40px\"\u003E\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003Ctr\u003E\u003Ctd colSpan=\"3\"\u003E\u003Ctable class=\"jmSubmissionTable\" style=\"width:100%\" cellPadding=\"24\" cellSpacing=\"0\" id=\"jmSubmission-container\"\u003E\u003Ctbody id=\"emailFieldsTableBody\"\u003E\u003Ctr\u003E\u003Ctd\u003E\u003Ctable class=\"emailFieldsInnerTable\" width=\"100%\" cellPadding=\"12\" cellSpacing=\"0\" id=\"jmSubmission-container\"\u003E\u003Ctbody id=\"emailFieldsTableInnerBody\"\u003E\u003Ctr id=\"row_24\" class=\"questionRow\"\u003E\u003Ctd width=\"40%\" bgcolor=\"transparent\" id=\"question_24\" class=\"questionColumn\" style=\"color:#6f76a7;font-size:14px\"\u003EProgressBar\u003C\u002Ftd\u003E\u003Ctd width=\"60%\" bgcolor=\"transparent\" id=\"value_24\" class=\"valueColumn\" style=\"color:#0a1551;font-size:14px\"\u003E{typeA}\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003Ctr id=\"row_3\" class=\"questionRow\"\u003E\u003Ctd width=\"40%\" bgcolor=\"transparent\" id=\"question_3\" class=\"questionColumn\" style=\"color:#6f76a7;font-size:14px\"\u003EName\u003C\u002Ftd\u003E\u003Ctd width=\"60%\" bgcolor=\"transparent\" id=\"value_3\" class=\"valueColumn\" style=\"color:#0a1551;font-size:14px\"\u003E{name}\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003Ctr id=\"row_4\" class=\"questionRow\"\u003E\u003Ctd width=\"40%\" bgcolor=\"transparent\" id=\"question_4\" class=\"questionColumn\" style=\"color:#6f76a7;font-size:14px\"\u003EDate of Birth\u003C\u002Ftd\u003E\u003Ctd width=\"60%\" bgcolor=\"transparent\" id=\"value_4\" class=\"valueColumn\" style=\"color:#0a1551;font-size:14px\"\u003E{dob}\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003Ctr id=\"row_5\" class=\"questionRow\"\u003E\u003Ctd width=\"40%\" bgcolor=\"transparent\" id=\"question_5\" class=\"questionColumn\" style=\"color:#6f76a7;font-size:14px\"\u003EPhone Number\u003C\u002Ftd\u003E\u003Ctd width=\"60%\" bgcolor=\"transparent\" id=\"value_5\" class=\"valueColumn\" style=\"color:#0a1551;font-size:14px\"\u003E{phoneNumber}\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003Ctr id=\"row_6\" class=\"questionRow\"\u003E\u003Ctd width=\"40%\" bgcolor=\"transparent\" id=\"question_6\" class=\"questionColumn\" style=\"color:#6f76a7;font-size:14px\"\u003EEmail\u003C\u002Ftd\u003E\u003Ctd width=\"60%\" bgcolor=\"transparent\" id=\"value_6\" class=\"valueColumn\" style=\"color:#0a1551;font-size:14px\"\u003E{email}\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003Ctr id=\"row_8\" class=\"questionRow\"\u003E\u003Ctd width=\"40%\" bgcolor=\"transparent\" id=\"question_8\" class=\"questionColumn\" style=\"color:#6f76a7;font-size:14px\"\u003EMedicaid ID\u003C\u002Ftd\u003E\u003Ctd width=\"60%\" bgcolor=\"transparent\" id=\"value_8\" class=\"valueColumn\" style=\"color:#0a1551;font-size:14px\"\u003E{medicaidId}\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003Ctr id=\"row_11\" class=\"questionRow\"\u003E\u003Ctd width=\"40%\" bgcolor=\"transparent\" id=\"question_11\" class=\"questionColumn\" style=\"color:#6f76a7;font-size:14px\"\u003EAppointment Date and Time\u003C\u002Ftd\u003E\u003Ctd width=\"60%\" bgcolor=\"transparent\" id=\"value_11\" class=\"valueColumn\" style=\"color:#0a1551;font-size:14px\"\u003E{appointmentDate}\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003Ctr id=\"row_12\" class=\"questionRow\"\u003E\u003Ctd width=\"40%\" bgcolor=\"transparent\" id=\"question_12\" class=\"questionColumn\" style=\"color:#6f76a7;font-size:14px\"\u003EPickup Address\u003C\u002Ftd\u003E\u003Ctd width=\"60%\" bgcolor=\"transparent\" id=\"value_12\" class=\"valueColumn\" style=\"color:#0a1551;font-size:14px\"\u003E{pickupAddress}\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003Ctr id=\"row_13\" class=\"questionRow\"\u003E\u003Ctd width=\"40%\" bgcolor=\"transparent\" id=\"question_13\" class=\"questionColumn\" style=\"color:#6f76a7;font-size:14px\"\u003EDrop-off Address\u003C\u002Ftd\u003E\u003Ctd width=\"60%\" bgcolor=\"transparent\" id=\"value_13\" class=\"valueColumn\" style=\"color:#0a1551;font-size:14px\"\u003E{dropoffAddress}\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003Ctr id=\"row_14\" class=\"questionRow\"\u003E\u003Ctd width=\"40%\" bgcolor=\"transparent\" id=\"question_14\" class=\"questionColumn\" style=\"color:#6f76a7;font-size:14px\"\u003ENotes\u002FMessages\u002FSpecial Requirements\u003C\u002Ftd\u003E\u003Ctd width=\"60%\" bgcolor=\"transparent\" id=\"value_14\" class=\"valueColumn\" style=\"color:#0a1551;font-size:14px\"\u003E{notes}\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003Ctr id=\"row_21\" class=\"questionRow\"\u003E\u003Ctd width=\"40%\" bgcolor=\"transparent\" id=\"question_21\" class=\"questionColumn\" style=\"color:#6f76a7;font-size:14px\"\u003EI certify the information provided is accurate to the best of my knowledge.\u003C\u002Ftd\u003E\u003Ctd width=\"60%\" bgcolor=\"transparent\" id=\"value_21\" class=\"valueColumn\" style=\"color:#0a1551;font-size:14px\"\u003E{iCertify}\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003C\u002Ftbody\u003E\u003C\u002Ftable\u003E\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003C\u002Ftbody\u003E\u003C\u002Ftable\u003E\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003C\u002Ftbody\u003E\u003C\u002Ftable\u003E\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003C\u002Ftbody\u003E\u003C\u002Ftable\u003E\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003Ctr\u003E\u003Ctd height=\"64\" style=\"min-height:64px\"\u003E \u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003C\u002Ftbody\u003E\u003C\u002Ftable\u003E\u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003Ctr\u003E\u003Ctd height=\"116\" style=\"min-height:116px\"\u003E \u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003C\u002Ftbody\u003E\u003C\u002Ftable\u003E\u003C\u002Ftd\u003E\u003Ctd width=\"32\" style=\"width:32px;min-width:32px\"\u003E \u003C\u002Ftd\u003E\u003C\u002Ftr\u003E\u003C\u002Ftbody\u003E\u003C\u002Ftable\u003E","senderName":"JotForm","replyTo":"goldengatemanortransportation@gmail.com","branding21Email":"1"}}},"type":{"hidden":true,"value":"control_appointment"},"useReminderEmails":{"hidden":true,"value":"No"},"id":{"toolbar":false,"value":"11"},"qname":{"toolbar":false,"value":"q11_appointmentDate"},"cdnconfig":{"CDN":"https:\u002F\u002Fcdn.jotfor.ms\u002F"},"passive":false,"formProperties":{"highlightLine":"Enabled","coupons":false,"useStripeCoupons":false,"taxes":false,"comparePaymentForm":"","paymentListSettings":false,"newPaymentUIForNewCreatedForms":"Yes","formBackground":"#fff","newAppointment":false,"isAutoCompleteEnabled":true},"formID":231874847664067,"isPaymentForm":false,"isOpenedInPortal":false,"isCheckoutForm":false,"isOfflineForms":false,"SSL_URL":"https:\u002F\u002Fwww.jotform.com\u002F","themeVersion":"v2","isEnterprise":false,"environment":"PRODUCTION"});
  if (window.JotForm && JotForm.accessible) $('input_14').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_21').setAttribute('tabindex',0);
      JotForm.alterTexts(undefined);
	/*INIT-END*/
	});

   setTimeout(function() {
JotForm.paymentExtrasOnTheFly([null,null,null,{"description":"","name":"name","qid":"3","text":"Name","type":"control_fullname"},{"description":"","name":"dob","qid":"4","text":"Date of Birth","type":"control_datetime"},{"description":"","name":"phoneNumber","qid":"5","text":"Phone Number","type":"control_phone"},{"description":"","name":"email","qid":"6","subLabel":"example@example.com","text":"Email","type":"control_email"},null,{"description":"","name":"medicaidId","qid":"8","subLabel":"","text":"Medicaid ID","type":"control_textbox"},{"name":"divider","qid":"9","text":"Divider","type":"control_divider"},null,{"description":"","name":"appointmentDate","qid":"11","text":"Appointment Date and Time","type":"control_appointment"},{"description":"","name":"pickupAddress","qid":"12","text":"Pickup Address","type":"control_address"},{"description":"","name":"dropoffAddress","qid":"13","text":"Drop-off Address","type":"control_address"},{"description":"","mde":"No","name":"notes","qid":"14","subLabel":"","text":"Notes\u002FMessages\u002FSpecial Requirements","type":"control_textarea","wysiwyg":"Disable"},{"name":"divider15","qid":"15","text":"Divider","type":"control_divider"},{"name":"tripInformation","qid":"16","text":"Trip Information","type":"control_head"},{"name":"passengerInformation","qid":"17","text":"Passenger Information","type":"control_head"},{"name":"agreeTo","qid":"18","text":"Agree to Terms","type":"control_head"},null,null,{"description":"","name":"iCertify","qid":"21","subLabel":"Digital Signature, type your first and last name","text":"I certify the information provided is accurate to the best of my knowledge.","type":"control_textbox"},null,{"description":"","name":"tags","qid":"23","text":"Tags","type":"control_checkbox"},{"name":"typeA","qid":"24","text":"ProgressBar","type":"control_widget"},null,null,{"name":"submit","qid":"27","text":"Submit","type":"control_button"},{"name":"input28","qid":"28","text":"Please Note: All trips are on a first come first serve basis, with this in mind, please make sure to schedule trips 24-48 hours prior to the trip date to make sure that we can accomodate the trip in question. We cannot promise availability for trips that were not scheduled 24-48 hours prior to the trip in question. \r\nIf your trip falls on a Monday, please schedule the ride on the Friday prior so that we can certify that we have received it in ample time to accomodate the trip in question. We cannot promise availability for trips on Monday that were not scheduled on the prior Friday.\r\nGolden Gate Manor staff thanks you for your understanding and we appreciate your efforts to ease the scheduling process.\r\nIf you have any questions or concerns regarding our ability to accomodate a trip please call us at (719) 543-2525.","type":"control_text"}]);}, 20); 
</script>
<link type="text/css" rel="stylesheet" href="https://cdn01.jotfor.ms/stylebuilder/static/form-common.css?v=73932fc
"/>
<style type="text/css">@media print{*{-webkit-print-color-adjust: exact !important;print-color-adjust: exact !important;}.form-section{display:inline!important}.form-pagebreak{display:none!important}.form-section-closed{height:auto!important}.page-section{position:initial!important}}</style>
<link type="text/css" rel="stylesheet" href="https://cdn02.jotfor.ms/themes/CSS/5e6b428acc8c4e222d1beb91.css?v=3.3.54626&themeRevisionID=65660e4b326633110492e01a"/>
<link type="text/css" rel="stylesheet" href="https://cdn03.jotfor.ms/css/styles/payment/payment_styles.css?3.3.54626" />
<link type="text/css" rel="stylesheet" href="https://cdn01.jotfor.ms/css/styles/payment/payment_feature.css?3.3.54626" />
<style type="text/css" id="form-designer-style">
    /* Injected CSS Code */
/*PREFERENCES STYLE*/  
    .form-label.form-label-auto {
        display: block;
        float: none;
        text-align: left;
        width: 100%;

    }
  
    .form-line {
        margin-top: 12px;
        margin-bottom: 12px;
    }
  
    .form-all {
        max-width: 752px;
        width: 100%;
    }
  
    .form-label.form-label-left,
    .form-label.form-label-right,
    .form-label.form-label-left.form-label-auto,
    .form-label.form-label-right.form-label-auto {
        width: 230px;
    }
  
    .form-all {
        font-size: 16px
    }
  
    .supernova .form-all, .form-all {
        background-color: #fff;
    }
  
    .form-all {
        color: #2C3345;
    }

    .form-header-group .form-header {
        color: #2C3345;
    }

    .form-header-group .form-subHeader {
        color: #2C3345;
    }
    
    .form-label-top,
    .form-label-left,
    .form-label-right,
    .form-html,
    .form-checkbox-item label,
    .form-radio-item label,
    span.FITB .qb-checkbox-label,
    span.FITB .qb-radiobox-label,
    span.FITB .form-radio label,
    span.FITB .form-checkbox label,
    [data-blotid][data-type=checkbox] [data-labelid],
    [data-blotid][data-type=radiobox] [data-labelid],
    span.FITB-inptCont[data-type=checkbox] label,
    span.FITB-inptCont[data-type=radiobox] label {
        color: #2C3345;
    }

    .form-sub-label {
        color: #464d5f;
    }
  
    .form-textbox,
    .form-textarea,
    .form-dropdown,
    .form-radio-other-input,
    .form-checkbox-other-input,
    .form-captcha input,
    .form-spinner input {
        background-color: #fff;
    }
  
    .supernova {
        background-repeat: no-repeat;
        background-size:cover;
        background-attachment: fixed;
        background-position: center top;
    }

    .supernova, #stage {
        background-image: none;
    }

    .form-all {
        background-image: none;
    }
    /*PREFERENCES STYLE*//*__INSPECT_SEPERATOR__*/
    /* Injected CSS Code */
</style>

<form class="jotform-form" onsubmit="return typeof testSubmitFunction !== 'undefined' && testSubmitFunction();" action="https://submit.jotform.com/submit/231874847664067" method="post" name="form_231874847664067" id="231874847664067" accept-charset="utf-8" autocomplete="on"><input type="hidden" name="formID" value="231874847664067" /><input type="hidden" id="JWTContainer" value="" /><input type="hidden" id="cardinalOrderNumber" value="" /><input type="hidden" id="jsExecutionTracker" name="jsExecutionTracker" value="build-date-1718138560695" /><input type="hidden" id="submitSource" name="submitSource" value="unknown" /><input type="hidden" id="buildDate" name="buildDate" value="1718138560695" />
  <div role="main" class="form-all">
    <ul class="form-section page-section">
      <li class="form-line" data-type="control_widget" id="id_24">
        <div id="cid_24" class="form-input-wide" data-layout="full">
          <div style="width:100%;text-align:Left" data-component="widget-directEmbed">
            <div class="direct-embed-widgets progress-bar-widget widget-static" data-type="direct-embed" style="width:1px;min-height:1px">
              <div class="direct-embed-24">
                <script type="text/javascript">
                  var progressBarqid = "24";
                  var onlyCountReq = "Yes";
                  var fixedProgressBar = "No";
                  var deleteLabelProgressBar = "";
                  var fieldsProgressBar = "Fields Completed";
                  var submitProgressBar = "Please Submit the Form";
                  var requiredProgressBar = "Required Fields Complete";
                  var barColor = "#EAE39E";
                  var theme = "Island Blue";
                </script>
                <link href="//widgets.jotform.io/progressBar/min/styles.min.css" rel="stylesheet" media="screen" />
                <script src="//widgets.jotform.io/progressBar/min/scripts.min.js"></script>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li id="cid_17" class="form-input-wide" data-type="control_head">
        <div class="form-header-group  header-default">
          <div class="header-text httal htvam">
            <h2 id="header_17" class="form-header" data-component="header">Passenger Information</h2>
          </div>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_fullname" id="id_3"><label class="form-label form-label-top form-label-auto" id="label_3" for="first_3" aria-hidden="false"> Name<span class="form-required">*</span> </label>
        <div id="cid_3" class="form-input-wide jf-required" data-layout="full">
          <div data-wrapper-react="true"><span class="form-sub-label-container" style="vertical-align:top" data-input-type="first"><input type="text" id="first_3" name="q3_name[first]" class="form-textbox validate[required]" data-defaultvalue="" autoComplete="section-input_3 given-name" size="10" data-component="first" aria-labelledby="label_3 sublabel_3_first" required="" value="" /><label class="form-sub-label" for="first_3" id="sublabel_3_first" style="min-height:13px">First Name</label></span><span class="form-sub-label-container" style="vertical-align:top" data-input-type="last"><input type="text" id="last_3" name="q3_name[last]" class="form-textbox validate[required]" data-defaultvalue="" autoComplete="section-input_3 family-name" size="15" data-component="last" aria-labelledby="label_3 sublabel_3_last" required="" value="" /><label class="form-sub-label" for="last_3" id="sublabel_3_last" style="min-height:13px">Last Name</label></span></div>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_datetime" id="id_4"><label class="form-label form-label-top form-label-auto" id="label_4" for="lite_mode_4" aria-hidden="false"> Date of Birth<span class="form-required">*</span> </label>
        <div id="cid_4" class="form-input-wide jf-required" data-layout="half">
          <div data-wrapper-react="true">
            <div style="display:none"><span class="form-sub-label-container" style="vertical-align:top"><input type="tel" class="form-textbox validate[required, limitDate]" id="month_4" name="q4_dob[month]" size="2" data-maxlength="2" data-age="" maxLength="2" value="" required="" autoComplete="off" aria-labelledby="label_4 sublabel_4_month" /><span class="date-separate" aria-hidden="true"> -</span><label class="form-sub-label" for="month_4" id="sublabel_4_month" style="min-height:13px">Month</label></span><span class="form-sub-label-container" style="vertical-align:top"><input type="tel" class="form-textbox validate[required, limitDate]" id="day_4" name="q4_dob[day]" size="2" data-maxlength="2" data-age="" maxLength="2" value="" required="" autoComplete="off" aria-labelledby="label_4 sublabel_4_day" /><span class="date-separate" aria-hidden="true"> -</span><label class="form-sub-label" for="day_4" id="sublabel_4_day" style="min-height:13px">Day</label></span><span class="form-sub-label-container" style="vertical-align:top"><input type="tel" class="form-textbox validate[required, limitDate]" id="year_4" name="q4_dob[year]" size="4" data-maxlength="4" data-age="" maxLength="4" value="" required="" autoComplete="off" aria-labelledby="label_4 sublabel_4_year" /><label class="form-sub-label" for="year_4" id="sublabel_4_year" style="min-height:13px">Year</label></span></div><span class="form-sub-label-container" style="vertical-align:top"><input type="text" class="form-textbox validate[required, limitDate, validateLiteDate]" id="lite_mode_4" size="12" data-maxlength="12" maxLength="12" data-age="" value="" required="" data-format="mmddyyyy" data-seperator="-" placeholder="MM-DD-YYYY" data-placeholder="MM-DD-YYYY" autoComplete="off" aria-labelledby="label_4" /><img class=" newDefaultTheme-dateIcon icon-liteMode" alt="Pick a Date" id="input_4_pick" src="https://cdn.jotfor.ms/images/calendar.png" data-component="datetime" aria-hidden="true" data-allow-time="No" data-version="v2" /><label class="form-sub-label is-empty" for="lite_mode_4" id="sublabel_4_litemode" style="min-height:13px"></label></span>
          </div>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_phone" id="id_5"><label class="form-label form-label-top form-label-auto" id="label_5" for="input_5_full"> Phone Number<span class="form-required">*</span> </label>
        <div id="cid_5" class="form-input-wide jf-required" data-layout="half"> <span class="form-sub-label-container" style="vertical-align:top"><input type="tel" id="input_5_full" name="q5_phoneNumber[full]" data-type="mask-number" class="mask-phone-number form-textbox validate[required, Fill Mask]" data-defaultvalue="" autoComplete="section-input_5 tel-national" style="width:310px" data-masked="true" placeholder="(000) 000-0000" data-component="phone" aria-labelledby="label_5 sublabel_5_masked" required="" value="" /><label class="form-sub-label" for="input_5_full" id="sublabel_5_masked" style="min-height:13px">Please enter a valid phone number.</label></span> </div>
      </li>
      <li class="form-line jf-required" data-type="control_email" id="id_6"><label class="form-label form-label-top form-label-auto" id="label_6" for="input_6" aria-hidden="false"> Email<span class="form-required">*</span> </label>
        <div id="cid_6" class="form-input-wide jf-required" data-layout="half"> <span class="form-sub-label-container" style="vertical-align:top"><input type="email" id="input_6" name="q6_email" class="form-textbox validate[required, Email]" data-defaultvalue="" autoComplete="section-input_6 email" style="width:310px" size="310" data-component="email" aria-labelledby="label_6 sublabel_input_6" required="" value="" /><label class="form-sub-label" for="input_6" id="sublabel_input_6" style="min-height:13px">example@example.com</label></span> </div>
      </li>
      <li class="form-line jf-required" data-type="control_textbox" id="id_8"><label class="form-label form-label-top form-label-auto" id="label_8" for="input_8" aria-hidden="false"> Medicaid ID<span class="form-required">*</span> </label>
        <div id="cid_8" class="form-input-wide jf-required" data-layout="half"> <input type="text" id="input_8" name="q8_medicaidId" data-type="input-textbox" class="form-textbox validate[required]" data-defaultvalue="" style="width:310px" size="310" data-component="textbox" aria-labelledby="label_8" required="" value="" /> </div>
      </li>
      <li class="form-line" data-type="control_divider" id="id_9">
        <div id="cid_9" class="form-input-wide" data-layout="full">
          <div class="divider" data-component="divider" style="border-bottom-width:1px;border-bottom-style:solid;border-color:#F3F3FE;height:1px;margin-left:0px;margin-right:0px;margin-top:5px;margin-bottom:5px"></div>
        </div>
      </li>
      <li id="cid_16" class="form-input-wide" data-type="control_head">
        <div class="form-header-group  header-default">
          <div class="header-text httal htvam">
            <h2 id="header_16" class="form-header" data-component="header">Trip Information</h2>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_text" id="id_28">
        <div id="cid_28" class="form-input-wide" data-layout="full">
          <div id="text_28" class="form-html" data-component="text" tabindex="0">
            <p class="please-note"><span class="please-note">Please Note:</span> All trips are on a first come first serve basis, with this in mind, please make sure to schedule trips 24-48 hours prior to the trip date to make sure that we can accomodate the trip in question. We cannot promise availability for trips that were not scheduled 24-48 hours prior to the trip in question. </p>
            <p class="please-note">If your trip falls on a Monday, please schedule the ride on the Friday prior so that we can certify that we have received it in ample time to accomodate the trip in question. We cannot promise availability for trips on Monday that were not scheduled on the prior Friday.</p>
            <p class="please-note">Golden Gate Manor staff thanks you for your understanding and we appreciate your efforts to ease the scheduling process.</p>
            <p class="bolded">If you have any questions or concerns regarding our ability to accomodate a trip please call us at <a href="tel:719-543-2525" rel="nofollow">(719) 543-2525</a>.</p>
          </div>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_appointment" id="id_11"><label class="form-label form-label-top" id="label_11" for="input_11" aria-hidden="false"> Appointment Date and Time<span class="form-required">*</span> </label>
        <div id="cid_11" class="form-input-wide jf-required" data-layout="full">
          <div id="input_11" class="appointmentFieldWrapper jfQuestion-fields"><input type="hidden" class="appointmentFieldInput" name="q11_appointmentDate[implementation]" value="new" id="input_11implementation" aria-hidden="true" /><input type="hidden" class="appointmentFieldInput validate" name="q11_appointmentDate[date]" id="input_11_date" data-timeformat="AM/PM" aria-hidden="true" /><input type="hidden" class="appointmentFieldInput" name="q11_appointmentDate[duration]" value="30" id="input_11_duration" aria-hidden="true" /><input type="hidden" class="appointmentFieldInput" name="q11_appointmentDate[timezone]" value="America/Denver (GMT-06:00)" id="input_11_timezone" aria-hidden="true" />
            <div class="appointmentField"></div>
          </div>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_address" id="id_12" data-compound-hint=",,,,Please Select,,Please Select,"><label class="form-label form-label-top form-label-auto" id="label_12" for="input_12_addr_line1" aria-hidden="false"> Pickup Address<span class="form-required">*</span> </label>
        <div id="cid_12" class="form-input-wide jf-required" data-layout="full">
          <div summary="" class="form-address-table jsTest-addressField">
            <div class="form-address-line-wrapper jsTest-address-line-wrapperField"><span class="form-address-line form-address-street-line jsTest-address-lineField"><span class="form-sub-label-container" style="vertical-align:top"><input type="text" id="input_12_addr_line1" name="q12_pickupAddress[addr_line1]" class="form-textbox validate[required] form-address-line" data-defaultvalue="" autoComplete="section-input_12 address-line1" data-component="address_line_1" aria-labelledby="label_12 sublabel_12_addr_line1" required="" value="" /><label class="form-sub-label" for="input_12_addr_line1" id="sublabel_12_addr_line1" style="min-height:13px">Street Address</label></span></span></div>
            <div class="form-address-line-wrapper jsTest-address-line-wrapperField"><span class="form-address-line form-address-street-line jsTest-address-lineField"><span class="form-sub-label-container" style="vertical-align:top"><input type="text" id="input_12_addr_line2" name="q12_pickupAddress[addr_line2]" class="form-textbox form-address-line" data-defaultvalue="" autoComplete="section-input_12 address-line2" data-component="address_line_2" aria-labelledby="label_12 sublabel_12_addr_line2" required="" value="" /><label class="form-sub-label" for="input_12_addr_line2" id="sublabel_12_addr_line2" style="min-height:13px">Street Address Line 2</label></span></span></div>
            <div class="form-address-line-wrapper jsTest-address-line-wrapperField"><span class="form-address-line form-address-city-line jsTest-address-lineField "><span class="form-sub-label-container" style="vertical-align:top"><input type="text" id="input_12_city" name="q12_pickupAddress[city]" class="form-textbox validate[required] form-address-city" data-defaultvalue="" autoComplete="section-input_12 address-level2" data-component="city" aria-labelledby="label_12 sublabel_12_city" required="" value="" /><label class="form-sub-label" for="input_12_city" id="sublabel_12_city" style="min-height:13px">City</label></span></span><span class="form-address-line form-address-state-line jsTest-address-lineField "><span class="form-sub-label-container" style="vertical-align:top"><input type="text" id="input_12_state" name="q12_pickupAddress[state]" class="form-textbox validate[required] form-address-state" data-defaultvalue="" autoComplete="section-input_12 address-level1" data-component="state" aria-labelledby="label_12 sublabel_12_state" required="" value="" /><label class="form-sub-label" for="input_12_state" id="sublabel_12_state" style="min-height:13px">State / Province</label></span></span></div>
            <div class="form-address-line-wrapper jsTest-address-line-wrapperField"><span class="form-address-line form-address-zip-line jsTest-address-lineField "><span class="form-sub-label-container" style="vertical-align:top"><input type="text" id="input_12_postal" name="q12_pickupAddress[postal]" class="form-textbox validate[required] form-address-postal" data-defaultvalue="" autoComplete="section-input_12 postal-code" data-component="zip" aria-labelledby="label_12 sublabel_12_postal" required="" value="" /><label class="form-sub-label" for="input_12_postal" id="sublabel_12_postal" style="min-height:13px">Postal / Zip Code</label></span></span></div>
          </div>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_address" id="id_13" data-compound-hint=",,,,Please Select,,Please Select,"><label class="form-label form-label-top form-label-auto" id="label_13" for="input_13_addr_line1" aria-hidden="false"> Drop-off Address<span class="form-required">*</span> </label>
        <div id="cid_13" class="form-input-wide jf-required" data-layout="full">
          <div summary="" class="form-address-table jsTest-addressField">
            <div class="form-address-line-wrapper jsTest-address-line-wrapperField"><span class="form-address-line form-address-street-line jsTest-address-lineField"><span class="form-sub-label-container" style="vertical-align:top"><input type="text" id="input_13_addr_line1" name="q13_dropoffAddress[addr_line1]" class="form-textbox validate[required] form-address-line" data-defaultvalue="" autoComplete="section-input_13 address-line1" data-component="address_line_1" aria-labelledby="label_13 sublabel_13_addr_line1" required="" value="" /><label class="form-sub-label" for="input_13_addr_line1" id="sublabel_13_addr_line1" style="min-height:13px">Street Address</label></span></span></div>
            <div class="form-address-line-wrapper jsTest-address-line-wrapperField"><span class="form-address-line form-address-street-line jsTest-address-lineField"><span class="form-sub-label-container" style="vertical-align:top"><input type="text" id="input_13_addr_line2" name="q13_dropoffAddress[addr_line2]" class="form-textbox form-address-line" data-defaultvalue="" autoComplete="section-input_13 address-line2" data-component="address_line_2" aria-labelledby="label_13 sublabel_13_addr_line2" required="" value="" /><label class="form-sub-label" for="input_13_addr_line2" id="sublabel_13_addr_line2" style="min-height:13px">Street Address Line 2</label></span></span></div>
            <div class="form-address-line-wrapper jsTest-address-line-wrapperField"><span class="form-address-line form-address-city-line jsTest-address-lineField "><span class="form-sub-label-container" style="vertical-align:top"><input type="text" id="input_13_city" name="q13_dropoffAddress[city]" class="form-textbox validate[required] form-address-city" data-defaultvalue="" autoComplete="section-input_13 address-level2" data-component="city" aria-labelledby="label_13 sublabel_13_city" required="" value="" /><label class="form-sub-label" for="input_13_city" id="sublabel_13_city" style="min-height:13px">City</label></span></span><span class="form-address-line form-address-state-line jsTest-address-lineField "><span class="form-sub-label-container" style="vertical-align:top"><input type="text" id="input_13_state" name="q13_dropoffAddress[state]" class="form-textbox validate[required] form-address-state" data-defaultvalue="" autoComplete="section-input_13 address-level1" data-component="state" aria-labelledby="label_13 sublabel_13_state" required="" value="" /><label class="form-sub-label" for="input_13_state" id="sublabel_13_state" style="min-height:13px">State / Province</label></span></span></div>
            <div class="form-address-line-wrapper jsTest-address-line-wrapperField"><span class="form-address-line form-address-zip-line jsTest-address-lineField "><span class="form-sub-label-container" style="vertical-align:top"><input type="text" id="input_13_postal" name="q13_dropoffAddress[postal]" class="form-textbox validate[required] form-address-postal" data-defaultvalue="" autoComplete="section-input_13 postal-code" data-component="zip" aria-labelledby="label_13 sublabel_13_postal" required="" value="" /><label class="form-sub-label" for="input_13_postal" id="sublabel_13_postal" style="min-height:13px">Postal / Zip Code</label></span></span></div>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_textarea" id="id_14"><label class="form-label form-label-top form-label-auto" id="label_14" for="input_14" aria-hidden="false"> Notes/Messages/Special Requirements </label>
        <div id="cid_14" class="form-input-wide" data-layout="full"> <textarea id="input_14" class="form-textarea" name="q14_notes" style="width:648px;height:163px" data-component="textarea" aria-labelledby="label_14"></textarea> </div>
      </li>
      <li class="form-line" data-type="control_divider" id="id_15">
        <div id="cid_15" class="form-input-wide" data-layout="full">
          <div class="divider" data-component="divider" style="border-bottom-width:1px;border-bottom-style:solid;border-color:#F3F3FE;height:1px;margin-left:0px;margin-right:0px;margin-top:5px;margin-bottom:5px"></div>
        </div>
      </li>
      <li id="cid_18" class="form-input-wide" data-type="control_head">
        <div class="form-header-group  header-default">
          <div class="header-text httal htvam">
            <h2 id="header_18" class="form-header" data-component="header">Agree to Terms</h2>
          </div>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_textbox" id="id_21"><label class="form-label form-label-top form-label-auto" id="label_21" for="input_21" aria-hidden="false"> I certify the information provided is accurate to the best of my knowledge.<span class="form-required">*</span> </label>
        <div id="cid_21" class="form-input-wide jf-required" data-layout="half"> <span class="form-sub-label-container" style="vertical-align:top"><input type="text" id="input_21" name="q21_iCertify" data-type="input-textbox" class="form-textbox validate[required]" data-defaultvalue="" style="width:310px" size="310" data-component="textbox" aria-labelledby="label_21 sublabel_input_21" required="" value="" /><label class="form-sub-label" for="input_21" id="sublabel_input_21" style="min-height:13px">Digital Signature, type your first and last name</label></span> </div>
      </li>
      <li class="form-line" data-type="control_button" id="id_27">
        <div id="cid_27" class="form-input-wide" data-layout="full">
          <div data-align="auto" class="form-buttons-wrapper form-buttons-auto   jsTest-button-wrapperField"><button id="input_27" type="submit" class="form-submit-button submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content="">Submit</button></div>
        </div>
      </li>
      <li style="display:none">Should be Empty: <input type="text" name="website" value="" type="hidden" /></li>
    </ul>
  </div>
  <script>
    JotForm.showJotFormPowered = "new_footer";
  </script>
  <script>
    JotForm.poweredByText = "Powered by Jotform";
  </script><input type="hidden" class="simple_spc" id="simple_spc" name="simple_spc" value="231874847664067" />
  <script type="text/javascript">
    var all_spc = document.querySelectorAll("form[id='231874847664067'] .si" + "mple" + "_spc");
    for (var i = 0; i < all_spc.length; i++)
    {
      all_spc[i].value = "231874847664067-231874847664067";
    }
  </script>
</form><script type="text/javascript">JotForm.ownerView=true;</script><script type="text/javascript">JotForm.isNewSACL=true;</script>