<section class="assisted-living-bottom-page-section page-content">
    <div class="free-consultation-cta">
        <div class="free-consultation-cta-left">
            <img src="/images/Nursing-Care.jpg" alt="Stock photo of a nurse and a resident">
        </div>
        <div class="free-consultation-cta-right">
            <h2 class="free-consultation-title">
                Golden Gate Manor prioritizes comprehensive support for our residents
            </h2>
            <p class="free-consultation-information section-text">
                Trained staff members are present 24/7 to provide care, assistance with medication, daily living skills, meals, transportation and treatment management. 
                Our homes provide residents with their own bed, dresser, closet space, shared bathrooms, private bath rooms and common areas. 
                This is the best type of housing for the elderly and, people experiencing a mental illness which may affect their ability to perform their daily tasks.
            </p>
            <a href="<%- links.contact_us.href %>" class="cta-button assisted-living-page">GET FREE CONSULTATION</a>
        </div>
    </div>
    <div class="see-for-yourself-cta">
        <h2 class="see-for-yourself-title">See For Yourself</h2>
        <div class="see-for-yourself-card-wrapper">
            <div class="see-for-yourself-card left-card">
                <h3 class="card-title">
                    Call Us Today
                </h3>
                <p class="card-text section-text">
                    Set up an appointment to visit our facilities. Meet our staff, residents, and see for yourself all that Golden Gate Manor, Inc. has to offer.
                </p>
            </div>
            <div class="see-for-yourself-card right-card">
                <h3 class="card-title">
                    More Details
                </h3>
                <p class="card-text section-text">
                    Golden Gate Manor, Inc. happily provides brochures, cards, tours, Respite Care, and lunches for interested residents.
                </p>
            </div>
        </div>
        <a href="<%- links.contact_us.href %>" class="cta-button assisted-living-page see-for-yourself"><%- links.contact_us.title %></a>
    </div>
</section>