
<section class="assisted-living-top-page-section page-content">
    <div class="assisted-living-top-page">
        <div class="assisted-living-page-container left-side">
            <h2>
                <span class="title-top assisted-living-top">
                    Golden Gate Manor
                </span>
                <span class="title-bottom assisted-living-top">
                    Assisted Living Facilities
                </span>
            </h2>
            <p class="section-text">Golden Gate Manor, Inc. are highly respected, Medicaid Certified Assisted Living Facilities located in Pueblo, Colorado. Trained staff members are present 24/7 to provide care, assistance with medication, daily living skills, meals, transportation and treatment management. Our homes provide residents with their own bed, dresser, closet space, shared bathrooms, private bathrooms and common areas. This is the best type of housing for the elderly and people experiencing a mental illness, which may affect their ability to perform their daily tasks.</p>
            <p class="section-text">Non-Emergency Medical Transportation (NEMT) is transportation to and from covered non-emergency medical appointments or services; provided through Colorado&#39;s Medicaid program Health First Colorado. With our fleet of over 40 vehicles, we make sure that our residents make it to and from their appointments on time.</p>
        </div>
        <div class="assisted-living-page-container right-side">
            <img src="<%- page.top_page.img_src %>" alt="<%- page.top_page.img_alt %>>">
        </div>
    </div>
    <div class="assisted-living-page-amenities">
        <div class="assisted-living-page-amenities-wrapper">
            <h2 class="assisted-living-amenities-title">ASSISTED LIVING AMENITIES</h2>
            <p class="amenities-content-description section-text">One monthly fee provides an appointed semi-private or private room, and a wide range of services and amenities for residents 18 and older, including but not limited to:</p>
            <div class="amenity-cards-wrapper"> 
                <ul class="assisted-living-amenities-card section-text">
                    <li class="amenity-card-item">24-hour staffing</li>
                    <li class="amenity-card-item">Assistance with bathing, dressing, and personal hygiene</li>
                    <li class="amenity-card-item">On-call Nurse</li>
                    <li class="amenity-card-item">Medication management</li>
                </ul>
                <ul class="assisted-living-amenities-card section-text">
                    <li class="amenity-card-item">Three nutritious daily meals, including two snacks</li>
                    <li class="amenity-card-item">Food available 24 Hours</li>
                    <li class="amenity-card-item">Multiple TV & lounge rooms</li>
                    <li class="amenity-card-item">Free Wi-Fi & cable</li>
                </ul>
                <ul class="assisted-living-amenities-card section-text">
                    <li class="amenity-card-item">Appointment scheduling & reminders</li>
                    <li class="amenity-card-item">Transportation to medical appointments, groups, activities, etc.</li>
                    <li class="amenity-card-item">Accompany to appointments (if necessary)</li>
                </ul>
            </div>
        </div>
    </div>
</section>
