<div class="assisted-living-top-page">
    <div class="assisted-living-page-container left-side">
        <h2>
            <span class="title-top assisted-living-top">
                Golden Gate Manor
            </span>
            <span class="title-bottom assisted-living-top">
                Assisted Living Facilities
            </span>
        </h2>
		<p class="section-text">Golden Gate Manor, Inc. are highly respected, Medicaid Certified Assisted Living Facilities located in Pueblo, Colorado. Trained staff members are present 24/7 to provide care, assistance with medication, daily living skills, meals, transportation and treatment management. Our homes provide residents with their own bed, dresser, closet space, shared bathrooms, private bath rooms and common areas. This is the best type of housing for the elderly and people experiencing a mental illness, which may affect their ability to perform their daily tasks.</p>
		<p class="section-text">Non-Emergency Medical Transportation (NEMT) is transportation to and from covered non-emergency medical appointments or services; provided through Colorado&#39;s Medicaid program Health First Colorado. With our fleet of over 40 vehicles, we make sure that our residents make it to and from their appointments on time.</p>
	</div>
    <div class="assisted-living-page-container right-side">
        <img src="<%- page.top_page.img_src %>" alt="<%- page.top_page.img_alt %>>">
    </div>
</div>