<section class="about-us-assisted-living-section section-content">
    <div class="page-content">
        <h2 class="section-title">
            Assisted Living
        </h2>
        <p class="section-text">
            Our Medicaid Certified assisted living facilities provide residential care 
            to older adults and people living with mental illnesses. Our healthcare aides 
            are available 24/7 to assist with the tasks of daily living, including 
            medications, meals, transportation, and personal care. We also have an on-call 
            nurse available at each of our facilities to respond to urgent medical needs.
        </p>
        <p class="section-text">
            Please call us at <a rel="nofollow" href="tel:<%- company.phone_number_assisted_living %>"><%- company.phone_number_assisted_living_format %></a> if you are interested in taking a tour of our 
            facilities. We warmly welcome all potential residents and their family members 
            to join us for lunch. This gathering will provide an excellent opportunity to 
            meet our dedicated staff, mingle with current residents, and personally 
            experience everything Golden Gate Manor has to offer.
        </p>
        <p class="section-list-description section-text">
            We have 5 assisted living locations:
        </p>
        <ul class="section-list-container section-text">
            <li class="section-list-item">Golden Gate Manor I 606 West Abriendo Ave. Pueblo, CO 81004</li>
            <li class="section-list-item">Golden Gate Manor II 1219 Lake Ave. Pueblo, CO 81004</li>
            <li class="section-list-item">Golden Horizon 2109 Chautard Dr. Pueblo, CO 81005</li>
            <li class="section-list-item">Golden View 525 West 9th St. Pueblo, CO 81003</li>
            <li class="section-list-item">Golden Valley 1033 East Evans Ave. Pueblo, CO 81004</li>
        </ul>
    </div>
    <div class="house-image-container">
        <img src="/images/about-us/golden-gate-manor-1.jpeg" alt="Golden Gate Manor I 606 West Abriendo Ave. Pueblo, CO 81004">
        <img src="/images/about-us/golden-gate-manor-2.jpeg" alt="Golden Gate Manor II 1219 Lake Ave. Pueblo, CO 81004">
        <img src="/images/about-us/golden-horizon.jpeg" alt="Golden Horizon 2109 Chautard Dr. Pueblo, CO 81005">
        <img src="/images/about-us/golden-valley.jpeg" alt="Golden View 525 West 9th St. Pueblo, CO 81003">
        <img src="/images/about-us/golden-view.jpeg" alt="Golden Valley 1033 East Evans Ave. Pueblo, CO 81004">
    </div>
</section>