<section class="about-us-gas-station-section page-content section-content">
    <h2 class="section-title">
        Gas Station
    </h2>
    <div class="section-content-image-container text-first">
        <img class="section-image image-left" src="/images/about-us/gas-station-about-us1.jpg" alt="Pueblo City Cab and Golden Gate Manor Transportation vehicles in front of dispatch office.">
        <div class="section-text-wrapper">
            <p class="section-text">
                At Golden Gate Manor, we are thrilled to embark on an exciting new journey with the opening of our gas stations 
                under the banner of Golden Gate Gas and Goods. This expansion marks a significant milestone in our commitment to 
                serving our community more comprehensively.
            </p>
            <p class="section-text">
                Our gas stations will not only provide convenient fueling options but will also enhance the services we offer, 
                ensuring that our customers have access to quality products in one convenient location. We aim to create a clean 
                welcoming environment where everyone feels valued and appreciated.
            </p>
            <p class="section-text">
                We invite you to join us on this new adventure, and we look forward to serving you at our gas stations. Thank you 
                for being a part of our journey as we strive to improve the quality of life for everyone in our community, one service at a time.
            </p>
        </div>
    </div>
    <a href="#" class="cta-button gas-station-about-us"><span class="read-more-plus">+ </span>Learn More</a>
</section>