<section class="about-us-medical-supply-section page-content section-content">
    <h2 class="section-title">
        Medical Supplies
    </h2>
    <div class="section-content-image-container">
        <div class="section-text-wrapper">
            <p class="section-text">Our medical supply store, Golden Gate Medical Supplies, 
                is conveniently located in downtown Pueblo, CO. We are committed to improving 
                healthcare access in our community, so we curate our inventory with a focus on 
                quality and affordability. Our products include hospital beds, compression 
                apparel, diagnostic tools, first-aid supplies, and more.
            </p>
            <p class="section-text">If you need help choosing the right products for your 
                needs, you are always welcome to consult our knowledgeable staff. We 
                understand that purchasing medical equipment can be a stressful 
                experience, and we are here to support you every step of the way.
            </p>
        </div>
        <img class="section-image image-right" src="/images/about-us/medical-supply-store.jpeg" alt="Inside Golden Gate Medical Supply Store at 612 South Union Avenue.">
    </div>
</section>