<section class="about-us-transportation-section page-content">
    <h2 class="section-title">
        Our Team
    </h2>
    <p class="section-text">
        The management team at Golden Gate Manor brings over 35 years of experience in 
        caring and providing for older adults, individuals with mental illness, and 
        overseeing transportation operations. Our mission is to foster a welcoming and 
        relaxing environment, whether you're in our assisted living or utilizing our 
        transportation services. This ensures that both you and your loved ones feel 
        right at home.
    </p>
    <p class="section-list-description section-text">
        Our specialized staff includes:
    </p>
    <ul class="section-list-container section-text">
        <li class="section-list-item section-text">The Vice President of Operations, who devotes time and effort to ensuring that our facilities are safe and comfortable for all the people we serve while also making sure our transportation services are running smoothly.</li>
        <li class="section-list-item section-text">Our dedicated house managers, who give their personal attention to meeting the individual needs of each resident under our care.</li>
        <li class="section-list-item section-text">Our highly trained and experienced QMAP aides, who attend to the daily needs of our residents with care and compassion.</li>
        <li class="section-list-item section-text">Our team of skilled and reliable drivers, who ensure the secure transportation of our clients to their scheduled appointments and various travel destinations.</li>
        <li class="section-list-item section-text">Outside agencies, to recruit and properly place individuals in need of services.</li>
    </ul>
</section>