<section class="about-us-introduction-section page-content section-content">
    <img src="/images/about-us/about-us-car-lineup.jpeg" alt="Golden Gate Manor Transportation cars lined up in front of dispatch office building.">
    <h2 class="section-title">About Us</h2>
    <p class="section-text">
        Welcome to Golden Gate Manor! We are a family-owned and operated facility that offers highly personalized, 
        compassionate, and direct care to members of our community in Pueblo, CO. Our services include assisted living, 
        medical and non-medical transportation services, and medical supply sales. Keep reading to learn more about Golden 
        Gate Manor, and feel free to contact us with any questions! You can reach us at <a ref="nofollow" href="tel:<%- company.phone_number_nemt %>"><%- company.phone_number_nemt_format %></a>.
    </p>
    <a href="/contact-us" class="cta-button contact-us-page">Contact Us</a>
</section>