<section class="about-us-transportation-section page-content section-content">
    <h2 class="section-title">
        Transportation Services
    </h2>
    <div class="section-content-image-container">
        <img class="section-image image-left" src="/images/about-us/transportation-services.jpeg" alt="Pueblo City Cab and Golden Gate Manor Transportation vehicles in front of dispatch office.">
        <div class="section-text-wrapper">
            <p class="section-text">
                Golden Gate Manor offers Non-Emergency Medical Transportation (NEMT) and 
                non-medical transportation services. NEMT includes transportation to and 
                from covered non-emergency medical appointments or services and is only 
                available to Health First Colorado members.
            </p>
            <p class="section-text">
                Non-medical transportation is available to 
                all Medicaid-eligible older adults and people with disabilities in the 
                Pueblo County area. This service provides safe and reliable transportation 
                for running errands, attending events, and other activities.
            </p>
        </div>
    </div>
</section>