<form autocomplete="off" class="<%- helper.handleize(page.title) %>-page contact-form" action="/employment/apply" method="post" id="contact-form" data-form-type="contact">
    <div class="form-item-container">
        <label for="reason">Reason for Contact</label>
        <select name="reason" id="reason">
            <option value="general">General Contact</option>
            <option value="complaint">File a Complaint</option>
            <option value="question">Question or Inquiry</option>
            <option value="transportation">Transportation Services</option>
            <option value="medical-supplies">Medical Supplies</option>
            <option value="accessibility">Accessibility</option>
        </select>
    </div>
    <div class="form-item-container name-field">
        <div class="first-name-wrapper name-field-wrapper">
            <label for="first_name">First Name*</label>
            <input type="text" name="first_name" id="first_name" required>
        </div>
        <div class="last-name-wrapper name-field-wrapper">
            <label for="last_name">Last Name*</label>
            <input type="text" name="last_name" id="last_name" required>
        </div>
    </div>
    <div class="form-item-container">
        <label for="email">Email Address*</label>
        <input type="email" name="email" id="email" required>
    </div>
    <div class="form-item-container">
        <label for="phone">Phone Number</label>
        <input type="text" name="phone" id="phone" pattern="^[\(]?[0-9]{3}[\)\- ]?[0-9]{3}[\-]?[0-9]{4}$">
    </div>
    <div class="form-item-container">
        <label for="contact_method">Preferred Contact Method</label>
        <select name="contact_method" id="contact_method">
            <option value="email">Email</option>
            <option value="phone">Phone</option>
        </select>
    </div>
    <div class="form-item-container">
        <label for="message">Comment/Inquiry/Message*</label>
        <textarea name="message" id="message" rows="5" required></textarea>
    </div>

    <button class="primary-button" type="submit">Send</button>
    <div class="submission-message" data-submission-message></div>
</form>
<script src="https://www.google.com/recaptcha/api.js?render=6LeZz0UqAAAAACaVm35S2EemtZ1XGc_T1GV4o0wf"></script>
<script src="/scripts/recaptcha.js"></script>