<style>
    /* House Image Carousel with Information */

.carousel-wrapper *, .carousel-wrapper *::before, .carousel-wrapper *::after  {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body.no-scroll {
overflow: hidden;
}

.houses-title {
font-size: 3rem;
font-weight: bold;
text-align: center;
color: rgb(var(--primary-color));
}

.carousel-wrapper {
height: auto;
width: 100vw;
position: relative;
display: flex;
justify-content: center;
margin-bottom: 2rem;
z-index: 0;
}

.carousel-container {
position: relative;
height: 450px;
width: 95vw;
overflow: hidden;
z-index: 0;
}

.carousel-tiles {
position: absolute;
top: 0;
height: 100%;
transform: translateX(0);
display: flex;
justify-content: center;
align-items: center;
transition: transform 1s ease-in-out;
z-index: 0;
}

.carousel-tile {
width: calc((95vw / 3) - 8rem);
height: 75%;
margin: 0 4rem;
border-radius: 1rem;
position: relative;
transition: transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.carousel-tile::before {
content: "";
position: absolute;
width: 100%;
height: 100%;
border-radius: 1rem;
box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
transition: opacity 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
opacity: 1;
}

.carousel-tile::after {
content: "";
position: absolute;
width: 100%;
height: 100%;
border-radius: 1rem;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
transition: opacity 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
opacity: 0;
z-index: -1;
}

.carousel-tile.middle::before {
opacity: 0;
}

.carousel-tile.middle {
transform: scale(1.2);
}

.carousel-tile.middle::after {
opacity: 1;
}

.carousel-tile .image-wrapper {
position: absolute;
width: 100%;
height: 100%;
border-radius: 1rem;
}

.image-wrapper.manor-I {
background: url("/images/assisted-living-houses/golden-gate-manor-i-house-outside_600.jpg") no-repeat center/cover;
}

.image-wrapper.manor-II {
background: url("/images/assisted-living-houses/golden-gate-manor-ii-house-outside_600.jpg") no-repeat center/cover;
}

.image-wrapper.view {
background: url("/images/assisted-living-houses/golden-view-house-outside_600.jpg") no-repeat center/cover;
}

.image-wrapper.valley {
background: url("/images/assisted-living-houses/golden-valley-house-outside_600.jpg") no-repeat center/cover;
}

.horizon-image1 {
top: 0;
left: 0;
background: url("/images/assisted-living-houses/side-horizon_600.jpg") no-repeat center/cover;
}

.horizon-image2 {
top: 0;
right: 0;
background: url("/images/assisted-living-houses/backyard-seating-horizon_600.jpg") no-repeat center/cover;
}

.horizon-image3 {
bottom: 0;
left: 0;
background: url("/images/assisted-living-houses/front-horizon-edited_600.jpg") no-repeat center/cover;
}

.horizon-image4 {
bottom: 0;
right: 0;
background: url("/images/assisted-living-houses/Backyard-horizon_600.jpg") no-repeat center/cover;
}

.image-wrapper.horizon {
background: black;
overflow: hidden;
}

.quad-image-horizon {
width: 50%;
height: 50%;
position: absolute;
}

.carousel-tile .tile-title {
position: absolute;
z-index: 1;
top: 0;
left: 0;
border-top-left-radius: 1rem;
border-top-right-radius: 1rem;
background-color: rgba(0, 0, 0, 0.5);
width: 100%;
height: 4rem;
display: flex;
justify-content: center;
align-items: center;
color: white;
text-align: center;
}

.carousel-tile .tile-description {
position: absolute;
width: 100%;
height: 4rem;
background-color: rgba(0, 0, 0, 0.5);
display: flex;
justify-content: center;
align-items: center;
color: white;
top: 4rem;
text-align: center;
padding-bottom: 1rem;
transform: scale(0);
opacity: 0;
transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
z-index: 0;
}

.carousel-tile .image-wrapper:hover ~ .tile-description,
.info-btns-wrapper:hover ~ .tile-description,
.tile-description:hover {
transform: scale(1);
opacity: 1;
}

.info-btns-wrapper {
position: absolute;
bottom: 0;
padding: 0 1rem;
padding-bottom: 1rem;
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
gap: 2rem;
}

.info-btn {
border: none;
background: none;
padding: 1rem 0;
font-size: 1rem;
background-color: rgba(0, 0, 0, 0.5);
cursor: pointer;
color: rgba(255, 255, 255, 0.5);
border-radius: 1rem;
font-family: inherit;
text-align: center;
white-space: nowrap;
flex-grow: 1;
flex-shrink: 1;
}

a.info-btn {
text-decoration: none;
}

.info-btn:hover {
color: white;
background-color: black;
}

a.info-btn:hover {
    color: white;
}

.btn-wrapper {
top: 0;
left: 0;
position: absolute;
width: 100vw;
height: 100%;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 3rem;
}

.scroll-btn {
width: 3rem;
height: 20%;
background: rgba(50, 50, 50, 1);
border: none;
border-radius: 5px;
color: black;
cursor: pointer;
z-index: 2;
}

.scroll-btn:hover {
color: rgba(255, 255, 255, 0.7);
background: rgba(50, 50, 50, 0.7);
}

@media (min-width: 2000px) {
.carousel-tile {
    width: calc((95vw / 4) - 4rem);
    transition: none;
    margin: 0 2rem;
}
}


@media (max-width: 1050px) {
.carousel-tile {
    width: calc((95vw / 2) - 4rem);
    transition: none;
    margin: 0 2rem;
}

}

@media (max-width: 700px) {
.carousel-tile {
    width: calc((95vw - 4rem));
    transition: none;
    margin: 0 2rem;
}
}

/* More photos slider */


.picture-slider {
height: 100vh;
width: 100vw;
background-color: rgba(0, 0, 0, 0.5);
position: fixed;
top: 0;
display: flex;
justify-content: center;
z-index: 10000;
}

.picture-slides {
height: 100%;
width: 80%;
background-color: white;
position: relative;
}

.slide {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
list-style: none;
opacity: 0;
transition: opacity 0.5s ease-in-out;
}

.slide.active {
opacity: 1;
}

.full-image {
height: 100%;
width: 100%;
}

/* Golden Gate Manor I - Pictures */

.GGMI-Image-1 {
background-image: url("/images/assisted-living-houses/ggmi-image-1.jpg");
background-size: cover;
background-position: center;
}

.GGMI-Image-2 {
background-image: url("/images/assisted-living-houses/ggmi-image-2.jpg");
background-size: cover;
background-position: center;
}

.GGMI-Image-3 {
background-image: url("/images/assisted-living-houses/ggmi-image-3.jpg");
background-size: cover;
background-position: center;
}

.GGMI-Image-4 {
background-image: url("/images/assisted-living-houses/ggmi-image-4.jpg");
background-size: cover;
background-position: center;
}

.GGMI-Image-5 {
background-image: url("/images/assisted-living-houses/ggmi-image-5.jpg");
background-size: cover;
background-position: center;
}

.GGMI-Image-6 {
background-image: url("/images/assisted-living-houses/ggmi-image-6.jpg");
background-size: cover;
background-position: center;
}

.GGMI-Image-7 {
background-image: url("/images/assisted-living-houses/ggmi-image-7.jpg");
background-size: cover;
background-position: center;
}

.GGMI-Image-8 {
background-image: url("/images/assisted-living-houses/ggmi-image-8.jpg");
background-size: cover;
background-position: center;
}

.GGMI-Image-9 {
background-image: url("/images/assisted-living-houses/ggmi-image-9.jpg");
background-size: cover;
background-position: center;
}
.GGMI-Image-10 {
background-image: url("/images/assisted-living-houses/ggmi-image-10.jpg");
background-size: cover;
background-position: center;
}
.GGMI-Image-11 {
background-image: url("/images/assisted-living-houses/ggmi-image-11.jpg");
background-size: cover;
background-position: center;
}
.GGMI-Image-12 {
background-image: url("/images/assisted-living-houses/ggmi-image-12.jpg");
background-size: cover;
background-position: center;
}
.GGMI-Image-13 {
background-image: url("/images/assisted-living-houses/ggmi-image-13.jpg");
background-size: cover;
background-position: center;
}
.GGMI-Image-14 {
background-image: url("/images/assisted-living-houses/ggmi-image-14.jpg");
background-size: cover;
background-position: center;
}
.GGMI-Image-15 {
background-image: url("/images/assisted-living-houses/ggmi-image-15.jpg");
background-size: cover;
background-position: center;
}
.GGMI-Image-16 {
background-image: url("/images/assisted-living-houses/ggmi-image-16.jpg");
background-size: cover;
background-position: center;
}
.GGMI-Image-17 {
background-image: url("/images/assisted-living-houses/ggmi-image-17.jpg");
background-size: cover;
background-position: center;
}

/* GOLDEN GATE MANOR II - Pictures */

.GGMII-Image-1 {
background-image: url("/images/assisted-living-houses/ggmii-image-1.jpg");
background-size: cover;
background-position: center;
}

.GGMII-Image-2 {
background-image: url("/images/assisted-living-houses/ggmii-image-2.jpg");
background-size: cover;
background-position: center;
}

.GGMII-Image-3 {
background-image: url("/images/assisted-living-houses/ggmii-image-3.jpg");
background-size: cover;
background-position: center;
}

.GGMII-Image-4 {
background-image: url("/images/assisted-living-houses/ggmii-image-4.jpg");
background-size: cover;
background-position: center;
}
.GGMII-Image-5 {
background-image: url("/images/assisted-living-houses/ggmii-image-5.jpg");
background-size: cover;
background-position: center;
}
.GGMII-Image-6 {
background-image: url("/images/assisted-living-houses/ggmii-image-6.jpg");
background-size: cover;
background-position: center;
}

.GGMII-Image-7 {
background-image: url("/images/assisted-living-houses/ggmii-image-7.jpg");
background-size: cover;
background-position: center;
}

.GGMII-Image-8 {
background-image: url("/images/assisted-living-houses/ggmii-image-8.jpg");
background-size: cover;
background-position: center;
}

.GGMII-Image-9 {
background-image: url("/images/assisted-living-houses/ggmii-image-9.jpg");
background-size: cover;
background-position: center;
}

.GGMII-Image-10 {
background-image: url("/images/assisted-living-houses/ggmii-image-10.jpg");
background-size: cover;
background-position: center;
}

.GGMII-Image-11 {
background-image: url("/images/assisted-living-houses/ggmii-image-11.jpg");
background-size: cover;
background-position: center;
}
.GGMII-Image-12 {
background-image: url("/images/assisted-living-houses/ggmii-image-12.jpg");
background-size: cover;
background-position: center;
}
.GGMII-Image-13 {
background-image: url("/images/assisted-living-houses/ggmii-image-13.jpg");
background-size: cover;
background-position: center;
}
.GGMII-Image-14 {
background-image: url("/images/assisted-living-houses/ggmii-image-14.jpg");
background-size: cover;
background-position: center;
}
.GGMII-Image-15 {
background-image: url("/images/assisted-living-houses/ggmii-image-15.jpg");
background-size: cover;
background-position: center;
}
.GGMII-Image-16 {
background-image: url("/images/assisted-living-houses/ggmii-image-16.jpg");
background-size: cover;
background-position: center;
}
.GGMII-Image-17 {
background-image: url("/images/assisted-living-houses/ggmii-image-17.jpg");
background-size: cover;
background-position: center;
}

/* GOLDEN HORIZON - Pictures*/

.GHorizon-Image-1 {
background-image: url("/images/assisted-living-houses/ghorizon-image-1.jpg");
background-size: cover;
background-position: center;
}
.GHorizon-Image-2 {
background-image: url("/images/assisted-living-houses/ghorizon-image-2.jpg");
background-size: cover;
background-position: center;
}
.GHorizon-Image-3 {
background-image: url("/images/assisted-living-houses/ghorizon-image-3.jpg");
background-size: cover;
background-position: center;
}
.GHorizon-Image-4 {
background-image: url("/images/assisted-living-houses/ghorizon-image-4.jpg");
background-size: cover;
background-position: center;
}
.GHorizon-Image-5 {
background-image: url("/images/assisted-living-houses/ghorizon-image-5.jpg");
background-size: cover;
background-position: center;
}
.GHorizon-Image-6 {
background-image: url("/images/assisted-living-houses/ghorizon-image-6.jpg");
background-size: cover;
background-position: center;
}
.GHorizon-Image-7 {
background-image: url("/images/assisted-living-houses/ghorizon-image-7.jpg");
background-size: cover;
background-position: center;
}
.GHorizon-Image-8 {
background-image: url("/images/assisted-living-houses/ghorizon-image-8.jpg");
background-size: cover;
background-position: center;
}
.GHorizon-Image-9 {
background-image: url("/images/assisted-living-houses/ghorizon-image-9.jpg");
background-size: cover;
background-position: center;
}
.GHorizon-Image-10 {
background-image: url("/images/assisted-living-houses/ghorizon-image-10.jpg");
background-size: cover;
background-position: center;
}
.GHorizon-Image-11 {
background-image: url("/images/assisted-living-houses/ghorizon-image-11.jpg");
background-size: cover;
background-position: center;
}
.GHorizon-Image-12 {
background-image: url("/images/assisted-living-houses/ghorizon-image-12.jpg");
background-size: cover;
background-position: center;
}
.GHorizon-Image-13 {
background-image: url("/images/assisted-living-houses/ghorizon-image-13.jpg");
background-size: cover;
background-position: center;
}
.GHorizon-Image-14 {
background-image: url("/images/assisted-living-houses/ghorizon-image-14.jpg");
background-size: cover;
background-position: center;
}

/* GOLDEN VALLEY - Pictures */

.GValley-Image-1 {
background-image: url("/images/assisted-living-houses/gvalley-image-1.jpg");
background-size: cover;
background-position: center;
}

.GValley-Image-2 {
background-image: url("/images/assisted-living-houses/gvalley-image-2.jpg");
background-size: cover;
background-position: center;
}

.GValley-Image-3 {
background-image: url("/images/assisted-living-houses/gvalley-image-3.jpg");
background-size: cover;
background-position: center;
}

.GValley-Image-4 {
background-image: url("/images/assisted-living-houses/gvalley-image-4.jpg");
background-size: cover;
background-position: center;
}

.GValley-Image-5 {
background-image: url("/images/assisted-living-houses/gvalley-image-5.jpg");
background-size: cover;
background-position: center;
}

.GValley-Image-6 {
background-image: url("/images/assisted-living-houses/gvalley-image-6.jpg");
background-size: cover;
background-position: center;
}

.GValley-Image-7 {
background-image: url("/images/assisted-living-houses/gvalley-image-7.jpg");
background-size: cover;
background-position: center;
}

.GValley-Image-8 {
background-image: url("/images/assisted-living-houses/gvalley-image-8.jpg");
background-size: cover;
background-position: center;
}

.GValley-Image-9 {
background-image: url("/images/assisted-living-houses/gvalley-image-9.jpg");
background-size: cover;
background-position: center;
}
.GValley-Image-10 {
background-image: url("/images/assisted-living-houses/gvalley-image-10.jpg");
background-size: cover;
background-position: center;
}
.GValley-Image-11 {
background-image: url("/images/assisted-living-houses/gvalley-image-11.jpg");
background-size: cover;
background-position: center;
}
.GValley-Image-12 {
background-image: url("/images/assisted-living-houses/gvalley-image-12.jpg");
background-size: cover;
background-position: center;
}
.GValley-Image-13 {
background-image: url("/images/assisted-living-houses/gvalley-image-13.jpg");
background-size: cover;
background-position: center;
}
.GValley-Image-14 {
background-image: url("/images/assisted-living-houses/gvalley-image-14.jpg");
background-size: cover;
background-position: center;
}
.GValley-Image-15 {
background-image: url("/images/assisted-living-houses/gvalley-image-15.jpg");
background-size: cover;
background-position: center;
}

/* GOLDEN VIEW - Pictures */

.GView-Image-1 {
background-image: url("/images/assisted-living-houses/gview-image-1.jpg");
background-size: cover;
background-position: center;
}
.GView-Image-2 {
background-image: url("/images/assisted-living-houses/gview-image-2.jpg");
background-size: cover;
background-position: center;
}
.GView-Image-3 {
background-image: url("/images/assisted-living-houses/gview-image-3.jpg");
background-size: cover;
background-position: center;
}
.GView-Image-4 {
background-image: url("/images/assisted-living-houses/gview-image-4.jpg");
background-size: cover;
background-position: center;
}
.GView-Image-5 {
background-image: url("/images/assisted-living-houses/gview-image-5.jpg");
background-size: cover;
background-position: center;
}
.GView-Image-6 {
background-image: url("/images/assisted-living-houses/gview-image-6.jpg");
background-size: cover;
background-position: center;
}
.GView-Image-7 {
background-image: url("/images/assisted-living-houses/gview-image-7.jpg");
background-size: cover;
background-position: center;
}
.GView-Image-8 {
background-image: url("/images/assisted-living-houses/gview-image-8.jpg");
background-size: cover;
background-position: center;
}
.GView-Image-9 {
background-image: url("/images/assisted-living-houses/gview-image-9.jpg");
background-size: cover;
background-position: center;
}
.GView-Image-10 {
background-image: url("/images/assisted-living-houses/gview-image-10.jpg");
background-size: cover;
background-position: center;
}
.GView-Image-11 {
background-image: url("/images/assisted-living-houses/gview-image-11.jpg");
background-size: cover;
background-position: center;
}
.GView-Image-12 {
background-image: url("/images/assisted-living-houses/gview-image-12.jpg");
background-size: cover;
background-position: center;
}
.GView-Image-13 {
background-image: url("/images/assisted-living-houses/gview-image-13.jpg");
background-size: cover;
background-position: center;
}

.corner-counter {
position: absolute;
top: 1rem;
left: 1rem;
z-index: 1;
background-color: rgba(255, 255, 255, 0.25);
padding: 1rem;
font-size: 2.5rem;
font-weight: bold;
}

button.picture-slider-btn {
position: absolute;
z-index: 1;
cursor: pointer;
background: rgba(255, 255, 255, 0.8);
border: none;
border-radius: 5px;
color: black;
display: flex;
justify-content: center;
align-items: center;
padding: 0;
}

.picture-slider-btn:hover {
color: white;
background: rgba(0, 0, 0, 0.8);
}

.picture-slider-btn.next,
.picture-slider-btn.prev {
top: 50%;
translate: 0 -50%;
height: 8rem;
width: 4rem;
}

.picture-slider-btn.prev {
left: 0;
transform: translateX(calc(-100% - 0.25rem));
}

.picture-slider-btn.next {
right: 0;
transform: translateX(calc(100% + 0.25rem));
}

.picture-slider-btn.close {
font-size: 2rem;
top: 1rem;
right: 1rem;
height: 4rem;
width: 4rem;
}

@media (max-width: 768px) {
.picture-slides {
    width: 100%;
}

.picture-slider-btn.prev {
    left: 0.25rem;
    transform: translateX(0);
}

.picture-slider-btn.next {
    right: 0.25rem;
    transform: translateX(0);
}

.full-image {
    background-size: contain;
    background-repeat: no-repeat;
}

.picture-slider-btn { 
    background: rgba(255, 255, 255, 1);
}
}
</style>
</head>

<body>
<h2 class="houses-title">Golden Gate Manor Houses</h2>
<div class="carousel-wrapper">
    <div class="btn-wrapper">
        <button class="scroll-btn prev" type="button" data-carousel-btn="prev" aria-label="Slide previous button">
            <div class="btn-icon-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                    <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                </svg>
            </div>
        </button>
        <button class="scroll-btn next" type="button" data-carousel-btn="next" aria-label="Slide next button">
            <div class="btn-icon-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                </svg>
            </div>
        </button>
    </div>
    <div class="carousel-container" data-test>
        <div class="carousel-tiles" data-carousel>
            <div class="carousel-tile">
                <div class="image-wrapper manor-I"></div>
                <h2 class="tile-title">Golden Gate Manor I</h2>
                <div class="info-btns-wrapper">
                    <a class="info-btn" href="https://goo.gl/maps/RdzcjqoFjsPJQpPz5" target="_blank">View Map</a>
                    <button class="info-btn" type="button" data-more-btn="manor-I">View More</button>
                </div>
                <p class="tile-description">606 West Abriendo Ave. Pueblo, CO 81004</p>
            </div>
            <div class="carousel-tile" data-tile>
                <div class="image-wrapper view"></div>
                <h2 class="tile-title">Golden View</h2>
                <div class="info-btns-wrapper">
                    <a class="info-btn" href="https://goo.gl/maps/UhswVz9wbprojhLJ9" target="_blank">View Map</a>
                    <button class="info-btn" type="button" data-more-btn="view">View More</button>
                </div>
                <p class="tile-description">525 West 9th Street Pueblo, CO 81003 <br>
                    *Handicap accessible facility</p>
            </div>
            <div class="carousel-tile" data-tile>
                <div class="image-wrapper valley"></div>
                <h2 class="tile-title">Golden Valley</h2>
                <div class="info-btns-wrapper">
                    <a class="info-btn" href="https://goo.gl/maps/KNM3gM8kRRWGAg6Z9" target="_blank">View Map</a>
                    <button class="info-btn" type="button" data-more-btn="valley">View More</button>
                </div>
                <p class="tile-description">1033 East Evans Pueblo, CO 81004 <br/>
                    *Offering private bedrooms & bathrooms</p>
            </div>
            <div class="carousel-tile" data-tile>
                <div class="image-wrapper manor-II"></div>
                <h2 class="tile-title">Golden Gate Manor II</h2>
                <div class="info-btns-wrapper">
                    <a class="info-btn" href="https://goo.gl/maps/7KJYLe5kL8e1fqL8A" target="_blank">View Map</a>
                    <button class="info-btn" type="button" data-more-btn="manor-II">View More</button>
                </div>
                <p class="tile-description">1219 Lake Ave Pueblo, CO 81004</p>
            </div>
            <div class="carousel-tile">
                <div class="image-wrapper horizon">
                    <div class="horizon-image1 quad-image-horizon"></div>
                    <div class="horizon-image2 quad-image-horizon"></div>
                    <div class="horizon-image3 quad-image-horizon"></div>
                    <div class="horizon-image4 quad-image-horizon"></div>
                </div>
                <h2 class="tile-title">Golden Horizon</h2>
                <div class="info-btns-wrapper">
                    <a class="info-btn" href="https://goo.gl/maps/jJsHQKRC3vkEDZCm8" target="_blank">View Map</a>
                    <button class="info-btn" type="button" data-more-btn="horizon">View More</button>
                </div>
                <p class="tile-description">2109 Chautard Drive Pueblo, CO 81005</p>
            </div>
        </div>
    </div>
</div>
<script>
    const buttons = document.querySelectorAll("[data-carousel-btn]");
    const carousel = document.querySelector("[data-carousel]");
    const tiles = document.querySelectorAll("[data-tile]");
    const container = document.querySelector("[data-test]");
    var width = (carousel.offsetWidth/5);
    var screenWidth = window.innerWidth;
    var tileCount = Math.round(screenWidth/width);
    var slideOpen = false;
    let middleIdx = 0;
    let Dx = 0;
    let count = 0;
    let autoScrolling;

    if(!autoScrolling)
        startAutoScrolling();
    
    if(tileCount === 3)
        tiles[0].classList.add("middle");
    else {
        let temp = document.querySelector(".middle");
    if(temp)
        temp.classList.remove("middle");
    }  

    function startAutoScrolling() {
        autoScrolling = setInterval(autoScroll, 7000);
    }

    function stopAutoScrolling() {
        autoScrolling = clearInterval(autoScrolling);
    }
    
    buttons.forEach(button => {
        button.addEventListener("mouseenter", () => {
            if(tileCount > 1 && autoScrolling) {
                stopAutoScrolling();
            }
        })
    })

    buttons.forEach(button => {
        button.addEventListener("mouseleave", () => {
            if(tileCount > 1 && !autoScrolling) {
                startAutoScrolling();
            }
        })
    })

    container.addEventListener("mouseenter", () => {
        if(tileCount > 1)
            stopAutoScrolling();
    })

    container.addEventListener("mouseleave", () => {
        if(tileCount > 1 && !slideOpen)
            startAutoScrolling();
    })

    window.addEventListener("resize", () => { 
        screenWidth = window.innerWidth;
        width = (carousel.offsetWidth/5);
        tileCount = Math.round(screenWidth/width)
        count = 0;
        middleIdx = 0;
        carousel.style.transform = "translate(0)";
        if(tileCount > 1 && !autoScrolling)
            startAutoScrolling();
        
        if(tileCount != 3) {
            let temp = document.querySelector(".middle");
            if(temp)
                temp.classList.remove("middle");
        } else {
            let temp = document.querySelector(".middle");
            if(temp)
                temp.classList.remove("middle");
            tiles[0].classList.add("middle");
        }
    });

    buttons.forEach(button => {
        button.addEventListener("click", () => {
            if(button.getAttribute("data-carousel-btn") === "prev")
                scrollLeft();
            else if(button.getAttribute("data-carousel-btn") === "next")
                scrollRight();
        })
    })

    function changeMiddle() {
        let temp = document.querySelector(".middle");
        if(temp)
            temp.classList.remove("middle");
        tiles[middleIdx].classList.add("middle");
    }

    function autoScroll() {
        if(tileCount === 1) {
            autoScrolling = clearInterval(autoScrolling);
        }
        else
            scrollRight();
    }

    function scrollLeft() {
        if(count > 0) {
            if(count === 1) {
                --count;
                Dx = 0;
            }
            else 
            Dx = -(--count * width);
            if(tileCount === 3) {
                middleIdx--;
                changeMiddle();
            }
        } else {
            count = 5 - tileCount;
            Dx = -((5 - tileCount) * width)
            if(tileCount === 3) {
                middleIdx = 2;
                changeMiddle();
            }
        }

        carousel.style.transform = "translate(" + Dx + "px)"; 
    }

    function scrollRight() {
        if(count < (5 - tileCount)) {
            Dx = -(++count * width);
            if(tileCount === 3) {
                middleIdx++;
                changeMiddle();
            }
        } else {
            Dx = 0;
            count = 0;
            if(tileCount === 3) {
                middleIdx = 0;
                changeMiddle();
            }
        }
        
        carousel.style.transform = "translate(" + Dx + "px)";
    }
</script>

<div class="preloading-images">
    <div id="preload-01"></div>
    <div id="preload-02"></div>
    <div id="preload-03"></div>
    <div id="preload-04"></div>
    <div id="preload-05"></div>
</div>

<div class="picture-slider manor-I hidden" data-picture-slider="manor-I">
    <div class="picture-slides">
        <button type="button" class="picture-slider-btn close" data-close="manor-I">X</button>
        <button type="button" class="picture-slider-btn prev" data-picture-btn="prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
            </svg>
        </button>
        <button type="button" class="picture-slider-btn next" data-picture-btn="next">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
            </svg>
        </button>
        <div class="corner-counter" data-counter="manor-I"></div>
        <ul data-slides="manor-I">
            <li class="slide active">
                <div class="full-image GGMI-Image-1"></div>
            </li>
            <li class="slide">
                <div class="full-image GGMI-Image-2"></div>
            </li>
            <li class="slide">
                <div class="full-image GGMI-Image-3"></div>
            </li>
            <li class="slide">
                <div class="full-image GGMI-Image-4"></div>
            </li>
            <li class="slide">
                <div class="full-image GGMI-Image-5"></div>
            </li>
            <li class="slide">
                <div class="full-image GGMI-Image-6"></div>
            </li>
            <li class="slide">
                <div class="full-image GGMI-Image-7"></div>
            </li>
            <li class="slide">
                <div class="full-image GGMI-Image-8"></div>
            </li>
            <li class="slide">
                <div class="full-image GGMI-Image-9"></div>
            </li>
            <li class="slide">
                <div class="full-image GGMI-Image-10"></div>
            </li>
            <li class="slide">
                <div class="full-image GGMI-Image-11"></div>
            </li>
            <li class="slide">
                <div class="full-image GGMI-Image-12"></div>
            </li>
            <li class="slide">
                <div class="full-image GGMI-Image-13"></div>
            </li>
            <li class="slide">
                <div class="full-image GGMI-Image-14"></div>
            </li>
            <li class="slide">
                <div class="full-image GGMI-Image-15"></div>
            </li>
            <li class="slide">
                <div class="full-image GGMI-Image-16"></div>
            </li>
            <li class="slide">
                <div class="full-image GGMI-Image-17"></div>
            </li>
        </ul>
    </div>
</div>

<div class="picture-slider manor-II hidden" data-picture-slider="manor-II">
    <div class="picture-slides">
        <button type="button" class="picture-slider-btn close" data-close="manor-II">X</button>
        <button type="button" class="picture-slider-btn prev" data-picture-btn="prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
            </svg>
        </button>
        <button type="button" class="picture-slider-btn next" data-picture-btn="next">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
            </svg>
        </button>
        <div class="corner-counter" data-counter="manor-II"></div>
        <ul data-slides="manor-II">
            <li class="slide active">
                <div class="full-image GGMII-Image-1"></div>
            </li>
            <li class="slide">
                <div class="full-image GGMII-Image-2"></div>
            </li>
            <li class="slide">
                <div class="full-image GGMII-Image-3"></div>
            </li>
            <li class="slide">
                <div class="full-image GGMII-Image-4"></div>
            </li>
            <li class="slide">
                <div class="full-image GGMII-Image-5"></div>
            </li>
            <li class="slide">
                <div class="full-image GGMII-Image-6"></div>
            </li>
            <li class="slide">
                <div class="full-image GGMII-Image-7"></div>
            </li>
            <li class="slide">
                <div class="full-image GGMII-Image-8"></div>
            </li>
            <li class="slide">
                <div class="full-image GGMII-Image-9"></div>
            </li>
            <li class="slide">
                <div class="full-image GGMII-Image-10"></div>
            </li>
            <li class="slide">
                <div class="full-image GGMII-Image-11"></div>
            </li>
            <li class="slide">
                <div class="full-image GGMII-Image-12"></div>
            </li>
            <li class="slide">
                <div class="full-image GGMII-Image-13"></div>
            </li>
            <li class="slide">
                <div class="full-image GGMII-Image-14"></div>
            </li>
            <li class="slide">
                <div class="full-image GGMII-Image-15"></div>
            </li>
            <li class="slide">
                <div class="full-image GGMII-Image-16"></div>
            </li>
            <li class="slide">
                <div class="full-image GGMII-Image-17"></div>
            </li>
        </ul>
    </div>
</div>
<div class="picture-slider horizon hidden" data-picture-slider="horizon">
    <div class="picture-slides">
        <button type="button" class="picture-slider-btn close" data-close="horizon">X</button>
        <button type="button" class="picture-slider-btn prev" data-picture-btn="prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
            </svg>
        </button>
        <button type="button" class="picture-slider-btn next" data-picture-btn="next">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
            </svg>
        </button>
        <div class="corner-counter" data-counter="horizon"></div>
        <ul data-slides="horizon">
            <li class="slide active">
                <div class="full-image GHorizon-Image-1"></div>
            </li>
            <li class="slide">
                <div class="full-image GHorizon-Image-2"></div>
            </li>
            <li class="slide">
                <div class="full-image GHorizon-Image-3"></div>
            </li>
            <li class="slide">
                <div class="full-image GHorizon-Image-4"></div>
            </li>
            <li class="slide">
                <div class="full-image GHorizon-Image-5"></div>
            </li>
            <li class="slide">
                <div class="full-image GHorizon-Image-6"></div>
            </li>
            <li class="slide">
                <div class="full-image GHorizon-Image-7"></div>
            </li>
            <li class="slide">
                <div class="full-image GHorizon-Image-8"></div>
            </li>
            <li class="slide">
                <div class="full-image GHorizon-Image-9"></div>
            </li>
            <li class="slide">
                <div class="full-image GHorizon-Image-10"></div>
            </li>
            <li class="slide">
                <div class="full-image GHorizon-Image-11"></div>
            </li>
            <li class="slide">
                <div class="full-image GHorizon-Image-12"></div>
            </li>
            <li class="slide">
                <div class="full-image GHorizon-Image-13"></div>
            </li>
            <li class="slide">
                <div class="full-image GHorizon-Image-14"></div>
            </li>
        </ul>
    </div>
</div>

<div class="picture-slider view hidden" data-picture-slider="view">
    <div class="picture-slides">
        <button type="button" class="picture-slider-btn close" data-close="view">X</button>
        <button type="button" class="picture-slider-btn prev" data-picture-btn="prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
            </svg>
        </button>
        <button type="button" class="picture-slider-btn next" data-picture-btn="next">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
            </svg>
        </button>
        <div class="corner-counter" data-counter="view"></div>
        <ul data-slides="view">
            <li class="slide active">
                <div class="full-image GView-Image-1"></div>
            </li>
            <li class="slide">
                <div class="full-image GView-Image-2"></div>
            </li>
            <li class="slide">
                <div class="full-image GView-Image-3"></div>
            </li>
            <li class="slide">
                <div class="full-image GView-Image-4"></div>
            </li>
            <li class="slide">
                <div class="full-image GView-Image-5"></div>
            </li>
            <li class="slide">
                <div class="full-image GView-Image-6"></div>
            </li>
            <li class="slide">
                <div class="full-image GView-Image-7"></div>
            </li>
            <li class="slide">
                <div class="full-image GView-Image-8"></div>
            </li>
            <li class="slide">
                <div class="full-image GView-Image-9"></div>
            </li>
            <li class="slide">
                <div class="full-image GView-Image-10"></div>
            </li>
            <li class="slide">
                <div class="full-image GView-Image-11"></div>
            </li>
            <li class="slide">
                <div class="full-image GView-Image-12"></div>
            </li>
            <li class="slide">
                <div class="full-image GView-Image-13"></div>
            </li>
        </ul>
    </div>
</div>

<div class="picture-slider valley hidden" data-picture-slider="valley">
    <div class="picture-slides">
        <button type="button" class="picture-slider-btn close" data-close="valley">X</button>
        <button type="button" class="picture-slider-btn prev" data-picture-btn="prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
            </svg>
        </button>
        <button type="button" class="picture-slider-btn next" data-picture-btn="next">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
            </svg>
        </button>
        <div class="corner-counter" data-counter="valley"></div>
        <ul data-slides="valley">
            <li class="slide active">
                <div class="full-image GValley-Image-1"></div>
            </li>
            <li class="slide">
                <div class="full-image GValley-Image-2"></div>
            </li>
            <li class="slide">
                <div class="full-image GValley-Image-3"></div>
            </li>
            <li class="slide">
                <div class="full-image GValley-Image-4"></div>
            </li>
            <li class="slide">
                <div class="full-image GValley-Image-5"></div>
            </li>
            <li class="slide">
                <div class="full-image GValley-Image-6"></div>
            </li>
            <li class="slide">
                <div class="full-image GValley-Image-7"></div>
            </li>
            <li class="slide">
                <div class="full-image GValley-Image-8"></div>
            </li>
            <li class="slide">
                <div class="full-image GValley-Image-9"></div>
            </li>
            <li class="slide">
                <div class="full-image GValley-Image-10"></div>
            </li>
            <li class="slide">
                <div class="full-image GValley-Image-11"></div>
            </li>
            <li class="slide">
                <div class="full-image GValley-Image-12"></div>
            </li>
            <li class="slide">
                <div class="full-image GValley-Image-13"></div>
            </li>
            <li class="slide">
                <div class="full-image GValley-Image-14"></div>
            </li>
            <li class="slide">
                <div class="full-image GValley-Image-15"></div>
            </li>
        </ul>
    </div>
</div>
<script>
    const moreButtons = document.querySelectorAll("[data-more-btn]");
    const closeButtons = document.querySelectorAll("[data-close]");
    const sliderButtons = document.querySelectorAll("[data-picture-btn]")
    const slides = document.querySelectorAll("[data-slides]");
    let currentSlides;
    let slideIdx = 0;
    
    addLoadEvent(preloader);

    moreButtons.forEach(button => {
        button.addEventListener("click", () => {
            let bodyTemp = document.querySelector("body");
            bodyTemp.classList.add("no-scroll");
            currentSlides = button.getAttribute("data-more-btn");
            let temp = document.querySelector(`[data-picture-slider=${currentSlides}]`);
            if(temp)
                temp.classList.remove("hidden");

            buttons.forEach(button => {
                button.classList.add("hidden");
            })
            slideOpen = true;
            stopAutoScrolling();
            let counter = document.querySelector(`[data-counter=${currentSlides}]`);
            slides.forEach(slide => {
                if(slide.getAttribute("data-slides") === currentSlides) {
                    counter.innerHTML = `${slideIdx + 1}/${slide.children.length}`
                }
            })
        })
    })

    closeButtons.forEach(button => {
        button.addEventListener("click", () => {
            let temp = document.querySelector(`[data-picture-slider=${currentSlides}]`);
            let bodyTemp = document.querySelector("body");
            
            bodyTemp.classList.remove("no-scroll");
            if(temp)
                temp.classList.add("hidden")
            slideIdx = 0;

            buttons.forEach(button => {
                button.classList.remove("hidden");
            })
            slideOpen = false;
            startAutoScrolling();
        })
    })

    sliderButtons.forEach(button => {
        button.addEventListener("click", () => {
            const offset = button.dataset.pictureBtn === "next" ? 1 : -1;
            let counter = document.querySelector(`[data-counter=${currentSlides}]`);

            slides.forEach(slide => {
                if(slide.getAttribute("data-slides") === currentSlides) {
                    let temp = slide.children;
                    temp[slideIdx].classList.remove("active");
                    // temp[slideCount].classList.remove("active");
                    if(slideIdx === 0 && offset === -1)
                    slideIdx = temp.length - 1;
                else if (slideIdx === temp.length - 1 && offset === 1)
                    slideIdx = 0;
                else
                    slideIdx += offset;
                temp[slideIdx].classList.add("active");
                counter.innerHTML = `${slideIdx + 1}/${temp.length}`
                }
            })
        })
    })

    function preloader() {
        if (document.getElementById) {
            document.getElementById("preload-01").style.background = "url('https://cdn.aryeo.com/listings/606-w-abriendo-ave-pueblo-co-81004-5542173/resized/large/large-d8100247-b824-41ad-a320-1b7d413784f2.jpeg') no-repeat -9999px -9999px";
            document.getElementById("preload-02").style.background = "url('https://cdn.aryeo.com/listings/1219-lake-ave-pueblo-co-81004-5541788/resized/large/large-d37caf65-7bf5-4bd5-8d44-a45af4c8f6e3.jpeg') no-repeat -9999px -9999px";
            document.getElementById("preload-03").style.background = "url('https://cdn.aryeo.com/listings/2109-chautard-dr-pueblo-co-81005-5594533/resized/large/large-3e67fe89-824d-47a5-8a84-3ce4a6a4467a.jpeg') no-repeat -9999px -9999px";
            document.getElementById("preload-04").style.background = "url('https://cdn.aryeo.com/listings/525-w-9th-st-pueblo-co-81003-5624220/resized/large/large-f2013fcc-fee7-422e-90f0-f5158ea8aea9.jpeg') no-repeat -9999px -9999px";
            document.getElementById("preload-05").style.background = "url('https://cdn.aryeo.com/listings/1033-e-evans-ave-pueblo-co-81004-5630352/resized/large/large-f58f84bc-ae36-494e-85c9-0582d4c2a341.jpeg') no-repeat -9999px -9999px";
        }
    }
    function addLoadEvent(func) {
        var oldonload = window.onload;
        if (typeof window.onload != 'function') {
            window.onload = func;
        } else {
            window.onload = function() {
                if (oldonload) {
                    oldonload();
                }
                func();
            }
        }
    }
</script>
</body>