<section class="houses-slide-carousel-section">
    <button type="button" data-slider-btn="left"></button>
    <div class="slide-carousel-view-area">
        <div class="carousel-slides" data-direction>
            <div class="carousel-slide-wrapper">
                    <div class="carousel-slide-item" data-slide-item="1">

                    </div>
            </div>
            <div class="carousel-slide-wrapper">
                <div class="carousel-slide-item" data-slide-item="2">

                </div>
            </div>
            <div class="carousel-slide-wrapper">
                <div class="carousel-slide-item" data-slide-item="3">

                </div>
            </div>
            <div class="carousel-slide-wrapper" data-slide-item="4">

            </div>
            <div class="carousel-slide-wrapper" data-slide-item="5">

            </div>
        </div>
    </div>
    <button type="button" data-slider-btn="right"></button>
</section>