<section class="thank-you-main-section page-content">
    <%- include('../../svg/envelope') %>
    <p class="thank-you-note">
        THANK YOU!
    </p>
    <p class="section-text thank-you-text">
        Your submission has been recieved. If you have any 
        questions or concerns with your ride please contact us at 
        <a href="tel:<%- company.phone_number_nemt %>"><%- company.phone_number_nemt_format %></a>.
    </p>
</section>