<section class="community-outreach-top-page page-content section-content">
    <%- include('../../components/community-outreach-carousel', { 
        outreachImages: outreachImages, 
        helper: helper 
    }) %>
    <p class="section-text">
        Here at Golden Gate Manor, we're on a mission to enhance 
        lives daily. Our commitment to establishing an environment 
        that is welcoming and comfortable reflects our core objectives. We 
        strive to connect with our community, reaching as many individuals as 
        possible to foster independence. This mindset shapes our goals and 
        propels us to discover innovative ways to participate within the 
        community. As a family-owned business, we deeply value community impact.
    </p>
    <p class="section-text">
        We are proud supporters of local initiatives like CASA and district 
        schools. Each year, we're driven to expand our community reach, 
        consistently working towards our mission of improving lives. If Golden 
        Gate Manor is participating in events explore the upcoming events 
        below/reach out for more details. If we aren't currently participating 
        in community events during a time when you have an event ongoing, please 
        reach out to us to discuss our involvement; we will get back to you with 
        our availability as soon as we can.
    </p>
    <a href="/contact-us" class="cta-button community">Contact Us</a>
</section>