/* Hero Section Styling */

section.hero-section {
    height: 600px;
    width: 100%;
    background: url('/images/hero.webp') center/cover no-repeat;
}

hgroup.hero-content {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

hgroup.hero-content {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

span.hero-title-welcome,
span.hero-title-company-name,
span.hero-title-slogan,
span.hero-title-line {
    display: block;
}

span.hero-title-welcome {
    font-size: 1.75rem;
    font-weight: 400;
    font-family: var(--font-family-main);
}

span.hero-title-company-name {
    font-weight: 900;
    font-size: 3rem;
    color: var(--secondary-color);
}

span.hero-title-slogan {
    font-size: 1.25rem;
    font-family: var(--font-family-main);
}

.hero-content p {
    font-weight: 400;
    font-size: 1.5rem;
}

span.hero-title-line {
    width: 50%;
    height: 2px;
    margin: 0.5rem auto;
    background: var(--secondary-color);
}

.cta-button.contact-us-page {
    margin-top: 2rem;
}

/* Header Hero Section Width Styling */

@media(min-width: 650px) and (max-width: 850px) {
    .hero-content p {
        font-size: calc(2vw + 7px)
    }

    .hero-content-wrapper {
        width: 100%;
        padding: 0 0.5rem;
    }
}

@media(min-width: 550px) and (max-width: 650px) {
    .hero-content-wrapper {
        width: calc(100vw - 50px)
    }
}

@media(max-width: 550px) {
    .hero-content-wrapper {
        width: 100%;
        padding: 0 0.5rem;
    }

    .hero-content p {
        font-size: 1rem;
        /* padding: 0 0.5rem; */
    }

    span.hero-title-company-name {
        font-size: calc(10.4vw - 9.2px)
    }

    span.hero-title-slogan {
        font-size: calc(5vw - 3.65px)
    }

    span.hero-title-welcome {
        font-size: calc(6.1vw - 5.55px);
    }
}