/* Main Page Styling */

main.home-page-main-content section:nth-child(odd) {
    background: rgb(240, 240, 240);
}

/* Hero Section Styling */

section.hero-section {
    height: 600px;
    width: 100%;
    background: url('/images/hero.webp') center/cover no-repeat;
}

hgroup.hero-content {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

hgroup.hero-content {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

span.hero-title-welcome,
span.hero-title-company-name,
span.hero-title-slogan,
span.hero-title-line {
    display: block;
}

span.hero-title-welcome {
    font-size: 1.75rem;
    font-weight: 400;
    font-family: var(--font-family-main);
}

span.hero-title-company-name {
    font-weight: 900;
    font-size: 3rem;
    color: rgb(var(--secondary-color));
}

span.hero-title-slogan {
    font-size: 1.25rem;
    font-family: var(--font-family-main);
}

.hero-content p {
    font-weight: 400;
    font-size: 1.5rem;
}

span.hero-title-line {
    width: 50%;
    height: 2px;
    margin: 0.5rem auto;
    background: rgb(var(--secondary-color));
}

.cta-button.contact-us-page {
    margin-top: 2rem;
}

/* Header Hero Section Width Styling */

@media(min-width: 650px) and (max-width: 850px) {
    .hero-content p {
        font-size: calc(2vw + 7px)
    }

    .hero-content-wrapper {
        width: 100%;
        padding: 0 0.5rem;
    }
}

@media(min-width: 550px) and (max-width: 650px) {
    .hero-content-wrapper {
        width: calc(100vw - 50px)
    }
}

@media(max-width: 550px) {
    .hero-content-wrapper {
        width: 100%;
        padding: 0 0.5rem;
    }

    .hero-content p {
        font-size: 1rem;
        /* padding: 0 0.5rem; */
    }

    span.hero-title-company-name {
        font-size: calc(10.4vw - 9.2px)
    }

    span.hero-title-slogan {
        font-size: calc(5vw - 3.65px)
    }

    span.hero-title-welcome {
        font-size: calc(6.1vw - 5.55px);
    }
}

/* Our Services Section Styling */

h2.our-services-title {
    text-align: center;
}

span.top-title {
    color: rgba(150, 150, 150);
    display: block;
    font-size: 1.25rem;
}

.cta-cards-wrapper {
    display: flex;
    padding: 2rem 3rem 0rem 3rem;
}

a.cta-card-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    color: rgb(150, 150, 150);
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 1rem;
}

a.cta-card-link:hover .cta-icon-wrapper {
    color: rgb(var(--primary-color));
}

a.cta-card-link:hover span.cta-button.our-services {
    background: rgb(var(--secondary-color));
    color: rgb(var(--primary-color));
}

a.cta-card-link:hover span.read-more-plus {
    color: rgb(var(--primary-color));
}

.cta-icon-wrapper {
    width: 35%;
    transition: color 0.3s ease-in-out;
}

span.cta-button.our-services {
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}

.cta-card {
    width: 25%;
    margin: 0 0.5rem;
    border: 3px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

span.bottom-title {
    color: rgb(var(--primary-color));
    font-family: var(--font-family-headings);
    font-size: 1.25rem;
    font-weight: 900;
}

h3.cta-card-title {
    font-family: var(--font-family-main);
}

.cta-card-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p.cta-card-content {
    font-size: 1rem;
    margin: 1rem 0;
}

section.home-page-our-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

/* Our Services Section Width Styling */

@media(max-width: 1000px) {
    .cta-cards-wrapper {
        flex-wrap: wrap;
    }

    .cta-card {
        width: calc(50% - 1rem);
    }

    .cta-card:nth-last-of-type(-n+2) {
        margin-top: 2rem;
    }

}

@media(max-width: 600px) {
    .cta-card {
        width: 100%;
    }

    .cta-card:nth-last-of-type(-n+3) {
        margin-top: 2rem;
    }
}

/* Assisted Living CTA Styling */

.assisted-living-section img {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
    align-self: center;
}

img.assisted-living-sign {
    display: none;
}

.assisted-living-cta-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    border-radius: 1rem;
    box-shadow: 0 4px 30px 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

section.assisted-living-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

p.assisted-living-content {
    width: 100%;
    font-size: 1.25rem;
    padding: 0 1.5rem;
}

h2.assisted-living-title {
    width: 100%;
    text-align: center;
}

a.cta-button.assisted-living {
    align-self: center;
    margin: 2rem 0;
}

p.assisted-living-content:first-of-type {
    margin: 1rem 0;
}

/* Assisted Living CTA Width Styling */

@media(max-width: 1100px) {
    .assisted-living-cta-wrapper {
        box-shadow: none;
        border-radius: 0;
        width: 100%;
        padding: 0 1rem;
    }

    .assisted-living-section img {
        border-radius: 1rem;
        box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2);
    }
}

@media(max-width: 768px) {
    p.assisted-living-content {
        padding: 0;
    }

    img.assisted-living-sign {
        display: block;
        width: 50%;
    }

    img.assisted-living-house {
        display: none;
    }
}

@media(max-width: 500px) {
    img.assisted-living-sign {
        width: 100%;
    }
}

/* NEMT Transportation Section */

.nemt-transportation-card-wrapper {
    position: absolute;
    top: 0;
    right: 0;
}

.nemt-transportation-card {
    width: 300px;
    height: 175px;
    position: relative;
    box-shadow: 0 4px 10px 3px rgba(var(--primary-color), 0.3);
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.card-front {
    background: url('/images/golden-gate-manor-logo-clear-background.png') center/contain no-repeat;
    background-color: white;
    backface-visibility: hidden;
    z-index: 1;
}

.card-back {
    background: white;
    transform: rotateY(180deg);
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nemt-transportation-card-wrapper:hover > .nemt-transportation-card {
    transform: rotateY(180deg);
}

.nemt-transportation-card-logo-wrapper {
    width: 75px;
    height: 75px;
    background: url('/images/GGMT-Logo_800.png') center/contain no-repeat;
}

.nemt-transportation-card-title {
    text-align: center
}

.nemt-card-content-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.nemt-card-content {
    display: flex;
    flex-direction: column;
}

.nemt-transportation-title {
    display: none;
}

.card-back-left { 
    padding-right: 0.5rem;
}

.card-back-right {
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
}

.logo-wrapper {
    font-size: 1.5rem;
}

span.title-top-card-title {
    color: rgba(150, 150, 150);
    display: block;
}

span.title-bottom-card-title {
    color: rgb(var(--primary-color));
    font-family: var(--font-family-headings);
    font-weight: 900;
}

.nemt-transportation-card a,
.nemt-transportation-card p {
    font-size: 0.9rem;
}

.nemt-transportation-cta-wrapper {
    display: flex;
    gap: 10rem;
}

.nemt-transportation-cta-left {
    width: 600px;
    position: relative;
}

.nemt-transportation-cta-left img {
    width: 600px;
}

.nemt-transportation-cta-right {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

section.nemt-transportation-section {
    padding: 4rem 0.5rem;
    display: flex;
    justify-content: center;
}

a.cta-button.nemt-transportation {
    margin: 1rem 0;
}

/* Non-Medical Transportation Section */

.non-medical-transportation-cta-wrapper {
    display: flex;
    padding: 4rem 0.5rem;
    justify-content: center;
    gap: 10rem;
}

.non-medical-transportation-cta-left {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2.non-medical-transportation-title {
    text-align: center;
    margin-bottom: 1rem;
}

.non-medical-transportation-cta-right {
    width: 600px;
    display: flex;
    align-items: center;
}

.non-medical-transportation-cta-right img {
    width: 600px;
}


ul.non-medical-transportation-content-list {
    list-style-image: url('/images/check-mark.svg');
    display: flex;
    gap: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.non-medical-transportation-content-list li.section-text {
    width: 250px;
}

a.cta-button.non-medical-transportation {
    margin: 1rem 0;
}

/* NEMT and Non-Medical Transportation Section Width Styling */

@media(max-width: 1400px) {
    .nemt-transportation-cta-wrapper,
    .non-medical-transportation-cta-wrapper {
        gap: 1rem;
        justify-content: space-between;
        width: 100%;
    }
}

@media(max-width: 1250px) {
    .nemt-transportation-cta-right, 
    .non-medical-transportation-cta-left { width: 50%; }
}

@media(max-width: 1000px) {
    .nemt-transportation-cta-right,
    .non-medical-transportation-cta-left {
        width: 600px;
    }

    .nemt-transportation-cta-wrapper,
    .non-medical-transportation-cta-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .non-medical-transportation-cta-wrapper {
        flex-direction: column-reverse;
    }

}

@media(max-width: 650px) {
    .nemt-transportation-title {
        display: block;
    }

    .nemt-transportation-cta-left,
    .non-medical-transportation-cta-right {
        width: 100%;
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nemt-transportation-card {
        display: none;
    }

    .nemt-transportation-cta-left img,
    .nemt-transportation-cta-right,
    .non-medical-transportation-cta-right img,
    .non-medical-transportation-cta-left {
        width: 100%;
    }
}