nav.mobile-navigation,
.info-header,
nav.main-navigation,
.information-footer,
.bottom-footer {
  display: none;
}

main#ggm-body.main-content-body {
  height: 100svh;
  width: 100svw;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(var(--primary-color));
  color: rgba(var(--primary-color));
}

section.gas-station-landing.main-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 1rem;
}

section.gas-station-landing.main-content img {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  z-index: 0;
}

section.gas-station-landing.main-content .left-page {
  width: 50%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 2.5rem;
  padding: 2rem;
  background: rgba(var(--secondary-color), 1);
  border-radius: 0.5rem;
  border: 4px dotted rgb(var(--primary-color));
  z-index: 1;
}

h1.landing-title {
  display: flex;
  flex-direction: column;
  text-align: center;
}

a.landing-page-link {
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% 0;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  z-index: 2;
}

a.landing-page-link .chevron-icon-down {
  font-size: 5rem;
  position: absolute;
  top: 0;
}

.countdown ul {
  display: flex;
  width: max-content;
  margin: 1rem auto;
  list-style: none;
  background: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 2px 4px 5px 2px rgba(0, 0, 0, 0.1);
  gap: 0.5rem;
}

.countdown li {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.countdown li span:not(.countdown-intervals-small, .countdown-intervals-full) {
  font-size: 2rem;
  font-weight: 900;
}

.countdown li span.countdown-intervals-full {
  font-weight: 200;
  font-size: 1rem;
}

.countdown li span.countdown-intervals-small {
  display: none;
}

section.gas-station-landing.main-content h2 {
  text-align: center;
}

section.gas-station-landing.main-content p {
  font-size: 1.15rem;
  text-align: center;
  margin-bottom: 1rem;
}

section.event-details-section {
  width: max-content;
  background: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  border-radius: 0.25rem;
  color: white;
  font-weight: 900;
  box-shadow: 2px 4px 5px 2px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  position: fixed;
  bottom: 2.5rem;
  left: 2.5rem;
  z-index: 1;
}

section.event-details-section ul {
  list-style: none;
  margin-left: 1rem;
}

section.event-details-section h3 {
  font-size: 1.5rem;
  text-decoration: underline;
}
@media (max-width: 1100px) {
  section.gas-station-landing.main-content .left-page {
    width: 100%;
    margin: 0;
    position: relative;
  }

  section.gas-station-landing.main-content img {
    height: 50%;
    bottom: 0;
    right: 0;
    left: unset;
    top: unset;
    rotate: 20deg;
  }
}

@media (max-width: 768px) {
  section.gas-station-landing.main-content .left-page {
    width: 100%;
    position: relative;
  }

  a.landing-page-link {
    position: relative;
  }
}

@media (max-width: 520px) {
  section.gas-station-landing.main-content img {
    translate: 2.5rem 2.5rem;
  }

  section.event-details-section {
    position: relative;
    bottom: unset;
    left: unset;
    margin: 2rem auto;
    width: 100%;
  }
  a.landing-page-link {
    margin-top: 10rem;
    margin-bottom: 2.5rem;
  }

  main#ggm-body {
    overflow-y: auto;
    overflow-x: hidden;
  }

  section.gas-station-landing.main-content {
    position: relative;
    width: unset;
    height: unset;
    top: unset;
    left: unset;
  }

  .countdown ul {
    padding: 0.5rem;
  }

  section.gas-station-landing.main-content .left-page {
    padding: 1rem;
  }

  .countdown li span.countdown-intervals-small {
    display: inline;
  }

  .countdown li span.countdown-intervals-full {
    display: none;
  }

  .countdown
    li
    span:not(.countdown-intervals-small, .countdown-intervals-full) {
    font-size: 1rem;
  }
}
