/* Universal Page Styling */

:root {
    /* Assisted Living Page Variables */
    --slide-item-x: 0;
    --slide-items-shown: 3;
    --slide-item-margin: 1rem;
    --slide-view-area-height: 0;
}

/* Assisted Living Page Styling */

/* ---- Top Page Section Styling ---- */
.assisted-living-top-page-section {
    padding: 1rem 1rem 4rem 1rem;
}

.assisted-living-top-page {
    display: flex;
    gap: 6rem;
    justify-content: center;
}

.assisted-living-page-container.left-side {
    width: 600px;
}

.assisted-living-page-container.left-side h2 {
    margin-bottom: 1rem;
    text-align: center
}
.assisted-living-page-container.left-side p:first-of-type {
    margin-bottom: 1rem;
}

.assisted-living-page-container.right-side {
    display: flex;
    align-items: center;
    width: 600px;
    justify-content: flex-end;
}

.assisted-living-page-container.right-side img {
    border-radius: 1rem;
    width: 86%;
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2);
}

/* ---- Amenities Section Styling ---- */
.assisted-living-page-amenities {
    padding: 4rem 0 0 0;
    color: white;
}

ul.assisted-living-amenities-card {
    list-style: none;
    color: black;
}

p.amenities-content-description {
    color: white;
}

h2.assisted-living-amenities-title {
    width: 100%;
}

.amenity-cards-wrapper {
    display: flex;
    gap: 1rem;
}

.assisted-living-page-amenities-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 4rem 3rem;
    background: #365DBA;
}

.amenity-cards-wrapper {
    margin-top: 1rem;
}

.assisted-living-amenities-card {
    background: #E1E1E1;
    text-align: center;
    padding: 1rem;
    width: 33%;
    border-radius: 1rem;
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.amenity-card-item:not(:last-of-type) {
    margin-bottom: 0.5rem;
}

.margin-top-s {
    margin-top: 1rem;
}

/* ---- Bottom Page Section Styling ---- */

section.assisted-living-bottom-page-section {
    padding: 0rem 1rem 4rem 1rem;
}

.free-consultation-cta {
    display: flex;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2);
}

.free-consultation-cta-left,
.free-consultation-cta-right {
    width: 50%;
}

.free-consultation-cta-left img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.free-consultation-cta-right {
    padding: 1rem;
}

h2.free-consultation-title,
h2.see-for-yourself-title {
    color: rgb(var(--primary-color));
    margin-bottom: 1rem;
}

a.cta-button.assisted-living-page {
    width: 200px;
    margin-top: 2rem;
}

.see-for-yourself-cta {
    margin-top: 4rem;
    border: 1px solid rgba(var(--primary-color));
    border-radius: 1rem;
    width: 100%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.see-for-yourself-cta > .cta-button.assisted-living-page {
    font-size: 1rem;
}


.see-for-yourself-card-wrapper {
    display: flex;
    justify-content: center;
}

.see-for-yourself-card {
    width: 300px;
    padding: 2rem;
    border: 1px solid;
    border-radius: 0.5rem;
    margin: 2rem;
    box-shadow: inset 0 1px 10px 2px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.see-for-yourself-card > h3 {
    text-align: center;
    margin-bottom: 0.5rem;
}

/* ---- Slider Styling ----- */

section.houses-slide-carousel-section {
    padding-bottom: 4rem;
}

.slider-carousel-title {
    text-align: center;
    margin-bottom: 1rem;
}

.houses-slide-carousel-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 95%;
}

.slide-carousel-view-area {
    width: 100%;
    height: var(--slide-view-area-height);
    position: relative;
    overflow: hidden;
}

.btn-logo-wrapper {
    display: flex;
    align-items: center;
    height: calc(13.3vw - 52.8px);
    font-size: calc(2.7vw - 11.2px);
}

.slider-btn {
    padding: 0 calc(0.7vw - 3.2px);
}

.carousel-slides {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    transform: translateX(calc(-1*(var(--slide-item-x) + 2rem)));
}

.carousel-slide-wrapper {
    width: var(--slide-item-x);
    height: var(--slide-item-x);
    margin: var(--slide-item-margin);
}

.carousel-slide-item {
    width: var(--slide-item-x);
    height: var(--slide-item-x);
    background: white;
    transition: transform 0.5s ease-in-out;
}

/* Assisted Living Page Width Styling */

@media(min-width: 1600px) {
    .houses-slide-carousel-wrapper {
        width: 1504.04px;
    }
    
    .btn-logo-wrapper {
        height: 10rem;
        font-size: 2rem;
    }
    
    .slider-btn {
        padding: 0 0.5rem;
    }

    .carousel-slides {
        transform: translateX(calc(-1*(var(--slide-item-x) + 1rem)));
    }
}

@media(min-width: 1017px) {
    .carousel-slide-wrapper:nth-of-type(3) {
        width: calc(var(--slide-item-x) * 1.2);
        height: calc(var(--slide-item-x) * 1.2);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .carousel-slide-item[data-slide-index='2'] {
        transform: scale(1.2);
    }
}

@media(max-width: 1200px) {
    .assisted-living-top-page {
        justify-content: space-between;
        gap: 1rem;
    }
}

@media(max-width: 1000px ) {
    .btn-logo-wrapper {
        height: 5rem;
        font-size: 1rem;
    }

    .slider-btn {
        padding: 0 0.25rem;
    }
}

@media(max-width: 850px) {
    .assisted-living-top-page {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .assisted-living-page-container.left-side {
        width: 100%;
        text-align: center;
    }
    
    .assisted-living-page-container.right-side {
        width: 80%;
        justify-content: center;
    }

    .free-consultation-cta {
        flex-direction: column;
    }

    .free-consultation-cta-left,
    .free-consultation-cta-right {
        width: 100%;
    }

    .free-consultation-cta-right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 800px) {
    .see-for-yourself-card-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .see-for-yourself-card {
        width: 80%;
    }
}

@media(max-width: 768px) {
    .amenity-cards-wrapper {
        flex-direction: column;
        width: 80%;
        gap: 2rem;
    }
    .assisted-living-amenities-card {
        width: 100%;
    }

    .assisted-living-page-amenities-wrapper {
        align-items: center;
    }
}

@media(max-width: 650px) {
    .assisted-living-page-container.right-side {
        width: 100%;
    }

    .assisted-living-page-container.right-side img {
        width: 100%;
    }
}

@media(max-width: 618px) {
    .houses-slide-carousel-wrapper {
        position: relative;
    }

    .slider-btn {
        position: absolute;
    }

    button.slider-btn.right-btn {
        right: 0;
    }

    button.slider-btn.left-btn {
        left: 0;
    }
}

@media(max-width: 500px) {
    .see-for-yourself-card {
        width: 100%;
    }

    .see-for-yourself-cta {
        padding: 1rem;
    }

    .amenity-cards-wrapper {
        width: 100%;
    }

    .assisted-living-page-amenities-wrapper {
        padding: 4rem 1rem;
    }
}

/* Non-Medical Transportation Page Styling */

.non-medical-transportation-top-page img {
    width: 100%;
    margin-top: 1rem;
    height: 450px;
    object-fit: cover;
    border-radius: .5rem;
    margin-bottom: 1rem;
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, .2);
}

.section-button-container {
    display: flex;
    justify-content: center;
}

.section-button-container .cta-button {
    margin: 1rem 2rem;
}

section.non-medical-transportation-bottom-page {
    display: flex;
    align-items: center
}

.non-medical-transportation-bottom-page img {
    width: 497px;
    margin-left: 1rem;
}

/* Non-Medical Transportation Page Width Styling */

@media(max-width: 500px) {    
    .section-button-container {
        flex-direction: column;
        align-items: center;
    }

    .section-button-container .cta-button {
        width: 100%
    }
}

@media(max-width: 800px) {
    .non-medical-transportation-top-page img {
        height: auto;
        object-fit: contain;
    }
}

@media(max-width: 875px) {
    .non-medical-transportation-bottom-page img {
        display: none;
    }
}

/* NEMT Page Styling */

/* --- Top Page Section Styling --- */

    section.non-emergency-transportation-top-page {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .non-emergency-transportation-top-page-left {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .non-emergency-transportation-top-page-right {
        width: 50%;
    }

    table.nemt-table, th.nemt-header, td.nemt-table-data {
        border: 2px solid;
        border-collapse: collapse;
        background: #c6d5e4;
    }

    table.nemt-table {
        width: 100%;
        margin: 1rem 0;
    }

    th.nemt-header, td.nemt-table-data {
        padding: 0.75rem;
    }

    th.nemt-header {
        font-weight: 900;
    }

    td.nemt-table-data {
        font-weight: 500;
        text-align: center;
    }

    a.form-button {
        width: 80%;
        display: flex;
        font-size: 0.65rem;
        text-align: center;
        border-radius: 0.5rem;
        background: rgb(var(--secondary-color));
    }

    a.form-button:hover {
        color: white;
        background: rgb(var(--primary-color));
    }

    .nemt-form-button-text-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem;
    }

    .nemt-text-span:first-of-type {
        margin-bottom: 0.5rem;
    }

    a.form-button:hover .nemt-form-button-text-wrapper {
        position: relative;
    }

    a.form-button:hover .nemt-form-button-text-wrapper::before {
        content: "Opens in New Tab";
        color: black;
        position: absolute;
        width: fit-content;
        height: fit-content;
        background: white;
        padding: 0.25rem;
        top: 0;
        left: 50%;
        translate: -50% -125%;
        border: 1px solid;
    }
    
    .nemt-transportation-eligible-places-wrapper {
        display: flex;
    }
    
    .nemt-transportation-content {
        width: 50%;
    }
    
    .GGMT-service-area-map-container {
        width: 100%;
        position: relative;
    }
    
    .GGMT-service-area-map-container img {
        width: 100%;
    }
    
    .GGMT-service-area-map-container:hover::before  {
        content: url('/images/circle-plus.svg');
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .eligibility-map.pop-up-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: rgb(var(--background-color));
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .eligibility-map-wrapper.pop-up-modal {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        height: 100%;
    }

    .eligibility-map-wrapper.pop-up-modal img {
        height: 100%;
        width: auto;
    }
    
    ul.section-list-container.nemt-page {
        list-style-image: url(/images/check-mark.svg);
    }
    
    ul.section-list-container.nemt-page li p {
        text-align: left;
    }

    section.nemt-transportation-driver-safety {
        display: flex;
        margin-top: 2rem;
        padding: 2.5rem;
        background: rgb(var(--dark-grey));
        gap: 1rem;
        align-items: center;
        border-radius: 1rem;
        box-shadow: 0 4px 30px 6px rgba(0, 0, 0, .2);
    }
    
    .nemt-transportation-driver-safety-text-content {
        width: 35%;
    }
    
    .nemt-transportation-driver-safety-image-content {
        width: 65%;
    }
    
    .nemt-transportation-driver-safety-image-content img {
        width: 100%;
    }
    
    .driver-safety-images-camera img {
        width: 50%;
    }
    
    .driver-safety-images-camera {
        display: flex;
    }
    
    .section-title.driver-safety {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: white;
    }
    
    .section-title.driver-safety span.top-header-text {
        color: rgb(var(--secondary-color))
    }

    @media(max-width: 768px) {
        .eligibility-map-wrapper.pop-up-modal img {
            width: 100%;
            height: auto;
        }

        .GGMT-service-area-map-container:hover::before  {
            display: none;
        }
    }
    
    @media(max-width: 1200px) {
        section.nemt-transportation-driver-safety {
            border-radius: 0;
            box-shadow: none;
        }
    }
    
    @media(max-width: 850px) {
        section.nemt-transportation-driver-safety {
            flex-direction: column;
        }
    
        .nemt-transportation-driver-safety-text-content,
        .nemt-transportation-driver-safety-image-content {
            width: 100%;
        }
    }
    
    @media(max-width: 800px) {
        .nemt-transportation-eligible-places-wrapper {
            flex-direction: column;
        }
        
        .nemt-transportation-content {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    
        .GGMT-service-area-map-container {
            width: 75%;
        }
    }
    
    @media(max-width: 500px) {
        .GGMT-service-area-map-container {
            width: 100%;
        }

        section.nemt-transportation-driver-safety {
            padding: 1rem;
        }
    }
    
/* --- Information Section Styling --- */

    a.nemt-page-anchor {
        text-decoration: none;
    }

    span.nemt-span-text {
        text-decoration: underline;
    }

/* --- Information Section Styling */

.nemt-information-wrapper:not(.footer-content-wrapper) {
    background: rgb(var(--primary-color));
    display: flex;
    padding: 3rem;
}

.nemt-information-wrapper:first-of-type:not(.footer-content-wrapper) {
    border-bottom: 1px solid rgb(var(--light-grey));
    
}
.nemt-information-wrapper:last-of-type:not(.footer-content-wrapper) {
    flex-direction: column;
}

section.nemt-transportation-information:not(.footer-content-wrapper) {
    margin-top: 1rem;
}

p.dark-background,
a.dark-background,
h1.dark-background,
h2.dark-background,
h3.dark-background,
h4.dark-background {
    color: white;
}

p.darker-background,
a.darker-background,
h1.darker-background,
h2.darker-background,
h3.darker-background,
h4.darker-background {
    color: black;
}

h3.content-title {
    text-align: center;
    margin-bottom: 1.5rem;
}

.nemt-transportation-information-schedule-ride ul.section-list-container {
    list-style-image: url('/images/check-mark-white.svg')
}

li.information-list-item a {
    margin-top: 1rem;
}

a.link-spacing {
    margin-top: 1rem;
    display: block;
}

.nemt-transportation-information-faq ul.section-list-container {
    list-style: none;
    margin-left: 0;
    display: flex;
    flex-direction: column;
}

button.faqs-dropdown-button {
    height: 40px;
    width: 100%;
    border: 0;
    background: 0;
    border-bottom: 1px solid rgb(var(--light-grey));
    text-align: left;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.25rem;
    line-height: 0.9;
    display: flex;
    align-items: center;
}

button.faqs-dropdown-button:hover {color: rgb(var(--primary-color));font-weight: 900;}

li.faqs-list-item:not(:last-of-type) {
    margin-bottom: 0.5rem;
}

li.faqs-list-item {
    background: rgb(var(--background-color));
    border-radius: 0.25rem;
}

.faqs-list-content {
    max-height: 0px;
    overflow: hidden;
}

.faqs-list-content.expanded {
    padding: 1rem;
    max-height: unset;
}

.appointment-schedule-information-container *:not(h3) {
    font-size: 1.3rem;
}


/* .during-business-hours-wrapper {
    width:  fit-content;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
} */

.appointment-schedule-information-container {
    width: fit-content;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.appointment-schedule-information-container::before {
    content: "";
    height: calc(100% - 2rem);
    width: 0.25rem;
    position: absolute;
    background: white;
    display: block;
    left: 0;
    top: 1rem;
    border-radius: 100vw;
}

h3.section-sub-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-decoration: underline;
}

/* NEMT Page Width Styling */

@media(max-width: 768px) {
    section.non-emergency-transportation-top-page {
        flex-direction: column-reverse;
    }
    
    .non-emergency-transportation-top-page-left {
        width: 100%;
    }

    .non-emergency-transportation-top-page-right {
        width: 100%;
    }

    a.form-button {
        width: 100%;
        font-size: calc(1.2vw + 6.784px);
    }

    .nemt-information-wrapper:not(.footer-content-wrapper) {
        flex-direction: column;
    }

    .nemt-transportation-information-faq {
        margin-bottom: 1.5rem;
    }
}

@media(max-width: 600px) {
    .nemt-information-wrapper:not(.footer-content-wrapper) {
        padding: 1rem;
    }
}

@media(max-width: 520px) {
    .nemt-information-wrapper:not(.footer-content-wrapper) h2.section-title {
        font-size: calc(4.6vw + 4.08px);
    }

    .nemt-information-wrapper:last-of-type:not(.footer-content-wrapper) {
        padding-top: 1rem;
    }

    h3.section-sub-title {
        font-size: calc(4.8vw - 0.96px);
    }

    .appointment-schedule-information-container *:not(h3) {
        font-size: calc(4.4vw - 2.08px)
    }
}



/* About Us Page Styling */

/* ---- Intro Section Styling ---- */
.about-us-introduction-section img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 0 4px 10px 2px rgba(0,0,0,.2);
}

main a.cta-button {
    margin: 1.5rem auto 0 auto;
}

/* ---- Assisted living Section Styling ---- */

p.section-list-description {
    margin-top: 0.5rem;
}

p.section-list-description.section-text {
    text-align: left;
}

ul.section-list-container {
    margin-left: 2rem;
}

li.section-list-item:nth-of-type(-n + 4) {margin-bottom: 0.3rem;}

.house-image-container {
    max-width: 1400px;
    margin: 2rem auto 0.5rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.house-image-container img {
    width: calc(280px - 1.5rem);
    margin: 0 0.75rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, .2);
}

/* ---- Transportation and Medical Supply Section Styling */

.section-content-image-container {
    display: flex;
    align-items: center;
}

.about-us-medical-supply-section  h2.section-title {
    text-align: right;
}

img.section-image {
    width: 40%;
    border-radius: 0.5rem;
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, .2);
}

img.section-image.image-left {
    margin-right: 1rem;
}

img.section-image.image-right {
    margin-left: 1rem;
}


/* About Us Page Width Styling */

@media(max-width: 1400px) {
    .house-image-container img {
        margin-top: 1.5rem;
        justify-self: center;
    }

    .house-image-container {
        margin: 1rem auto 0.5rem auto;
    }
}

@media(max-width: 1100px) {
    .section-content-image-container {
        flex-direction: column;
        justify-content: center;
    }

    .about-us-transportation-section .section-content-image-container {
        flex-direction: column-reverse;
    }

    img.section-image.image-left,
    img.section-image.image-right {
        width: 100%;   
        height: 300px;
        margin-bottom: 1rem;
        object-fit: cover;
        object-position: bottom
    }

    img.section-image.image-left {
        margin-right: 0;
    }

    img.section-image.image-right {
        margin-left: 0;
    }

    .about-us-medical-supply-section  h2.section-title {
        text-align: center;
    }
}

@media(max-width: 600px) {
    .house-image-container {
        display: none;
    }

    .about-us-introduction-section img {
        object-position: right;
    }
}

/* Location Page Styling */

.location-iframe-container {
    max-width: 1200px;
    margin: 1rem auto 4rem auto;
    padding: 0 1rem;
}

iframe.location-iframe {
    width: 100%;
    height: 600px;
}

.business-information-section {
    max-width: 1200px;
    margin: 0 auto 4rem auto;
}

span.bolded-text {
    font-weight: 900;
}

p.content-text, p.content-text a {
    font-size: 1.1rem;
}

.business-information-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 300px;
}

.content-information-container {
    padding: 0.25rem;
    margin-left: 2rem;
    position: relative;
}

.content-information-container::before {
    content: "";
    width: 4px;
    height: 100%;
    position: absolute;
    background: rgb(var(--primary-color));
    left: -1rem;
}

h2.content-title {
    margin-bottom: 1rem;
    color: rgb(var(--primary-color));
}

p.content-text.reservation-days-hours {
    border-bottom: 1px solid;
    display: flex;
    justify-content: space-between;
}

a.facebook-page-link {
    font-size: 2.5rem;
    display: flex;
    width: fit-content;
}

.social-logo-wrapper {
    display: flex;
}

/* Community Outreach Page Styling */


/* ---- Top Page Section Styling */
.image-carousel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    margin-bottom: 1rem;
    position: relative;
}

.image-slide-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: right 40%;
}

.image-slide-wrapper {
    height: 100%;
    width: 100%;
}

.image-slider-container {
    width: 80%;
    height: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
    background: black;
}

button.image-carousel-btn {
    height: max-content;
    width: 50px;
    display: flex;
    justify-content: center;
    border-radius: 0;
}

button.image-carousel-btn[data-carousel-btn="left"] {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-right: 0;
}

button.image-carousel-btn[data-carousel-btn="right"] {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-left: 0;
}

.image-slide-indicator-wrapper {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.image-slide-indicator {
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.4);
    border: 2px solid;
    cursor: pointer;
    border-radius: 100%;
    transition: background 0.2s ease-in-out;
}

.image-slide-indicator:hover {
    background: white;
}

.image-slide-indicator.selected {
    background: white;
    position: relative;
}

.image-slide-indicator.selected::before {
    content: '';
    position: absolute;
    width: 75%;
    height: 75%;
    border-radius: 100%;
    background: rgba(var(--primary-color));
    top: 50%;
    left: 50%;
    translate: -50% -50%
}

button.image-carousel-btn:hover {
    background: rgb(var(--secondary-color));
    color: rgb(var(--primary-color));
}

button.community-images-more-btn {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-weight: 900;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: rgba(255, 255, 255, 0.1);
    padding: 0.5rem;
    color: white;
    cursor: pointer;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.2);
}

button.community-images-more-btn:hover {
    background: rgba(255, 255, 255, 0.25);
}

/* ---- Events Section Styling ---- */

.event-container {
    display: flex;
    margin: 1.5rem 0;
    width: 80%;
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, .1);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    overflow: hidden;
}

.event-description.section-text {
    text-align: left;
}

.event-left-info {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(var(--primary-color));
    font-size: 1.25rem;
    font-weight: 900;
    color: white;
    padding: 1rem;
}

.event-right-info {
    width: 85%;
    display: flex;
    padding: 1rem;
    background: rgb(210, 210, 255);
}

.event-more-info-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
}

a.event-more-info-btn.cta-button {
    margin: 0;
}

.event-top-information {
    margin-bottom: 1rem;
}

p.event-description.section-text {
    margin: 0;
}

p.event-description {
    --max-lines: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp: var(--max-lines);
    -webkit-line-clamp: var(--max-lines);
    position: relative;
}

p.event-description::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, transparent, rgb(210, 210, 255));
    width: 100%;
    height: 1.5rem;
    pointer-events: none;
}

p.event-description.expanded {
    display: block;
}

p.event-description.expanded::before {
    display: none;
}

button.event-button.expand-button {
    border: 0;
    background: none;
    cursor: pointer;
    font-weight: 900;
    padding: 0.5rem 0;
}

button.event-button.expand-button:hover {
    color: rgb(var(--dark-grey));
}

/* Community Outreach Width Styling */

@media(max-width: 850px) {
    .event-right-info {
        flex-direction: column;
        width: 80%;
    }
    .event-more-info-button-wrapper {
        margin: 0;
        margin-top: 1rem;
        justify-content: flex-start;
    }

    .event-container {
        width: 100%;
    }
}

@media(max-width: 768px) {
    .image-slider-container {
        position: absolute;
        width: 100vw;
    }

    .image-slider-container img {
        object-position: 70%;
    }

    .image-slide-indicator-wrapper {
        display: none;
    }  

    button.image-carousel-btn {
        position: absolute;
        border: 1px solid rgba(255, 255, 255, .25);
        background: rgba(255, 255, 255, .1);
        box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, .2);
        border-radius: 0.5rem;
        z-index: 1;
    }

    button.image-carousel-btn[data-carousel-btn=left] {
        border-right: 1px solid rgba(255, 255, 255, .25);
        left: 0;
    }

    button.image-carousel-btn[data-carousel-btn=right] {
        border-left: 1px solid rgba(255, 255, 255, .25);
        right: 0;
    }
}

@media(max-width: 450px) {
    .event-container {
        flex-direction: column;
        border-top-right-radius: 0;
        border-bottom-left-radius: 1rem;
    }

    .event-left-info,
    .event-right-info {
        width: 100%;
    }
}

/* Employment Page Styling */

section.employment-page-hero-shot {
    background: url('/images/employment-hero_1600.webp') center/cover;
    height: 600px;
    width: 100%;
    position: relative;
    padding: 2rem;
}

.employement-hero-shot-wrapper {
    width: fit-content;
    padding: 2rem;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 1rem;
}

ul.employment-page-what-we-want {
    margin-left: 2rem;
    list-style-image: url(/images/check-mark-white.svg);
}

section.employment-page-section.about-us.page-content {
    margin: 5rem auto;
}

span.employement-page-title-span {
    display: block;
}

span.employment-page-top-title {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem
}

section.employment-page-section {
    margin: 2rem auto;
}

section.employment-page-section.cta {
    background: rgb(var(--primary-color));
    color:  white;
    padding: 4rem 6rem;
    text-align: center;
}

h2.employment-page.section-title.cta {
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}

p.employement-page.section-text.cta {
    color: white;
}

section.employment-page-opportunities {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.employment-page-opportunity-cards-container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.employment-page-opportunity-card {
    width: 330px;
    height: 350px;
    margin: 0.75rem;
    border-radius: 1rem;
    border: 1px solid;
    overflow: hidden;
    box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.2);
}

h2.employment-page.section-title.opportunities {
    margin: 1rem 0;
    text-align: center;
}

.opportunity-card-front {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    position: relative;
}

.opportunity-card-front::before {
    content: "";
    width: 100%;
    height: 30%;
    top: 0;
    left: 0;
    position: absolute;
    background: linear-gradient(to bottom, white, transparent);
    z-index: 0;
}

.opportunity-card-front::after {
    content: "";
    width: 100%;
    height: 30%;
    bottom: 0;
    left: 0;
    position: absolute;
    background: linear-gradient(to top, white, transparent);
    z-index: 0;
}
.opportunity-card-front.transportion {
    background: url('/images/golden-gate-manor-cars-building-employment.jpg') center/cover;
}

.opportunity-card-front.assisted-living {
    background: url('/images/assisted-living-employment.jpg') left/cover;
}

.opportunity-card-front.medical-supply-store {
    background: url('/images/medical-supply-employment.jpg') left/cover;
}

.opportunity-card-front.gas-station {
    background: url('/images/gas-staton-employment.jpg') center/cover;
}

.opportunity-card-front .opportunity-card-title,
.opportunity-card-front .opportunity-card-description {
    z-index: 1;
}

@media(max-width: 600px) {
    section.employment-page-section.cta {
        padding: 3rem 1rem;
    }
}

@media(max-width: 500px) {
    section.employment-page-hero-shot {
        padding: 0;
    }

    .employement-hero-shot-wrapper {
        border-radius: 0;
        height: 100%;
    }

    h1.employment-page-title {
        font-size: calc(5vw + 4px);
    }
}

/* Contact Us Page Styling */

section.contact-us-get-in-touch {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

section.contact-us-map-iframe-section .location-iframe-container,
section.contact-us-map-iframe-section iframe.location-iframe {
    height: 350px;
    margin-top: 1rem;
}

.contact-us-get-in-touch-wrapper {
    width: 50%;
    text-align: left;
}

.business-information {
    margin-left: 4rem;
    margin-top: 1rem;
}

.contact-us-location,
.contact-us-phone, 
.contact-us-hours {
    position: relative;
}

.contact-us-location,
.contact-us-phone {
    margin-bottom: 1rem;
}

.contact-us-location a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: max-content;
}

.business-information a {
    font-size: 1rem;
}

.contact-us-location::before {
    content: url('/images/location-fill.svg');
}

.contact-us-phone::before {
    content: url('/images/phone.svg');
}

.contact-us-hours::before {
    content: url('/images/clock.svg');
}

.contact-us-location::before,
.contact-us-phone::before,
.contact-us-hours::before {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 50%;
    translate: -3rem -50%;
}

/* Contact us Page Width Styling */

@media(max-width: 800px) {
    section.contact-us-get-in-touch {
        flex-direction: column;
        align-items: center;
    }

    section.contact-us-get-in-touch p.section-text {
        text-align: left;
    }

    .contact-us-get-in-touch-wrapper {
        width: 80%;
    }
}

@media(max-width: 768px) {
    .contact-us-get-in-touch-wrapper {
        width: 100%;
    }
}

/* Schedule a Ride Page Styling */

.jotform-form-container {
    margin-top: 1rem;
}

.form-input-wide .form-header-group {
    margin-top: 0;
    padding-top: 0;
}

li.form-line {
    margin: 0;
}

span.please-note {
    font-weight: 900;
    text-decoration: underline;
    color: rgb(var(--please-note-color));
}

p.please-note {
    color: rgb(var(--please-note-color));
    font-weight: 500;
}

p a {
    font-size: inherit;
}

button#input_27 {
    background: rgb(var(--primary-color));
    border-color: rgb(var(--primary-color));
    transition: background 0.3s ease-in-out;
}

button#input_27:hover {
    background-color: rgb(var(--secondary-color));
    color: rgb(var(--primary-color));
}

div.form-all {
    margin-bottom: 0;
    margin-top: 0;
}

.progressBarSubtitle span {
    font-size: 0.5rem;
}

.progressBarSubtitle {
    text-align: right;
}

/* Thank You Page Styling */

.envelope-mail-svg {
    width: 30%;
}

section.thank-you-main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p.thank-you-note {font-size: 2rem;font-weight: 900;color: rgb(var(--primary-color));}

p.thank-you-text {
    width: 50%;
    text-align: center;
}

/* Thank You Page Width Styling */

@media(max-width: 768px) {
    .thank-you-main-section {
        margin-top: 4rem;
    }

    p.thank-you-text {
        width: 100%;
    }

    .envelope-mail-svg {
        width: 50%;
    }
} 

/* Site Map Page Styling */

nav.site-map-navigation {
    margin-top: 1rem;
}

/* 404 Page Styling */

button.previous-page-button {
    font-family: var(--font-family-headings);
    background: none;
    border: none;
    font-weight: 700;
    cursor: pointer;
    text-decoration: underline;
    font-size: 1.2rem;
}
main.bad-page.main-content {
    margin-top: 4rem; 
}

.main-section {
    width: 80%;
    display: flex;
    flex-direction: column;
    
}

button.previous-page-button:hover {
    color: rgb(var(--link-hover-color))
}

.bad-page-main-section-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

p.main-section-text {
    font-size: 10rem;
    display: flex;
    justify-content: center;
}

.main-section-text svg {
    height: 200px;
}

/* 404 Page Width Styling */

@media(max-width: 1200px) {
    .main-section-text svg {
        height: calc(11.4vw + 63.2px);
    }

    p.main-section-text {
        font-size: calc(07.3vw + 72.4px)
    }
}

@media(max-width: 768px) {
    p.section-text {
        text-align: center;
    }

    h2.section-title {
        text-align: center;
    }
}