/* Universal Page Styling */

:root {
    /* Assisted Living Page Variables */
    --slide-item-x: 0;
    --slide-items-shown: 3;
    --slide-item-margin: 1rem;
    --slide-view-area-height: 0;
}

.page-info-topper {
    padding: 0 1rem;
}

.page-title-wrapper {
    margin-top: 2rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.page-title-wrapper h1 {
    color: rgb(var(--primary-color))
}

.breadcrumb-wrapper {
    padding: 0.5rem;
    margin-top: 0.5rem;
    background: rgb(var(--light-grey))
}

/* Assisted Living Page Styling */

.assisted-living-top-page-section {
    padding: 1rem 1rem 4rem 1rem;
}

.assisted-living-top-page {
    display: flex;
    gap: 6rem;
    justify-content: center;
}

.assisted-living-page-container.left-side {
    width: 600px;
}

.assisted-living-page-container.left-side h2 {
    margin-bottom: 1rem;
    text-align: center
}
.assisted-living-page-container.left-side p:first-of-type {
    margin-bottom: 1rem;
}

.assisted-living-page-container.right-side {
    display: flex;
    align-items: center;
    width: 600px;
    justify-content: flex-end;
}

.assisted-living-page-container.right-side img {
    border-radius: 1rem;
    width: 86%;
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2);
}

.page-content {
    max-width: 1200px;
    margin: 0 auto;
}

.assisted-living-page-amenities {
    padding: 4rem 0 0 0;
    color: white;
}

ul.assisted-living-amenities-card {
    list-style: none;
    color: black;
}

p.amenities-content-description {
    color: white;
}

h2.assisted-living-amenities-title {
    width: 100%;
}

.amenity-cards-wrapper {
    display: flex;
    gap: 1rem;
}

.assisted-living-page-amenities-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 4rem 3rem;
    background: #365DBA;
}

.amenity-cards-wrapper {
    margin-top: 1rem;
}

.assisted-living-amenities-card {
    background: #E1E1E1;
    text-align: center;
    padding: 1rem;
    width: 33%;
    border-radius: 1rem;
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.amenity-card-item:not(:last-of-type) {
    margin-bottom: 0.5rem;
}

section.assisted-living-bottom-page-section {
    padding: 0rem 1rem 4rem 1rem;
}

.free-consultation-cta {
    display: flex;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2);
}

.free-consultation-cta-left,
.free-consultation-cta-right {
    width: 50%;
}

.free-consultation-cta-left img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.free-consultation-cta-right {
    padding: 1rem;
}

h2.free-consultation-title,
h2.see-for-yourself-title {
    color: rgb(var(--primary-color));
    margin-bottom: 1rem;
}

a.cta-button.assisted-living-page {
    width: 200px;
    margin-top: 2rem;
}

.see-for-yourself-cta {
    margin-top: 4rem;
    border: 1px solid rgba(var(--primary-color));
    border-radius: 1rem;
    width: 100%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.see-for-yourself-cta > .cta-button.assisted-living-page {
    font-size: 2rem
}


.see-for-yourself-card-wrapper {
    display: flex;
    justify-content: center;
}

.see-for-yourself-card {
    width: 300px;
    padding: 2rem;
    border: 1px solid;
    border-radius: 0.5rem;
    margin: 2rem;
    box-shadow: inset 0 1px 10px 2px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.see-for-yourself-card > h3 {
    text-align: center;
    margin-bottom: 0.5rem;
}

/* Assisted Living Slider Styling */

section.houses-slide-carousel-section {
    padding-bottom: 4rem;
}

.slider-carousel-title {
    text-align: center;
    margin-bottom: 1rem;
}

.houses-slide-carousel-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 95%;
}

.slide-carousel-view-area {
    width: 100%;
    height: var(--slide-view-area-height);
    position: relative;
    overflow: hidden;
}

.btn-logo-wrapper {
    display: flex;
    align-items: center;
    height: calc(13.3vw - 52.8px);
    font-size: calc(2.7vw - 11.2px);
}

.slider-btn {
    background: rgba(0, 0, 0, 0.8);
    border: 0;
    padding: 0 calc(0.7vw - 3.2px);
    border-radius: 0.25rem;
    cursor: pointer;
    z-index: 1;
    color: black;
}

.slider-btn:hover {
    background: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.6);
}

.carousel-slides {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    transform: translateX(calc(-1*(var(--slide-item-x) + 2rem)));
}

.carousel-slide-wrapper {
    width: var(--slide-item-x);
    height: var(--slide-item-x);
    margin: var(--slide-item-margin);
}

.carousel-slide-item {
    width: var(--slide-item-x);
    height: var(--slide-item-x);
    background: white;
    transition: transform 0.5s ease-in-out;
}


/* Assisted Living Page Width Styling */

@media(min-width: 1600px) {
    .houses-slide-carousel-wrapper {
        width: 1504.04px;
    }
    
    .btn-logo-wrapper {
        height: 10rem;
        font-size: 2rem;
    }
    
    .slider-btn {
        padding: 0 0.5rem;
    }

    .carousel-slides {
        transform: translateX(calc(-1*(var(--slide-item-x) + 1rem)));
    }
}

@media(min-width: 1017px) {
    .carousel-slide-wrapper:nth-of-type(3) {
        width: calc(var(--slide-item-x) * 1.2);
        height: calc(var(--slide-item-x) * 1.2);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .carousel-slide-item[data-slide-index='2'] {
        transform: scale(1.2);
    }
}

@media(max-width: 1200px) {
    .assisted-living-top-page {
        justify-content: space-between;
        gap: 1rem;
    }
}

@media(max-width: 1000px ) {
    .btn-logo-wrapper {
        height: 5rem;
        font-size: 1rem;
    }

    .slider-btn {
        padding: 0 0.25rem;
    }
}

@media(max-width: 850px) {
    .assisted-living-top-page {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .assisted-living-page-container.left-side {
        width: 100%;
        text-align: center;
    }
    
    .assisted-living-page-container.right-side {
        width: 80%;
        justify-content: center;
    }

    .free-consultation-cta {
        flex-direction: column;
    }

    .free-consultation-cta-left,
    .free-consultation-cta-right {
        width: 100%;
    }

    .free-consultation-cta-right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 800px) {
    .see-for-yourself-card-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .see-for-yourself-card {
        width: 80%;
    }
}

@media(max-width: 768px) {
    .amenity-cards-wrapper {
        flex-direction: column;
        width: 80%;
        gap: 2rem;
    }
    .assisted-living-amenities-card {
        width: 100%;
    }

    .assisted-living-page-amenities-wrapper {
        align-items: center;
    }
}

@media(max-width: 650px) {
    .assisted-living-page-container.right-side {
        width: 100%;
    }

    .assisted-living-page-container.right-side img {
        width: 100%;
    }
}

@media(max-width: 618px) {
    .houses-slide-carousel-wrapper {
        position: relative;
    }

    .slider-btn {
        position: absolute;
    }

    button.slider-btn.right-btn {
        right: 0;
    }

    button.slider-btn.left-btn {
        left: 0;
    }
}

@media(max-width: 500px) {
    .see-for-yourself-card {
        width: 100%;
    }

    .see-for-yourself-cta {
        padding: 1rem;
    }

    .amenity-cards-wrapper {
        width: 100%;
    }

    .assisted-living-page-amenities-wrapper {
        padding: 4rem 1rem;
    }
}