/* Universal Policy Page Styling */

p.policy-updated {
    color: rgb(var(--primary-color));
    font-weight: 900;
}

p.policy-text {
    margin: 0.5rem 0;
}

p.policy-text.before-table {
    margin: 0;
}

table.policy-information-table, th.policy-table-header, td.policy-table-data {
    border: 1px solid;
    border-collapse: collapse;
}

table.policy-information-table th {
    padding: 0.25rem;
}

td.policy-table-data {
    padding: 0.5rem;
    width: 50%;
}

table.policy-information-table {
    margin: 0.5rem 0 1rem 0;
}

ol.policy-ordered-list.indented-ordered-list {
    margin-left: 1.5rem;
}

p.policy-text.policy-list-title {
    margin-bottom: 0;
}

ul.policy-unordered-list {
    margin-left: 1.5rem;
}

p.policy-text a {
    font-size: 1rem;
}

section.contact-us-form {
    width: 60%;
}

div .grecaptcha-badge {
    bottom: 50%!important;    
}

@media(max-width: 700px) {
    section.contact-us-form {
        width: 100%;
    }
}