/* General Stlying, Fonts, and Variables */

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Colors */
    --primary-color: 18, 27, 117;
    --secondary-color: 234, 227, 158;
    --background-color: 249, 247, 245;
    --link-hover-color: 173, 169, 133;
    --light-grey: 225, 225, 225;
    --dark-grey: 125, 125, 125;
    --text-color: 221, 221, 221;
    --inactive-cta: 150, 150, 150;
    --cta-text-color: 255, 255, 255;
    --please-note-color: 163, 21, 13;
    --section-text-color: 50, 50, 50;

    /* Dimensions */
    --info-header-height: 75px;
    --info-header-max-width: 1200px;
    --info-footer-min-height: 350px;
    --info-footer-content-width: 310px;
    --main-nav-height: 34px;
    --mobile-nav-height: 50px;

    /* Font Family */
    --font-family-headings: "Noto Serif", serif;
    --font-family-main: "Cabin", sans-serif;
    --base-font-size: 16px;
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body.main-content-body {
    font-size: var(--base-font-size);
    font-family: var(--font-family-main);
    font-weight: 500;
    background: rgb(var(--background-color));
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-family-headings);
    font-weight: 700;
}

a, .previous-page-button {
    color: rgb(var(--primary-color));
    font-weight: 900;
    font-size: 1.3rem;
}

a:not(.logo-wrapper a,
    a.main-navigation-link,
    a.mobile-navigation-link,
    a.cta-button,
    a.no-hover-page-link,
    a.form-button):hover {
    /* color: color-mix(in hsl, var(--primary-color) 70%, var(--secondary-color) 30%) */
    color: rgb(var(--link-hover-color));
}

/* Universal Page Styling */

.cta-button {
    color: white;
    display: block;
    border: 1px solid rgb(var(--secondary-color));
    padding: 1rem;
    width: 150px;
    text-decoration: none;
    text-align: center;
    background: rgb(var(--primary-color));
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.cta-button:hover {
    background: rgb(var(--secondary-color));
    color: rgb(var(--primary-color));
}

span.read-more-plus {
    color: rgb(var(--secondary-color));
    font-weight: 900;
    transition: color 0.3s ease-in-out;
}

.cta-button:hover span.read-more-plus {
    color: rgb(var(--primary-color));
}

.primary-button {
    background: rgb(var(--primary-color));
    border: 2px solid rgb(var(--primary-color));
    color: white;
    padding: 0.5rem;
    font-family: var(--font-family-main);
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: background 0.3s ease-in-out;
}

.primary-button:hover {
    color: rgb(var(--primary-color));
    background: rgb(var(--secondary-color));
}

span.title-top {
    display: block;
    color: rgb(150, 150, 150);
    font-family: var(--font-family-main);
}

span.title-bottom {
    color: rgb(var(--primary-color));
    font-weight: 900;
}

main .section-text {
    color: rgba(75, 75, 75);
    font-size: 1.3rem;
}

main .section-text:not(ul, li) {
    margin-bottom: 0.5rem;
}

main .section-title {
    color: rgb(var(--primary-color));
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

.page-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.section-content:not(:last-of-type) {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.section-content:only-of-type {
    margin-top: 1rem;
}

main.main-content {
    margin-bottom: 4rem;
}

.page-title-wrapper {
    margin-top: 2rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.page-title-wrapper h1 {
    color: rgb(var(--primary-color))
}

.page-info-topper {
    padding: 0 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.breadcrumb-wrapper {
    padding: 0.5rem;
    margin-top: 0.5rem;
    background: rgb(var(--light-grey))
}

span.please-note {
    font-weight: 700;
    text-decoration: underline;
}

.section-text.please-note {
    color: rgb(var(--please-note-color));
}

.form-item-container  {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.form-item-container:not(.name-field) {
        gap: 0.25rem;
}

.form-item-container.name-field {
    flex-direction: row;
}

.name-field-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 0.25rem;
}

.name-field-wrapper:last-of-type { 
    margin-left: 0.5rem;
}

.name-field-wrapper:first-of-type {
    margin-right: 0.5rem;
}


form.contact-form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

form.contact-form input,
form.contact-form select {
    height: 35px;
}

form.contact-form input,
form.contact-form select,
form.contact-form textarea {
    resize: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

@media(max-width: 450px) {
    .form-item-container.name-field {
        flex-direction: column;
        gap: 0.5rem;
    }

    .form-item-container div.name-field-wrapper {
        width: 100%;
        margin: 0;
    }
}

/* Top Header Styling */

.info-header {
    height: var(--info-header-height);
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
}

.info-header-left,
.info-header-right {
    display: flex;
}

.info-header-left {
    width: 40%;
    padding-left: 1rem;
}

.info-header-right {
    width: 60%;
}

.info-header-right {
    justify-content: flex-end;
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
}

.info-header-right a,
.info-header-right p,
.info-header-right svg {
    white-space: nowrap;
    flex-shrink: 0;
    flex-grow: 0;
}

.info-header-right svg:nth-of-type(-n+2) {
    width: 50px;
}

.info-header-right>div:nth-of-type(1) {
    border-left: 1px solid rgb(var(--light-grey));
}

.info-header-right>div:nth-of-type(-n + 2) {
    border-right: 1px solid rgb(var(--light-grey));
}

.non-medical-transportation-info.anchor,
.nemt-info.anchor,
.assisted-living-info.anchor {
    display: none;
}

.info-header-home,
.info-header-home a {
    display: flex;
    align-items: center;
    height: 100%;
}

.info-header-non-medical-transportation,
.info-header-nemt,
.info-header-assisted-living {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0 1rem;
}

.logo-wrapper {
    height: 75%;
    color: rgb(var(--primary-color));
}

.logo-wrapper.assisted-living {
    height: 60%;
}

/* Top Header Width Styling */

@media(max-width: 1200px) {

    .non-medical-transportation-info.anchor,
    .nemt-info.anchor,
    .assisted-living-info.anchor {
        display: block;
        font-size: 0.75rem;
        text-decoration: none;
    }

    .non-medical-transportation-info.content,
    .nemt-info.content,
    .assisted-living-info.content {
        display: none;
    }

    .info-header-right svg {
        display: none;
    }
}

@media(max-width: 1000px) {
    .info-header-home img {
        width: calc(82.3vw - 442px);
    }
}

/* Main Nav Styling */

ul.main-navigation-link-items {
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

a.main-navigation-link,
a.mobile-navigation-link {
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    color: white;
    font-weight: 400;
    padding: 0 calc(7.2vw - 66.08px);
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    transition: background-color .3s ease-in-out;
}

a.main-navigation-link:hover,
a.mobile-navigation-link:hover {
    background: rgb(var(--secondary-color));
    color: rgb(var(--primary-color));
}

nav.main-navigation {
    height: 35px;
    background: rgb(var(--primary-color));
    position: sticky;
    top: -1px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.04);
    z-index: 2;
    border-bottom: 1px solid white;
}

li.main-navigation-link-item {
    height: 100%;
    position: relative;
}

ul.main-navigation-sublink-items {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    background: white;
    color: black;
    box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 50%;
    translate: -50%;

    max-height: 0;
    overflow: hidden;
    -webkit-transform: perspective(400) rotate3d(1, 0, 0, -90deg);
    -webkit-transform-origin: 50% 0;
    transform: perspective(400) rotate3d(1, 0, 0, -90deg);
    transform-origin: 50% 0;
    -webkit-transition: 350ms;
    -moz-transition: 350ms;
    -o-transition: 350ms;
    transition: 350ms;
}

a.main-navigation-link.sublink {
    padding: .5rem 0.1rem;
    display: flex;
    color: rgb(var(--primary-color));
    justify-content: center;
    font-size: 0.8rem;
    font-weight: 900;
    white-space: unset;
    width: 100%;
    justify-content: center;
}

a.main-navigation-link:hover+ul.main-navigation-sublink-items.active,
ul.main-navigation-sublink-items.active {
    max-height: 1000px;
    -webkit-transform: perspective(400) rotate3d(0, 0, 0, 0);
    transform: perspective(400) rotate3d(0, 0, 0, 0);
}

/* Main Nav Width Styling */

@media(max-width: 1000px) {
    a.main-navigation-link {
        font-size: 0.75rem;
        padding: 0 calc(7.2vw - 49.76px);
    }
}

@media(max-width: 900px) {
    a.main-navigation-link.sublink {
        font-size: calc(0.8vw + 5.6px);
    }
}

@media(max-width: 800px) {
    a.main-navigation-link {
        white-space: wrap;
        width: min-content;
        padding: 0 calc(7vw - 30.72px);
    }

    nav.main-navigation {
        height: 45px;
    }
}

/* Mobile Header Styling */

nav.mobile-navigation {
    background: rgb(var(--background-color));
    height: 50px;
    display: none;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, .054);
    z-index: 1;
}

.mobile-nav-logo-wrapper {
    padding-left: 1rem;
}

.mobile-nav-home>a.home-logo-link {
    display: flex;
}

.home-navigation-btn-wrapper {
    padding-right: 1rem;
    z-index: 2;
}

button.mobile-nav-btn {
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    cursor: pointer;
    overflow: hidden;
}

.mobile-nav-btn-logo-wrapper {
    width: 100%;
    height: 100%;
}

.mobile-nav-btn-logo-lines {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}

.mobile-nav-btn-logo-line {
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 5px;
    pointer-events: none;
}

button.mobile-nav-btn:hover .mobile-nav-btn-logo-line {
    background: rgba(100, 100, 100);
}

button.mobile-nav-btn .mobile-nav-btn-logo-line {
    position: absolute;
}

.mobile-nav-btn-logo-line.line1 {
    top: 7px;
}

.mobile-nav-btn-logo-line.line1,
.mobile-nav-btn-logo-line.line3 {
    transition: transform 0.5s ease-in-out;
}

.mobile-nav-btn-logo-line.line2 {
    transition: transform 0.5s ease-in-out, opacity 0.4s ease-in-out;
    top: 50%;
    transform: translate(0, -50%);
    opacity: 1;
}

.mobile-nav-btn-logo-line.line3 {
    bottom: 7px;
}

.mobile-nav-btn-logo-line.line1,
.mobile-nav-btn-logo-line.line3 {
    transform: translate(0) rotate(0);
}

.mobile-navigation-links-wrapper {
    height: 100vh;
    width: 300px;
    position: fixed;
    right: 0;
    top: 0;
    background: rgb(var(--background-color));
    transform: translate(100%);
    transition: transform 0.5s ease-in-out;
}

.mobile-navigation-links-wrapper.active {
    transform: translate(0);
}

.mobile-navigation-links-wrapper.box-shadow {
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, .2);
}

.mobile-nav-btn-logo-lines.active .line1 {
    transform: translate(0, 11px) rotate(50deg);
}

.mobile-nav-btn-logo-lines.active .line2 {
    transform: translate(100%);
    opacity: 0;
}

.mobile-nav-btn-logo-lines.active .line3 {
    transform: translate(0, -11px) rotate(-50deg);
}

@keyframes top-bar {
    from {
        translate: 0;
        transform: rotate(0);
    }

    to {
        transform: rotate(50deg);
        translate: 0 11px;
    }
}

@keyframes middle-bar {
    from {
        translate: 0;
    }

    to {
        translate: 100%;
    }
}

@keyframes bottom-bar {
    from {
        translate: 0;
        transform: rotate(0);
    }

    to {
        transform: rotate(50deg);
        translate: 0 11px;
    }
}

ul.mobile-navigation-link-items {
    max-height: 500px;
    overflow: auto;
    width: 100%;
    list-style: none;
    right: 0;
    top: 0;
    margin-top: 5rem;
    border-top: 2px solid rgb(var(--primary-color));
    border-bottom: 2px solid rgb(var(--primary-color));
}

span.sublink-icon-wrapper {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

button.mobile-navigation-sublink-btn {
    border: 0;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    padding: .75rem 0;
    justify-content: center;
    cursor: pointer;
    font-weight: 900;
    color: rgb(var(--primary-color));
    font-family: var(--font-family-main);
    text-transform: uppercase;
    background: rgb(var(--background-color));
    transition: background-color .3s ease-in-out;
    ;
}

button.mobile-navigation-sublink-btn:hover {
    background: rgb(var(--secondary-color));
}

ul.mobile-navigation-sublink-items {
    max-height: 0px;
    overflow: hidden;
    border-top: 2px solid rgb(var(--secondary-color));
    border-bottom: 2px solid rgb(var(--secondary-color));
    transition: max-height 0.3s ease-in-out;
    list-style: none;
}

ul.mobile-navigation-sublink-items.active {
    max-height: 1000px;
}

li.mobile-navigation-link-item a {
    color: rgb(var(--primary-color));
    width: 100%;
    font-size: 1.1rem;
    font-weight: 900;
    padding: 0.75rem 0;
    display: flex;
    justify-content: center;
}

li.mobile-navigation-link-item:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

li.mobile-navigation-sublink-item {
    background: rgb(225, 225, 225);
}

li.mobile-navigation-sublink-item:not(:last-of-type) {
    border-bottom: 1px solid white;
}

/* Mobile-nav Width Styling */

@media(max-width: 768px) {
    nav.main-navigation {
        display: none;
    }

    nav.mobile-navigation {
        display: flex;
    }

    .info-header>.info-header-left {
        display: none;
    }

    .info-header>.info-header-right {
        width: 100%;
        justify-content: center;
        color: white;
    }

    .info-header-right>div:nth-of-type(1) {
        border-left: none;
    }

    .info-header-right svg {
        display: block;
    }

    .info-header-right p.content {
        display: block;
        font-size: 0.7rem;
    }

    .info-header-right a.anchor {
        display: none;
    }

    .info-header-right>div {
        flex-direction: column;
        color: white;
        height: 100%;
        align-content: center;
        text-align: center;
        width: 33%;
    }

    .info-header-right a {
        color: white;
        font-size: 0.8rem
    }

    .info-header-right .info-wrapper {
        width: min-content;
    }

    .info-header-right .logo-wrapper {
        height: 50%;
    }

    p.content {
        white-space: normal;
    }

    .info-header {
        background: rgb(var(--primary-color));
        height: unset;
        padding: 1rem 0;
    }

    .info-header-right>div:nth-of-type(-n + 2) {
        border-right: 1px solid rgba(200, 200, 200, 0.1);
    }
}

/* Bottom Footer Styling */

footer.main-footer {
    background: rgb(var(--primary-color));
}

footer.main-footer a {
    color: white;
}

.bottom-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;
    border-top: 1px solid white;
}

ul.footer-policy-lnks {
    list-style: none;
    display: flex;
}

li.footer-policy-link-item {
    padding: 0 0.5rem;
    padding: 0 .5rem;
    height: 15px;
    display: flex;
    align-items: center;
}

li.footer-policy-link-item:not(:last-of-type) {
    border-right: 1px solid white
}

li a.footer-policy-link {
    font-size: 0.5rem;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
}

.footer-copyright-wrapper a {
    font-size: 0.75rem;
    text-decoration: none;
}

/* Bottom Footer Width Styling */

@media(max-width: 500px) {
    .bottom-footer {
        flex-direction: column;
        gap: 0.25rem;
    }

    .footer-copyright-wrapper a {
        font-size: 1rem;
    }

    li a.footer-policy-link {
        font-size: 0.75rem;
    }
}

/* Info Footer Styling */

.information-footer {
    display: flex;
    color: white;
    padding: 4rem 1rem 0rem 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-content-wrapper {
    display: flex;
    width: var(--info-footer-content-width);
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0.75rem;
    flex-shrink: 0;
    margin-bottom: 4rem;
}

.footer-content-wrapper:not(:first-child) {
    border-left: 1px solid rgba(100, 100, 100, 0.2)
}

.footer-content-wrapper:first-child {
    display: block;
}

.footer-top-content {
    position: relative;
}

.company-information-wrapper img {
    width: 100%;
}

.follow-us-wrapper {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-top: 0.5rem;
}

.follow-us-wrapper a {
    width: 35px;
}

h2.company-information-section-title {
    color: rgb(var(--secondary-color));
    font-size: 0.9rem;
}

h3.company-information-title {
    font-weight: 900;
    font-size: 1rem;
}

p.company-information-content {
    font-size: 1rem;
    font-weight: 300;
    display: block;
}

p.company-information-content.collapsed {
    --max-lines: 2;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: var(--max-lines);
    position: relative;
}

p.company-information-content.collapsed::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, transparent, rgb(var(--primary-color)));
    width: 100%;
    height: 1.5rem;
    pointer-events: none;
}

.footer-content-wrapper a {
    font-size: 1rem;
}

button.more-info-btn {
    background: rgb(var(--secondary-color));
    border: 0;
    transform: translate(0, 7px);
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    position: relative;
    transition: background-color 0.3s ease-in-out;
    color: black;
}

button.more-info-btn:hover {
    background: rgb(var(--link-hover-color));
}

.more-info-button-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

a.cta-button.read-more {
    margin-top: 2rem;
}

.close-button {
    position: absolute;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    top: 0;
    right: 0;
    padding: 1rem;
    z-index: 3;
}

.close-button:hover {
    color: rgb(var(--dark-grey));
}

/* Footer Information Width Styling */

@media(max-width: 1600px) {
    .footer-content-wrapper {
        border-left: 1px solid rgba(100, 100, 100, 0.1);
        border-right: 1px solid rgba(100, 100, 100, 0.1);
    }
}

@media(max-width: 670px) {
    .information-footer {
        flex-direction: column;
        align-items: center;
    }

    .information-footer .footer-content-wrapper {
        border: 0;
        width: 100%;
        padding: 1rem 0;
    }

    .information-footer .footer-content-wrapper:not(:last-of-type) {
        border-bottom: 1px solid rgba(100, 100, 100, .1);
        margin-bottom: 0;
    }
}

/* Universal Width Styling */

@media(max-width: 500px) {
    .mobile-nav-home img {
        width: 92%;
    }
}

/* Universal Styling Higher Cascade Specificity */

.hidden {
    display: none !important;
}

.no-scroll {
    overflow: hidden;
}

@media (hover: none) {
    nav.main-navigation {
        display: none;
    }

    nav.mobile-navigation {
        display: flex;
    }

    .info-header>.info-header-left {
        display: none;
    }

    .info-header>.info-header-right {
        width: 100%;
        justify-content: center;
        color: white;
    }

    .info-header-right>div:nth-of-type(1) {
        border-left: none;
    }

    .info-header-right svg {
        display: block;
    }

    .info-header-right p.content {
        display: block;
        font-size: 0.7rem;
    }

    .info-header-right a.anchor {
        display: none;
    }

    .info-header-right>div {
        flex-direction: column;
        color: white;
        height: 100%;
        align-content: center;
        text-align: center;
        width: 33%;
    }

    .info-header-right a {
        color: white;
        font-size: 0.8rem
    }

    .info-header-right .info-wrapper {
        width: min-content;
    }

    .info-header-right .logo-wrapper {
        height: 50%;
    }

    p.content {
        white-space: normal;
    }

    .info-header {
        background: rgb(var(--primary-color));
        height: unset;
        padding: 1rem 0;
        max-width: unset;
    }

    .info-header-right>div:nth-of-type(-n + 2) {
        border-right: 1px solid rgba(200, 200, 200, 0.1);
    }
}