<section class="assisted-living-section">
    <div class="assisted-living-cta-wrapper">
        <img class="assisted-living-house" src="<%- pages.home.assisted_living.img_src %>" alt="pages.home.assisted_living.img_alt">
        <img class="assisted-living-sign" src="<%- pages.home.assisted_living.sign_img_src %>" alt="pages.home.assisted_living.sign_img_alt">
        <h2 class="assisted-living-title">
            <span class="title-top">Golden Gate Manor</span>
            <span class="title-bottom">Assisted Living Facilities</span>
        </h2>
        <p class="assisted-living-content section-text">Our management team has over 35 years experience in caring and providing for people dealing with mental illness and the elderly.
        Our passion is to make a comforting environment where you or your loved one feels right at home.</p>
        <p class="assisted-living-content section-text">Golden Gate Manor, and our other houses, are all family-owned and operated facility that offers highly personalized, compassionate, direct care to
        members of the community.</p>
        <a class="cta-button assisted-living" href="<%- links.about_us.href %>"><span class="read-more-plus">+ </span><%- links.about_us.title %></a>
    </div>
</section>
