<section class="hero-section">
    <hgroup class="hero-content">
        <div class="hero-content-wrapper">
            <h1 class="company-title">
                <span class="hero-title-welcome">Welcome to</span>
                <span class="hero-title-company-name">
                    <%- company.short_name %>
                </span>
                <span class="hero-title-slogan"><%- company.slogan %></span>
                <span class="hero-title-line"></span>
            </h1>
            <p>Our mission is simple here at Golden Gate Manor: to improve the quality of life each and every day. We proudly offer
            transportation services to not only our residents, but to Medicaid approved members of our community. Search our website
            for additional information or contact us with any questions.</p>
            <a href="<%- links.contact_us.href %>" class="cta-button contact-us-page"><%- links.contact_us.title %></a>
        </div>
    </hgroup>
</section>