<section class="medical-supply-section">
    <div class="medical-supply-cta-wrapper">
        <div class="medical-supply-cta-left">
            <img src="/images/medical-supply-inside-store.jpg" alt="Golden Gate Manor fleet lined up in front of the transportation building.">
        </div>
        <div class="medical-supply-cta-right">
            <h2 class="medical-supply-title">
                <span class="top-title nemt-card">Golden Gate</span>
                <span class="title-bottom nemt-card">Medical Supplies</span>
            </h2>
            <p class="medical-supply-content section-text">
                As a company, we are dedicated to improving the quality of life for individuals in need of durable medical 
                equipment. We offer a wide range of essential products, including wheelchairs, canes, diabetic shoes, transfer 
                beds, and more. Our goal is to provide comfort, mobility, and independence for every customer.
            </p>
            <p class="medical-supply-content section-text">
                Whether you're recovering from surgery 
                or managing a chronic condition, our knowledgeable team is here to support you with expert guidance and high-quality 
                products designed to meet your specific needs. At Golden Gate Medical Supply, we believe in empowering you to live life to the fullest.
            </p>
            <a href="https://goldengatemedicalsupply.com/pages/about-us" target="_blank" rel="noreferrer noopener nofollow" class="cta-button medical-supply"><span class="read-more-plus">+ </span>Learn More</a>
        </div>
    </div>
</section>