<section class="nemt-transportation-section">
    <div class="nemt-transportation-cta-wrapper">
        <div class="nemt-transportation-cta-left">
            <img src="/images/GGMT-Fleet.webp" alt="Golden Gate Manor fleet lined up in front of the transportation building.">
            <div class="nemt-transportation-card">
                <div class="card-front"></div>
                <div class="card-back">
                    <a href="tel:<%- company.phone_number_dispatch_toll %>"><%- company.phone_number_dispatch_format_toll %></a>
                    
                </div>
            </div>
        </div>
        <div class="nemt-transportation-cta-right">
            <h2 class="assisted-living-title">
                <span class="title-top">Non-Emergency</span>
                <span class="title-bottom">Medical Transportaion</span>
            </h2>
            <p class="nemt-transportation-content section-text">
                Colorado Medicaid clients can get transportation to any eligible Medicaid covered medical appointment. With our 
                fleet of over 40+ vehicles, Golden Gate Transportation is available when other methods of transportation may not be.
            </p>
            <p class="nemt-transportation-content section-text">
                Clients are required to go to the closest provider that meets their Medicaid medical needs. 
                If our client has a Medicaid approved appointment we are able to take them anywhere in the state of Colorado.
            </p>
            <a href="<%- links.nemt.href %>" class="cta-button nemt-transportation"><span class="read-more-plus">+ </span>Learn More</a>
        </div>
    </div>
</section>