<section class="non-medical-transportation-section">
    <div class="non-medical-transportation-cta-wrapper">
        <div class="non-medical-transportation-cta-left">
            <h2 class="non-medical-transportation-title">
                <span class="top-title non-medical-section">Golden Gate Manor</span>
                <span class="title-bottom non-medical-section">Non-Medical Transportation</span>
            </h2>
            <p class="non-medical-transportation-content section-text">
                We are proud to now offer Non-Medical Transportation to Medicaid eligible disabled and elderly 
                members of Pueblo County. Whether you need to run personal errands, or attend a family event, 
                Golden Gate Manor Transportation can get you there.
            </p>
            <ul class="non-medical-transportation-content-list">
                <li class="non-medical-transportation-content section-text">
                    If you are on Medicaid and on a Home Community Based Service Waiver, 
                    you may be approved for Non-Medical Transportation.
                </li>
                <li class="non-medical-transportation-content section-text">
                    Non-Emergent Medical Transportation (NEMT) is transportation to and from covered non-emergency 
                    medical appointments or services and is only available when a Health First Colorado (Colorado’s 
                    Medicaid Program) member has no other means of transportation.
                </li>
            </ul>
            <a href="<%- links.non_medical.href %>" class="cta-button non-medical-transportation"><span class="read-more-plus">+ </span>Learn More</a>
        </div>
        <div class="non-medical-transportation-cta-right">
            <img src="/images/home-cars-capitol-building.jpg" alt="Golden Gate Manor Cars outside Pueblo County Courthouse">
        </div>
    </div>
</section>