<section class="accessible-vans-introduction-section page-content section-content">
    <img src="/images/accessible-transportation-hero-shot.webp" alt="Golden Gate Manor Transportation cars lined up in front of dispatch office building.">
    <h2 class="section-title">Accessible Vehicles</h2>
    <p class="section-text">
        Here at Golden Gate Manor Transportation, we're passionate about improving the quality of 
        life for as many members of our community that we can reach. We understand that navigating 
        the world with mobility challenges can be an intimidating prospect. It's our mission to 
        change that, and we're thrilled to announce that we're taking steps to achieve it. We're 
        excited to share that we've expanded our accessible transportation services by rolling out 
        specially equipped vans with wheelchair accessibility. This ensures that more members of 
        our community can access reliable and convenient transportation. To book a ride with one 
        of our accessible vehicles, request one when calling in, or, if scheduling a ride online, 
        let us know that you need an accessible vehicle in the notes or special requirements section 
        of the form. Continue reading below to read about our mission for inclusivity.
    </p>
    <div class="cta-button-container">
        <a href="/contact-us" class="cta-button accessible-vans-page">Contact Us</a>
        <a href="/contact-us/schedule-a-ride" class="cta-button accessible-vans-page">Schedule a Ride</a>
    </div>
</section>