<section class="nemt-transportation-driver-safety page-content">
    <div class="nemt-transportation-driver-safety-text-content">
        <h2 class="section-title driver-safety">
            <span class="top-header-text">Safe Drivers</span>
            <span class="bottom-header-text">Camera Equipped Vehicles</span>
        </h2>
        <p class="section-text dark-background">
            There are both front and rear facing cameras installed in 
            all of our company vehicles. They have the added benefit of 
            ensuring our drivers are not distracted. In addition they 
            will be documenting any events that may occur while a 
            client is utilizing our services.
        </p>
    </div>
    <div class="nemt-transportation-driver-safety-image-content">
        <div class="driver-safety-images-dash">
            <img src="/images/vehicle-camera.jpg" alt="Vehicles equipped with front and back facing cameras">
        </div>
        <div class="driver-safety-images-camera">
            <img src="/images/distracted-driver-recognition.jpg" alt="Cameras recognize distractions">
            <img src="/images/dash-cam.jpg" alt="An example of the mounted camera">
        </div>
    </div>    
</section>