<section class="nemt-transportation-eligible-places page-content">
    <h2 class="section-title">Eligible Places of Services</h2>
    <div class="nemt-transportation-eligible-places-text">
        <ul class="section-list-container nemt-page">
            <li class="information-list-item">
                <p class="section-text">
                    Transportation of clients to/from a Medicaid enrolled 
                    provider to a Colorado Medicaid covered service.
                </p>
            </li>
            <li class="information-list-item">
                <p class="section-text">
                    Golden Gate Transportation services all regions in 
                    Colorado shown in green. Click on the map to see an 
                    expanded version.
                </p>
            </li>
            <li class="information-list-item">
                <p class="section-text">
                    Give us a call at <a href="tel:<%- company.phone_number_nemt %>"><%- company.phone_number_nemt_format %></a> for eligibility in your 
                    county. If after hours, call <a href="tel:<%- company.phone_number_dispatch_toll %>"><%- company.phone_number_dispatch_format_toll %></a>.
                </p>
            </li>
        </ul>
    </div>
    <div class="nemt-transportation-eligible-places-map">
        <div class="GGMT-service-area-map-container">
            <img src="/images/ggmt-service-map.jpg" alt="Map of Colorado Counties and our servicable areas">
        </div>
    </div>
</section>