<section class="nemt-transportation-eligible-places page-content margin-top-s" data-eligible-places-container>
    <h2 class="section-title">Eligible Places of Services</h2>
    <div class="nemt-transportation-eligible-places-wrapper">
        <div class="nemt-transportation-eligible-places-text nemt-transportation-content">
            <ul class="section-list-container nemt-page">
                <li class="information-list-item">
                    <p class="section-text">
                        Transportation of clients to/from a Medicaid enrolled 
                        provider to a Colorado Medicaid covered service.
                    </p>
                </li>
                <li class="information-list-item">
                    <p class="section-text">
                        Golden Gate Transportation services all regions in 
                        Colorado shown in green. Click on the map, or just zoom in if you're on a mobile device, to see an 
                        expanded version.
                    </p>
                </li>
                <li class="information-list-item">
                    <p class="section-text">
                        Give us a call at <a href="tel:<%- company.phone_number_nemt %>"><%- company.phone_number_nemt_format %></a> for eligibility in your 
                        county. If after hours, call <a href="tel:<%- company.phone_number_dispatch_toll %>"><%- company.phone_number_dispatch_format_toll %></a>.
                    </p>
                </li>
            </ul>
        </div>
        <div class="nemt-transportation-eligible-places-map nemt-transportation-content">
            <div class="GGMT-service-area-map-container" aria-modal="true" role="button" aria-hidden="true" data-map-container>
                <img src="/images/ggmt-service-map.jpg" alt="Map of Colorado Counties servicable area that includes all of Colorado excluding: Boulder, Larimer, Weld, Broomfield, Denver, Adams, Jefferson, Douglas, and Arapahoe counties">
            </div>
        </div>
        <script src="/scripts/eligibility-map.js"></script>
    </div>
</section>