<section class="non-emergency-transportation-top-page page-content">
    <div class="non-emergency-transportation-top-page-left">
        <p class="section-text">
            Non-Emergent Medical Transportation (NEMT) is transportation 
            to and from covered non-emergency medical appointments and 
            services; if it is a Medicaid approved appointment we can 
            get you there. With our fleet of over 40 vehicles, we can 
            make sure that our clients make it to and from their 
            appointments on time.
        </p>
        <table class="nemt-table">
            <tr class="nemt-row">
                <th colspan="2" class="nemt-header">Types of Transportation Available in Pueblo</th>
            </tr>
            <tr class="nemt-row">
                <td class="nemt-table-data">Bus</td>
                <td class="nemt-table-data">Citi Lift</td>
            </tr>
            <tr class="nemt-row">
                <td class="nemt-table-data">Mobility Van</td>
                <td class="nemt-table-data">Taxi Cab</td>
            </tr>
            <tr class="nemt-row">
                <td class="nemt-table-data">Private Vehicle</td>
                <td class="nemt-table-data">Non-Emergency Vehicle</td>
            </tr>
            <tr class="nemt-row">
                <td colspan="2" class="nemt-table-data">Mileage Reimbursement</td>
            </tr>
        </table>
        <a href="/pdfs/Medical Certificate of Transportation Service.pdf" target="_blank" ref="noopener" class="form-button">
            <div class="nemt-form-button-text-wrapper">
                <span class="top-btn-text nemt-text-span"><%- include('../../svg/pdf-file') %> DOWNLOAD HERE >>></span>
                <span class="bottom-btn-text nemt-text-span">Medical Certificate of Transportation Service Form</span>
            </div>
        </a>
    </div>
    <div class="non-emergency-transportation-top-page-right">
        <iframe width="100%" height="350" src="https://www.youtube.com/embed/L0ri78Tn3KE?si=ZJ9ln2nN5BcaaMgP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</section>