
<section class="accessbility-page-text page-content section-content">
    <h2>Accessibility Statement</h2>
    <p class="policy-text">
        As a business serving the public good, we are committed to 
        providing digital accessibility for people with disabilities. 
        We continue to work to improve user experience for everyone while 
        applying relevant accessibility tools and standards. 
    </p>
    <p class="policy-text">
        Our site is built with code that is compliant with W3C 
        standards for HTML and CSS. The site displays correctly in 
        current tested browsers using standards compliant with
        HTML/CSS code and should continue to display correctly on 
        future browsers. 
    </p>
    <h2>Measures to Support Accessibility</h2>
    <p class="section-list-description">
        Our company takes the following measures to ensure the 
        accessibility of the site:
    </p>
    <ul class="policy-unordered-list indented-unordered-list">
        <li class="policy-list-item">Ensures accessibility is part of their continuous improvement process</li>
        <li class="policy-list-item">Employs formal accessibility quality assurance methods</li>
        <li class="policy-list-item">Keeps abreast of the technical and legal aspects of accessibility to the best of their ability</li>
    </ul>
    <p class="policy-text">
        As a business, we make every attempt to ensure information 
        concerning our prices, promotions, and events are 
        understandable to all visitors, as well as our hours of 
        operation and location.
    </p>
    <p class="policy-text">
        While there are not clearly defined legal requirements for 
        commercial websites serving the public, we have a strong 
        commitment in meeting all visitor needs. If you encounter 
        content or features of the site that are not accessible to 
        those with disabilities, you may contact us using the form 
        below or by emailing us directly at
        <a href="mailto:accessibility@goldengatemanor.com">
            accessibility@goldengatemanor.com
        </a>. 
        Please provide the page and a brief 
        description of the content or functionality where the issue was 
        encountered, along with a suggestion for improvement. We 
        appreciate your feedback and comments as we continue our 
        journey to accommodate all visitors to our site in terms of 
        accessibility.
    </p>
    <h2>Contact Us</h2>
    <p class="policy-text">
        If you wish to report an accessibility issue, have any 
        questions, or need assistance, please contact us via the 
        Contact Form below or via email at 
        <a href="mailto:accessibility@goldengatemanor.com">
            accessibility@goldengatemanor.com
        </a>.
    </p>
</section>
<section class="contact-us-form page-content">
    <%- include('../components/contact-form') %>
</section>